[2020-11-05 02:18] johnjacobkenny commented on #614
LGTM

[2020-11-05 02:19] proful opened #615 "Default PDF Name if -o not provided"
![image](https://user-images.githubusercontent.com/354596/98189533-4683c500-1f69-11eb-89d4-a178fdb49c80.png)

PDF file name should be: levelsio-05-Nov-2020-12-41PM.pdf

`node . -i 1324164916287332353 -o david1`

if -o david1 omitted default PDF file name should be generated.

[2020-11-05 02:23] PuruVJ commented on #614
Sorry?

[2020-11-05 02:33] johnjacobkenny commented on #615
#602 contains this

[2020-11-05 02:38] proful opened #617 "There is no need to use node mailer configuration files"
Use env to store email user name and password

[2020-11-05 02:47] johnjacobkenny commented on #578
Closed by #602

[2020-11-05 02:47] #578 closed

[2020-11-05 03:13] RafaelBatman55 commented on #595
I can be responsible for this PR.

[2020-11-05 04:03] #617 closed

[2020-11-05 04:28] johnjacobkenny commented on #595
@RafaelBatman55 go ahead

[2020-11-05 04:34] proful opened #620 "PDF Profile information needs work"
![image](https://user-images.githubusercontent.com/354596/98198084-493be580-1f7c-11eb-80f6-9de99caa31c7.png)
![image](https://user-images.githubusercontent.com/354596/98198104-5527a780-1f7c-11eb-8e54-4b25ed64abc5.png)

[2020-11-05 04:35] proful opened #621 "PDF Multiple pages issues"
![image](https://user-images.githubusercontent.com/354596/98198185-8011fb80-1f7c-11eb-9c54-4f05503d3e89.png)

[2020-11-05 04:41] proful opened #622 "PDF Time stamp should be readable"
![image](https://user-images.githubusercontent.com/354596/98198479-2827c480-1f7d-11eb-9d05-b61bf6bdecce.png)

05 Nov 2020 5 PM IST

Timezone should be based on user who run the program.

Twitter timestamp are UTC needs to be converted to local TZ.

[2020-11-05 05:06] PuruVJ commented on #622
Here: https://github.com/twindle-co/twindle/pull/623

[2020-11-05 05:22] johnjacobkenny commented on #621
Here's my hunch on this, we would need to create "virtual pages" using divs stacked against each other. Each of these virtual divs would need top and bottom padding (or some kind of footer). The div height would need to match as per the A5 page height.

[2020-11-05 05:22] johnjacobkenny commented on #620
I think @JoelVinayKumar has added some design for this

[2020-11-05 05:35] tolgaerdonmez commented on #614
Nice research Puru, good idea.
But how other people will test the twindle-cli easily ? Isn't it hard for some of us to adjust nvm ? I also never used nvm.

[2020-11-05 06:29] UnevenCoder opened #625 "Set the New Hompage"

[2020-11-05 06:47] PuruVJ commented on #622
DOne finally. Without all those files https://github.com/twindle-co/twindle/pull/626

[2020-11-05 07:06] PuruVJ commented on #614
@tolgaerdonmez  You can just download NodeJS from the site.

But yes, those who need multiple versions will need nvm. All we need is a `.nvmrc` file in the directory, and the command `nvm use` would do it

[2020-11-05 07:08] tolgaerdonmez commented on #614
Oh that's a convenient way of switching around.

[2020-11-05 07:22] johnjacobkenny commented on #622
@PuruVJ next time in the PR description just add "closes #<issue number>"

[2020-11-05 07:22] #622 closed

[2020-11-05 07:23] johnjacobkenny commented on #622
Also, I don't see much value in having the timestamp for all tweets? The main timestamp (or date) should give a good indication

[2020-11-05 07:25] johnjacobkenny commented on #614
And I think I read somewhere that nvm will automatically pick up the rc file and switch any executions to the correct node version. Just need to verify tho.

[2020-11-05 07:29] proful commented on #614
Too much hassle imo 😉

[2020-11-05 08:11] PuruVJ commented on #621
There's a simpler way. We need to put everything in a table. Printing to PDf respects table. I've seen it firsthand on a script I wrote which did exactly what we are doing to generate a PDF

[2020-11-05 08:13] PuruVJ commented on #621
Or we could do this div {page-break-inside: avoid}

[2020-11-05 08:18] PuruVJ commented on #621
Hey @proful, can you post the link to this long thread so I may test it?

[2020-11-05 08:19] Akshay2996 opened #629 "Automation for the Teams Page"
I have created a Static Card using HTML & CSS for the Teams Page.

**Simple view of the Card**

![image](https://user-images.githubusercontent.com/37118877/98215631-0a9f2e80-1f6e-11eb-8f52-26e2651e011c.png)

---

**When hovering over the card**

![image](https://user-images.githubusercontent.com/37118877/98214855-09213680-1f6d-11eb-81e8-f0a977e528f3.png)

### Task to be done
- [x] Automate/Generat

[2020-11-05 08:38] arthurbuhl commented on #614
I think for the beginners we should keep things simple and straight to the point for now. Lets not try to make the learning curve too steep for this project.

[2020-11-05 08:59] #625 closed

[2020-11-05 09:11] UnevenCoder commented on #629
Could you send the html and css .. will try to do it in js , shouldn't be hard hopefully

[2020-11-05 09:19] teckiegeek commented on #4
Hello team, so did we finally select a logo for twindle out of these samples?

[2020-11-05 09:21] teckiegeek commented on #629
Nil @ javascript, but I really like this new design. Well done to everyone.

[2020-11-05 09:24] teckiegeek commented on #603
I am completely blown away. Welldone team!

[2020-11-05 09:26] UnevenCoder commented on #629
true btw color on hover should be darker blue will match the theme of the website nicely , what do you think ?

[2020-11-05 09:50] proful commented on #615
![image](https://user-images.githubusercontent.com/354596/98225092-65ee1280-1fa8-11eb-98ae-690e39481c59.png)

Default PDF file names need to be intelligent.

[2020-11-05 09:52] tolgaerdonmez opened #631 "Removing Emojis, Unicode characters when creating for kindle"
These characters should be deleted, kindle shows them as missing characters, which disrupts the experience.

[2020-11-05 09:53] tolgaerdonmez commented on #629
Hi @Akshay2996, from where you want to fetch the team, I can help you with this.

[2020-11-05 09:59] PuruVJ commented on #631
I've fixed the Emojis(Just like Twitter SVGs they are now). Don't know about Unicode characters.
![IMG-1193](https://user-images.githubusercontent.com/47742487/98226209-ba2ecd80-1f7b-11eb-86ea-f28a823966db.JPG)

[2020-11-05 10:03] johnjacobkenny commented on #615
Sure, I'll let someone pick it up

[2020-11-05 10:04] johnjacobkenny commented on #4
Not yet

[2020-11-05 10:04] proful opened #633 "PDF output changes"
![image](https://user-images.githubusercontent.com/354596/98226660-6e474d00-1faa-11eb-8ccf-d21f76b3b4f5.png)

[2020-11-05 10:22] tolgaerdonmez commented on #631
Oh okay this is solved that :), nice job!

[2020-11-05 10:22] #631 closed

[2020-11-05 11:01] Akshay2996 commented on #629
**It is already uploaded in the twindle-web inside teams folder.**
It is not hard to generate the card in javascript. It's just we have to call the function generateCard which contains the html. I am quite busy with other work but needed some help so that this can be wrapped up quickly.

[2020-11-05 11:03] Akshay2996 commented on #629
Hi @tolgaerdonmez there is a persons.js file inside teams folder which contains an Object from there we can fetch the data dynamically.

[2020-11-05 12:14] proful opened #636 "CLI Should Log sending to Kindle successful"
![image](https://user-images.githubusercontent.com/354596/98239836-b0798a00-1fbc-11eb-835d-75370d645c7b.png)

[2020-11-05 12:15] proful opened #637 "CLI Should log propper error message if env file is not configured correctly"
![image](https://user-images.githubusercontent.com/354596/98239948-d99a1a80-1fbc-11eb-9992-9b0470782f86.png)

[2020-11-05 12:35] #603 closed

[2020-11-05 12:41] proful commented on #629
@tolgaerdonmez you can fetch dynamic as well and get in touch with @johnjacobkenny he did some progress

[2020-11-05 12:57] Mira-Alf commented on #637
This is a fetch error? When did this happen exactly? I am still not satisfied with the error mechanism.. Just not sure how to fix the code. I am from a Java background and exception handling is seamless there.. But here I dont have sufficient information. Will try to research to see if there are good ways to handle these kinds of errors.

[2020-11-05 13:19] Mira-Alf commented on #636
Does this look good?
`Your file ${filename} has been sent to Kindle email address ${kindleEmail}`

[2020-11-05 13:22] Mira-Alf commented on #637
So I dug in to the code and found that :
`try {
    // this next line is wrong
    let tweets = require("./twitter/twitter_responses/response-version2-tweetthread.json");
    if (!mock) tweets = await getTweetsFromTweetId(tweetId);

    const outputFilePath = getOutputFilePath(outputFilename);
    await Renderer.render(tweets, format, outputFilePath);

    if (kindleEmail) {
      await sendToKind

[2020-11-05 20:52] Akshay2996 commented on #629
Hello everyone, I have created the Automated page for the Teams Page card. See the PR #640 or see the code inside the [team_details](https://github.com/twindle-co/twindle/tree/main/twindle-web/team_details) folder to check if it is working correctly & do review & make some changes in it as you feel like it.

[2020-11-05 20:53] Akshay2996 commented on #629
One of the two tasks is done.

[2020-11-05 23:24] proful commented on #636
Perfect

[2020-11-06 00:59] proful opened #643 "CLI Update README file with instruction to run puppeter"
https://github.com/twindle-co/twindle/pull/639#pullrequestreview-524776520

[2020-11-06 01:12] proful opened #644 "CLI puppetter when is rest coming?😊"
![image](https://user-images.githubusercontent.com/354596/98313998-36cbb580-2029-11eb-9dad-44b66af424f9.png)

8 tweets I can see!

[2020-11-06 01:13] proful opened #645 "CLI puppetter should work with only -i option?"
`node . -u https://twitter.com/naval/status/1002103360646823936 -p`

Not priority. But good if only need to pass ID

[2020-11-06 01:23] PuruVJ commented on #644
I'll help with that. We just need to make the viewport accomodate much more things like I showed yesterday.

[2020-11-06 01:28] PuruVJ commented on #622
I think we should replace the timestamp value of format "MMM d, yyyy h:mm aaaa" with just "MMM d, yyyy"

ie `Nov 12, 2001 12:23 pm` -> `Nov 12, 2001`

(BTW, that above is my birthday 😁🤣)

[2020-11-06 01:30] #621 closed

[2020-11-06 01:39] johnjacobkenny commented on #645
The problem is that the web scraper needs the entire URL. The api doesn't. That's why this was added now.

And imo it's a better experience to ask the user to paste the entire URL. Going forward we could consider merging both.

[2020-11-06 01:40] johnjacobkenny commented on #636
Closed by #638

[2020-11-06 01:40] #636 closed

[2020-11-06 02:01] PuruVJ opened #647 "Render rich content"
Right now images, video thumbnails, GIFs, embedded tweets, and user descriptions are all shown as links of the format `https://t.co/[STUFF]`. Render those out appropriately.

I'll be working on it. Help from @Mira-Alf would be really appreciated.

[2020-11-06 05:01] johnjacobkenny commented on #629
@Akshay2996 take a look at https://javascript.info/template-element

[2020-11-06 05:15] proful opened #651 "CLI fetch kindle email from .env file"
![image](https://user-images.githubusercontent.com/354596/98328947-1ca2cf00-204b-11eb-9ba6-f41b6a5a3cf1.png)

- store kindle email in .env file
- send to kindle if `-s` option passed. No need to pass email explicitely

[2020-11-06 05:50] johnjacobkenny commented on #637
You could take a look at https://javascript.info/try-catch#error-object to understand more about the error object and how to handle the specific case.

[2020-11-06 06:06] piratelicorne commented on #583
:octocat:

[2020-11-06 06:13] tolgaerdonmez commented on #629
@Akshay2996 we could fetch the team members from github api ?
We could then use either contributers or only the ones in the twindle-co organization ?

[2020-11-06 06:20] tolgaerdonmez commented on #651
I actually did that myself while testing but forgot to create a good version for pr 😁, gonna send a pr now.

[2020-11-06 07:59] proful commented on #629
@tolgaerdonmez go ahead and raise a PR.

We can update the person file with your script via cron task or github action daily or something like that

[2020-11-06 08:05] PuruVJ commented on #651
I'll create a PR. If empty -s is passed, it will automatically default to the .env file

[2020-11-06 08:13] Akshay2996 commented on #629
Yes @tolgaerdonmez we can do it that way too. I think that will be a great approach.

[2020-11-06 09:08] proful opened #656 "CLI Error in fetching url"
![image](https://user-images.githubusercontent.com/354596/98347618-bd08eb80-206b-11eb-9636-0e88f17792db.png)

![image](https://user-images.githubusercontent.com/354596/98347829-0fe2a300-206c-11eb-957d-6ba73dd65615.png)

https://twitter.com/vijaya_bhaskar_/status/1324626012265734144

@PuruVJ @vijaya-bhaskar

[2020-11-06 09:19] proful commented on #656
![image](https://user-images.githubusercontent.com/354596/98348789-4ec52880-206d-11eb-886b-8fc0aed2e32b.png)
https://twitter.com/johnjacobkenny/status/1324561342292897792

[2020-11-06 09:22] pranavgoel29 commented on #656
I am getting same message, and I think @PuruVJ is working on it.

[2020-11-06 09:45] PuruVJ opened #657 "Twitter API not fetching recent tweets"
I'm encountering a very weird issue. Whenever I try to run a very recent tweet(like less than an hour or so), it simple won't search it and return `search_results: 0`.

This seems to be quite variable.

Try this command for instance

[code]
Do it ASAP to see the behavior, then try one a few hours old.

I need your help @Mira-Alf @tolgaerdonmez

[2020-11-06 09:48] tolgaerdonmez commented on #657
sorry, I'm not at home right now :/

[2020-11-06 10:02] pranavgoel29 commented on #657
## Getting this error message.

![image](https://user-images.githubusercontent.com/48860494/98353362-380adb80-2045-11eb-9555-afd8d359d700.png)

[2020-11-06 10:06] PuruVJ commented on #657
Already fixed on my end. This isn't the problem

[2020-11-06 10:25] pranavgoel29 commented on #657
ok 😄

[2020-11-06 11:32] pranavgoel29 commented on #656
I have tried it once again and I am still getting this error.

![image](https://user-images.githubusercontent.com/48860494/98361627-e3ba2880-2051-11eb-978d-83de3d3eef78.png)

[2020-11-06 12:21] PuruVJ commented on #656
I'm not getting any errors other than the API not registering recent tweets at. Closing this.

[2020-11-06 12:21] #656 closed

[2020-11-06 14:46] tolgaerdonmez commented on #651
I did this, forgot to send the pr

[2020-11-06 14:47] tolgaerdonmez commented on #651
must be closed

[2020-11-06 14:59] #651 closed

[2020-11-06 15:01] teckiegeek commented on #629
Bravo! @Akshay2996

[2020-11-06 15:03] PuruVJ opened #662 "Handlebars element rendering messing up"
Here's some code in the `Thread.hbs`:

[code]

You can see than `a` is the parent of `div.link-box` here in this code. Well when it is rendered as html content, this is happening:
![image](https://user-images.githubusercontent.com/47742487/98380931-3bb35800-206f-11eb-8fe1-c7dce4ef9dee.png)

See? The order of elements is reversed.

I don't know what is happening. But we need this resolved to have e

[2020-11-07 01:53] PuruVJ commented on #657
False alarm. Fetching recent tweets was never the problem, the error was coming out when I was trying to map an empty **search** response, which was inevitable for single tweets. It has been fixed now.

[2020-11-07 01:53] #657 closed

[2020-11-07 01:55] PuruVJ commented on #647
Progress:

- [x] Images
- [ ] Video, GIF thumbnails also work, but we need indications to show that they are GIFs and Videos
- [ ] Link rendering almost done, but #662 is bothering me. Help needed there.
- [ ] Embedded tweet rendering - Have to start work on it, after the above 2 items are resolved.

[2020-11-07 01:58] PuruVJ commented on #645
Closing as merged

[2020-11-07 01:58] #645 closed

[2020-11-07 02:20] #615 closed

[2020-11-07 02:23] PuruVJ commented on #644
I've made the viewport much bigger, so we can get all the tweets now. Off Course, still need to check for the "Show Thread" button and click it, though that's upto @vijaya-bhaskar.

Close this Issue if you're satisfied with your initial request😊

[2020-11-07 02:44] proful opened #666 "CLI Error message needs cleanup"
![image](https://user-images.githubusercontent.com/354596/98430098-5208f480-20ff-11eb-8817-7e3d6ce7052b.png)

Only below message should be displayed. Can it appear in RED color with some emoji?

[2020-11-07 02:48] proful opened #667 "CLI Puppeter output broken"
`
node . -i 1002103360646823936 -p
`
![image](https://user-images.githubusercontent.com/354596/98430156-bc219980-20ff-11eb-9ce0-fa23ddb25a6e.png)

- it is opening chrome browser. it should not!
- avoid printing log message
- throwing error

@PuruVJ

[2020-11-07 02:49] PuruVJ commented on #666
I disagree. As this, as a CLI is programmer centric application, we'd need to know where the error is originating from.

[2020-11-07 02:49] PuruVJ commented on #666
Though we can make it red

[2020-11-07 02:50] proful commented on #666
in DEV=true mode print any trace.

Developers also human being 😊

[2020-11-07 02:51] PuruVJ commented on #667
cc @vijaya-bhaskar

[2020-11-07 03:01] proful opened #668 "CLI PDF Image rendering - Image cut"
`node . -i 1324461127040929793`

Images are rendering properly.

Instead of cutting is it possible to display a larger image on one separate page instead of splitting.

[david_perell-Nov-6-2020.pdf](https://github.com/twindle-co/twindle/files/5504209/david_perell-Nov-6-2020.pdf)

[2020-11-07 03:17] johnjacobkenny commented on #667
@PuruVJ I think this could be because of the change you made to create custom filename?

[2020-11-07 03:58] PuruVJ commented on #667
That's not me, I think

[2020-11-07 04:14] PuruVJ commented on #667
I'll have to look into how his code works and uses the renderer. Probably his structure needs to sync with the recent modifications I made.

[2020-11-07 05:31] johnjacobkenny opened #669 "Suggestions for Twitter module refactor"
Apart from the cleanup that @Mira-Alf is doing in the twitter module, just wanted to share some thoughts about twitter module refactoring. I have not understood all of the existing code, but would need help from @Mira-Alf and @PuruVJ to get this into a correct shape. Here is a suggested structure. Please share thoughts based on your understanding of the code, whether it will fit into this kind of

[2020-11-07 05:39] PuruVJ commented on #668
If it was a svelte template(Or something that offers reactivity), I would have been able to do some weird hacks, but here, you would have to write plain JS with selectors and callback, without dependencies, which I'm not comfortable about.

My opinion: I don't think image cutting is worse than just showing lot of blank space, cuz that is what would be the output.

[2020-11-07 05:45] PuruVJ commented on #662
Fixed, with some hacks.

Wrapping `a` in `<div>` worked

[2020-11-07 05:45] #662 closed

[2020-11-07 05:46] proful commented on #669
@johnjacobkenny I 💯 agree with your limited understanding.

PR 😇

[2020-11-07 06:15] johnjacobkenny commented on #669
Haha :rofl:

[2020-11-07 06:15] proful opened #674 "Puppeeter bug"
![image](https://user-images.githubusercontent.com/354596/98433632-d74ed200-211c-11eb-8201-11275a37f87d.png)
@vijaya-bhaskar

naval tweets
`node . -i 1002103360646823936 -p`

[2020-11-07 06:19] PuruVJ commented on #668
This is put off for now, being too complex.

But anyone who wishes to help is welcome. Just do your thing, Open a PR, and we'll test this feature extensively.

[2020-11-07 06:26] proful opened #675 "CLI send to kindle if -s option provided"
![image](https://user-images.githubusercontent.com/354596/98433763-35c88000-211e-11eb-9704-378efdfca3ad.png)

In this case mail shouldn't be sent.

[2020-11-07 06:31] PuruVJ commented on #675
I say we make -s a boolean, and take the value only from .env. Much more straightforward.

Or we can simply check if -s is empty, and accordingly not do anything

[2020-11-07 06:33] #614 closed

[2020-11-07 06:38] proful commented on #675
donot send to kindle
`node . -i 1002103360646823936 -p`

send to kindle
`node . -i 1002103360646823936 -p -s`

[2020-11-07 06:40] PuruVJ commented on #675
So we keep it boolean only, rather than optional string?

[2020-11-07 07:09] johnjacobkenny commented on #674
This is the issue that all tweets are being fetched, rather than just the original thread, right?

[2020-11-07 07:17] johnjacobkenny commented on #669
Me and @Mira-Alf are planning a 5PM IST call today through Zoom. If anyone is interested, may ping either of us for the link.

[2020-11-07 07:21] proful commented on #669
Please record and publish the link before hand to discord and Twitter group

[2020-11-07 08:33] PuruVJ opened #676 "Create resuable JSDoc types"
I've found a way to have make typescript style types in JS using comments only. It will allow us to define the more complex types(Response, tweet object, etc) all in a single file, and the usage would be as simple as

[code]

Will start work on it ASAP.

Will need reviews by those who have worked with the Twitter API extensively e.g @Mira-Alf

[2020-11-07 09:29] proful opened #678 "CLI hashtag bug"
![image](https://user-images.githubusercontent.com/354596/98437636-da0af080-2137-11eb-8dea-db0c9a961ce0.png)
`node . -i 1324924950747082758`
@PuruVJ

[2020-11-07 09:30] johnjacobkenny commented on #669
Okay

[2020-11-07 10:48] #678 closed

[2020-11-07 14:32] Akshay2996 commented on #629
@tolgaerdonmez I am looking into Github Api & have some questions

One Problem:
- Card I created has Url link for linkedin & other Website & a title.
- Using Github Api will restrict us with the github profile page of the user that we can use to fetch data if it is possible.

See this if we can have a workaround for this problem & also right now I'm unable to use Github Api.

- Getting the user de

[2020-11-07 15:27] piratelicorne commented on #669
Ohh I just read this 😅

[2020-11-07 15:36] Mira-Alf commented on #667
Is there some good links to understand how puppeteer works to fix this behavior. I can always google but I wont know if it is a good/correct solution. I have submitted some preliminary code to parse out tweet content for an array of tweets. If this part gets fixed, I can test out that module and fix some error handling in that part of the code.

[2020-11-07 15:38] Mira-Alf commented on #662
Awesome @PuruVJ. When I read this issue, I was wondering how we can nest div block tags inside an a tag which is inline.. But then read some more and understood that in HTML 5 this is permitted. So good, that you have fixed this.. Do you think inline vs block elements was causing this issue?

[2020-11-07 18:34] tolgaerdonmez commented on #675
I think it would be nice like this

s flag is a boolean, if true and email in env exists, send to kindle

also a --kindle-email, flag to enter the email from cli, if this exists always send

if this is okay, I'm gonna try implementing it.

[2020-11-07 18:56] proful commented on #675
Sounds good @tolgaerdonmez

[2020-11-07 20:41] tolgaerdonmez commented on #675
PR #685

[2020-11-07 20:44] tolgaerdonmez opened #686 "Fixing PDF page break"
I'm working on some things for this.

[2020-11-08 00:36] PuruVJ opened #688 "Remove try-catch from everywhere other than index.js"
Since there is a try catch error handling in very index.js itself, we don't need try catch in any other functions that run directly and indirectly inside the index.js (Which is all the functions, basically), as all errors and exceptions will be caught by the root try catch itself.

This will clean up the complete code significantly and make everything much more clearer and seemingly modular.

[2020-11-08 01:59] proful opened #689 "puppetter bug not working timeout"
![image](https://user-images.githubusercontent.com/354596/98455230-23078700-21c2-11eb-89ee-0e442ce03349.png)
`node . -i 1277933730078785537 -p`

[freelancing by tom hirst](https://twitter.com/tom_hirst/status/1277933730078785537)

[2020-11-08 03:06] johnjacobkenny commented on #674
Since I am looking into the twitter module refactor, I can't help out with this right now. Anyone else? @twindle-co/developer

[2020-11-08 03:09] Mira-Alf commented on #674
I will take a look at this.

[2020-11-08 03:14] Mira-Alf commented on #688
I think I have try catch blocks in a couple of places where fetch is called. I can clean that up.

[2020-11-08 05:05] JoelVinayKumar commented on #629
Guess restricting to github profile is fine. People want to follow other developers, they will find the profile and they can find further info in their profiles

[2020-11-08 05:59] johnjacobkenny commented on #669
I have pushed some changes to https://github.com/twindle-co/twindle/tree/twitter-module-refactor

@Mira-Alf @PuruVJ can start taking a look at the code. I am not yet pleased with the entire codebase, but just want to know if it works and all the scenarios are correctly captured.

[2020-11-08 06:20] PuruVJ commented on #669
Nice work @johnjacobkenny

[2020-11-08 06:24] proful opened #694 "CLI log color code"
![image](https://user-images.githubusercontent.com/354596/98458662-26613980-21e7-11eb-98b9-bfd34b616490.png)
naval-May-31-2018.pdf ==> red color
email address ==> some color

[2020-11-08 06:36] tolgaerdonmez commented on #629
I believe so

[2020-11-08 06:38] tolgaerdonmez commented on #629
@Akshay2996 what problem did you have while using github api, I could handle the api requests if you want. Let's discuss about it, I'll ping you on discord today, when I'm available.

[2020-11-08 08:42] #689 closed

[2020-11-08 08:43] #675 closed

[2020-11-08 08:44] #666 closed

[2020-11-08 09:07] Akshay2996 commented on #629
Me & @UnevenCoder are working on it Tolga. We have figure something out. Kudos to @UnevenCoder for this.

[2020-11-08 09:13] #688 closed

[2020-11-08 09:13] PuruVJ commented on #674
Been fixed now

[2020-11-08 09:13] #674 closed

[2020-11-08 09:14] PuruVJ commented on #633
Nearly all of these are done, and the rest are more specifically tackled in other issues. Closing.

[2020-11-08 09:14] #633 closed

[2020-11-08 09:16] PuruVJ commented on #555
Been inactive for 6 days. Is it resolved yet?

If it is, then please Close it.

[2020-11-08 09:17] PuruVJ commented on #571
Fixed now! Check out #693 #692

[2020-11-08 09:17] #571 closed

[2020-11-08 09:18] PuruVJ commented on #577
Fixed now.

[2020-11-08 09:18] #577 closed

[2020-11-08 09:22] PuruVJ commented on #604
@JoelVinayKumar We need only white background, as our primary target is Kindle.

It would be great if you could recommend some minimalistic designs keeping the same layout as below
![image](https://user-images.githubusercontent.com/47742487/98461433-13903a00-21d2-11eb-8a24-e89fd9da275e.png)

[2020-11-08 09:23] PuruVJ commented on #620
Fixed
![image](https://user-images.githubusercontent.com/47742487/98461449-30c50880-21d2-11eb-878a-a0cded62b681.png)

[2020-11-08 09:23] #620 closed

[2020-11-08 09:24] PuruVJ commented on #637
We have added a lot of validation and better error handling. Should we close it?

[2020-11-08 09:25] proful commented on #637
I will verify and close

[2020-11-08 09:25] PuruVJ commented on #644
The rest has come 😁!

#692 #693

[2020-11-08 09:25] #644 closed

[2020-11-08 09:26] PuruVJ commented on #667
Fixed now! #692 #693

[2020-11-08 09:26] #667 closed

[2020-11-08 09:26] UnevenCoder commented on #629
![image](https://user-images.githubusercontent.com/49345531/98461178-15023800-21bb-11eb-831b-c218041650f1.png)
I got rate limited ... can't say the reason 😆

 think this many parameters are enough :

full name
location
github link
company
blog
bio
twitter_username
Avatar of course too

the only thing that's affecting right now is load speed but I have decreased it but will still try to make a more

[2020-11-08 09:26] JoelVinayKumar commented on #604
You can follow this design. Just remove Twindle thread as heading

[2020-11-08 09:28] JoelVinayKumar commented on #604
The same design I gave can be made monochrome as well

[2020-11-08 09:28] PuruVJ commented on #604
I think we need to add a logo and stylised font, to show off a little branding. Can you propose minimalist design based on that?

A little screenshot with an SVG of logo or something would do.

[2020-11-08 09:29] UnevenCoder commented on #604
maybe something on the corners ?

[2020-11-08 09:35] PuruVJ commented on #604
I'm thinking a logo, and the text Twindle alongside it at the top. Nothing too grand, just some simple branding

[2020-11-08 09:38] #583 closed

[2020-11-08 09:59] #694 closed

[2020-11-08 11:09] vasudeveloper001 commented on #686
I am trying to change the design of pdf rendering, anyway to see the changes being made to .hbs file design while I am making it?

[2020-11-08 11:16] PuruVJ commented on #686
@vasudeveloper001 I spent lot of time working with the hbs file, and the closest I could come was generating a html file in the temporary folder, editing styles in the devtools and the applying them.

Otherwise, it'a all re-running the bloody thing over and over.

[2020-11-08 11:22] vasudeveloper001 commented on #686
That's what I am trying to do. Generate a temporary HTML file. How to do that?

[2020-11-08 11:24] PuruVJ commented on #686
It's already generating on every single build. If you're on Windows, OPen Windows explorar, enter %temp% in the address bar, the temp folder will open. Scroll down, and you'll see a hello.html there.

[2020-11-08 11:25] vasudeveloper001 commented on #686
Thanks. Got it.

[2020-11-08 11:38] johnjacobkenny opened #698 "Twitter module code freeze"
Let's focus on porting all extra additions since yesterday evening into the new branch for refactoring.

No more pr for Twitter module into main branch.

@proful @Mira-Alf @PuruVJ @tolgaerdonmez

[2020-11-08 11:43] tolgaerdonmez commented on #698
okay

[2020-11-08 11:47] PuruVJ commented on #698
Seems good. have you done it or should I make a pr syncing the right stuff?

[2020-11-08 12:00] proful opened #700 "puppeteer bug"
https://twitter.com/profulsadangi/status/1313797114946711552

not working

node . -i 1313797114946711552 -p -s

[2020-11-08 14:08] johnjacobkenny commented on #629
Check out this https://blog.covid19india.org/2020/09/04/architecture/

[2020-11-08 16:26] johnjacobkenny commented on #698
I think everything is in place. @Mira is working on her changes

[2020-11-08 18:17] Akshay2996 commented on #629
**Second Task** is achieved by @UnevenCoder Now the code refinement is needed & see if it is working properly for all the cases.

Kudos👏 to Ameen

!{image](https://cdn.discordapp.com/attachments/774583774184865812/775057427753205800/unknown.png)

[2020-11-09 00:25] proful opened #705 "PDF rendering issues - more white spaces"
On the Second page significant white space is appearing.

https://twitter.com/steveruizok/status/1284240038394462208

`node . -p -i 1284240038394462208 `

[2020-11-09 00:29] proful opened #706 "CLI new feature multiple thread in same page"
- same author/different author
- multiple threads
- single pdf

https://twitter.com/steveruizok/status/1284240038394462208
https://twitter.com/steveruizok/status/1286043966253785093

`node . -p -i 1284240038394462208,1286043966253785093 -s`

[2020-11-09 00:33] proful opened #707 "CLI new feature fetch based on user"
User https://twitter.com/dvassallo

`node . -u dvassallo -n 10`

- Fetch 10 recent tweets (not replies)

[2020-11-09 02:47] proful opened #708 "Epub generation"
Look and feel should be same as pdf

@tolgaerdonmez started working on it

[2020-11-09 02:48] proful opened #709 "Jest test cases"

[2020-11-09 02:49] PuruVJ opened #710 "Twitter refactor part: Is this granularity necessary"
I saw a file structure like this in the Twitter refactor:

![image](https://user-images.githubusercontent.com/47742487/98494628-74b41e00-2263-11eb-8f6d-73de15c54c8c.png)

And the contents look like this.
![image](https://user-images.githubusercontent.com/47742487/98494645-7f6eb300-2263-11eb-8b48-86b20977dfcf.png)

My question: Is it really necessary to split them up so much?
For example, It'll be

[2020-11-09 02:49] johnjacobkenny commented on #698
@Mira-Alf has added her changes and also added most of the changes @PuruVJ had added. I think all that's left is for @PuruVJ to add in the puppeteer latest changes into the twitter module, and delete the `twitter-puppeteer` module. Once that is done and we get a :+1: from @PuruVJ we can merge this in.

@PuruVJ you can also create a PR for the merging in part if you have time

[2020-11-09 02:51] johnjacobkenny commented on #706
We could start publishing books by authors :partying_face:

[2020-11-09 02:53] johnjacobkenny commented on #710
Yep fully agree. Go for it :+1:

[2020-11-09 03:22] PuruVJ commented on #706
This shit is getting real now!

[2020-11-09 03:23] PuruVJ commented on #709
@johnjacobkenny has already set some up, we'll get through to the end with this

[2020-11-09 03:28] proful commented on #709
@PuruVJ we need 80-90% test coverage. As this is extremely important, I count on you to take responsibility.

[2020-11-09 03:29] PuruVJ commented on #709
I'll try. But first, I'll have to learn testing 😂

[2020-11-09 03:58] proful opened #712 "prettier not working"
![prettier 2](https://user-images.githubusercontent.com/354596/98498855-0b9ccc80-229c-11eb-9919-4ab2577a63e3.gif)

as per config "singleQuote": false
Only double quotes should be allowed. Single quotes should be converted to double quotes.

@johnjacobkenny @PuruVJ

[2020-11-09 04:37] PuruVJ opened #713 "Clean up responseJSON"
We should introduce a function to clean up unneeded data (like contexts, annotations) responseJSON that's returned from the fetch requests.

## Why
#676 is all about introducing JSDoc typings. It is to provide typescript like intellisense experience while editing. You press Ctrl + Space, you get all the properties, their types, descriptions, whether they are optional or not. This alone will reduce

[2020-11-09 04:58] johnjacobkenny commented on #713
You can add it to the branch @PuruVJ, I think the refactor is essentially done, except for checking your changes.

[2020-11-09 04:59] johnjacobkenny commented on #709
It should be too easy for you @PuruVJ :partying_face:

[2020-11-09 05:01] PuruVJ commented on #713
My changes are barely anything. They don't change a bit.

And yes, I'm gonna do it in the branch only.

[2020-11-09 05:02] PuruVJ commented on #712
It's working perfectly for my editor when I press the format shortcut keys.
I've introduced some changes in the twitter branch. When they get merged, it might get fixed for you.

[2020-11-09 05:03] PuruVJ commented on #709
@johnjacobkenny Thanks for the confidence Kenny. Though I've never done any testing before, Imma do it right for this

[2020-11-09 06:07] tolgaerdonmez commented on #629
Happy to see this😊

[2020-11-09 06:28] Mira-Alf commented on #710
I didn't see this level of modularity. This makes sense.

[2020-11-09 06:30] PuruVJ commented on #710
@Mira-Alf No issue. I've replaced existing one with the much better snippet I provided above

[2020-11-09 06:32] PuruVJ commented on #713
No need for cleanup. I've set up typings for the fields that we'd need.

[2020-11-09 06:32] #713 closed

[2020-11-09 06:33] PuruVJ commented on #676
Check this out! `process.env` types are here for now
![image](https://user-images.githubusercontent.com/47742487/98507421-90c7b780-2283-11eb-8e17-70819110cbfd.png)

[2020-11-09 06:58] proful commented on #676
This looks really cool

[2020-11-09 06:59] PuruVJ commented on #676
Thanks.

Wait and watch. You are getting strongly typed code soon.

[2020-11-09 07:10] johnjacobkenny opened #714 "Spike: CLI - Integration with user's home folder and guided walkthrough"
I am just thinking of the next aspect of the cli. Once a brand new user npm installs twindle, we should be able to do all the initialization for twindle to the user's home folder (on all OSes) and whatever configuration needs to be stored centrally there in some kind of env file.

Also there would need to be some guided steps. The user should be guided through
- how to get the bearer token from tw

[2020-11-09 07:12] johnjacobkenny commented on #713
Great

[2020-11-09 07:13] johnjacobkenny commented on #710
The idea overall was to have a facade around the external library, so that in case we need to switch it out later, we can easily by making changes in a single file.

[2020-11-09 07:17] johnjacobkenny commented on #629
Good job everyone!

[2020-11-09 07:17] PuruVJ commented on #710
Yes! I agree. I've added cleanup logic, and some more stuff in that single file. kenny's idea was really good.

[2020-11-09 07:34] johnjacobkenny commented on #686
What about other OSes @PuruVJ

[2020-11-09 07:40] PuruVJ commented on #686
You'll have to Google "[INSERT YOUR OS NAME HERE] temperory folder"

[2020-11-09 07:57] johnjacobkenny commented on #686
I meant, is it implemented for other OSes too. I checked in `/tmp` on my linux machine and it is there. Perhaps add a flag to avoid creating that file for normal execution without dev mode?

[2020-11-09 08:26] PuruVJ commented on #686
Yes it is implemented for all OSs (uses tmpdir() from os module)

Hmm I think that would be better, and we should generate it in that folder itself, gitignored

[2020-11-09 08:39] johnjacobkenny opened #716 "CLI: Only create temp files if DEV mode"
- [ ] Add a check to ensure that the file is not generated without DEV mode
- [ ] Also optionally create a twindle folder within the tmp folder, and place more intermediate resources there for debugging - API output, etc.

_Originally posted by @johnjacobkenny in https://github.com/twindle-co/twindle/issues/686#issuecomment-723836483_

[2020-11-09 08:47] #710 closed

[2020-11-09 08:47] #669 closed

[2020-11-09 08:47] #676 closed

[2020-11-09 08:47] #698 closed

[2020-11-09 08:55] PuruVJ opened #717 "Meaningful failure messages"
twitter/api/helpers/fetch.js has this code

[code]
If the request fails, it throws the error that there's an error in the network, CHeck your network, etc. But it would give same error if the ID is invalid

![image](https://user-images.githubusercontent.com/47742487/98519941-713a8a00-2297-11eb-8292-13e8394c59c9.png)

How do we tackle this @Mira-Alf @johnjacobkenny?

[2020-11-09 09:19] johnjacobkenny opened #718 "twitter-module: Are these files needed?"
![image](https://user-images.githubusercontent.com/19240564/98522460-b90ee080-229a-11eb-920c-370d674b9237.png)

@PuruVJ @Mira-Alf

[2020-11-09 09:20] johnjacobkenny commented on #669
So this is working on my local machine, I clean wiped my twindle repo and setup everything from scratch, and it works perfectly! And this has been merged into main branch.

Everyone great work!!

[2020-11-09 09:23] proful commented on #669
Great efforts everyone 👍

[2020-11-09 09:25] PuruVJ commented on #718
Oops I've committed those old files. Deleting.

[2020-11-09 09:42] #718 closed

[2020-11-09 09:43] #716 closed

[2020-11-09 09:51] PuruVJ opened #722 "Make the -p flag irrelevant, just switch to to puppeteer if tweet older than 7 days"
Let's remove the need for the `-p` flag, and modify the code to switch to puppeteer if tweet is 7 days old.

Very easy to implement, no more than 5 lines needed.

Should it be done now, @johnjacobkenny @Mira-Alf @proful?

[2020-11-09 10:00] proful opened #723 "CLI Rendering link issue - preview image not displaying"
![image](https://user-images.githubusercontent.com/354596/98526928-7e26a000-22ce-11eb-8eab-21e4904c8900.png)

![image](https://user-images.githubusercontent.com/354596/98526962-87177180-22ce-11eb-865e-b209aee75ef2.png)

`node . -p -i 1312742534221832192`
[Example Thread](https://twitter.com/steveruizok/status/1312742534221832192)

[2020-11-09 10:05] proful commented on #712
I had to click Format Document and then select Prettier then it is working

![image](https://user-images.githubusercontent.com/354596/98527502-3a806600-22cf-11eb-9944-edb0fb0851f3.png)

[2020-11-09 10:05] #712 closed

[2020-11-09 10:09] PuruVJ commented on #712
Shortcut keys weren't working for you?

[2020-11-09 10:10] PuruVJ commented on #723
Can you send the link of that thread?

[2020-11-09 10:18] proful opened #724 "CLI test folder needs to go up"
test folder needs to go one level up.

Now: twindle-cli\twitter\test
Should be: twindle-cli\test

[2020-11-09 10:35] johnjacobkenny commented on #722
I'm okay with it, I don't think there is any other option if the tweet is older than 7 days old. But in terms of testing out code, could you think through it how the developer might run puppeteer code explicitly?

I'm thinking not just about puppeteer, but overall. Someone working on the EPUB should be able to run that flow without hitting the api (say) multiple times?

Every flow of the code if i

[2020-11-09 10:37] johnjacobkenny commented on #724
I'm open to debate whether we need a test folder or we should keep the tests side by side with each file

[2020-11-09 10:47] PuruVJ commented on #722
I say, we leave the -p there, but by default implement the switching. Most users simply would not care about the 7 day limit, they would just want their PDF.

[2020-11-09 10:48] PuruVJ commented on #722
I don't get it? Wouldn't all the rendering flows have to first go through fetching the tweets, with API or with puppeteer?

[2020-11-09 11:57] sarathkumar6 commented on #724
My two cents: the source code and test specs scaffolded separately address separation of concerns.
Yes, it the project is small and it might sound like why separate it but keeping the enhancements in the mind I feel better to have them in separate folders.

[2020-11-09 12:01] sarathkumar6 commented on #717
@PuruVJ What are the other error codes? Based on that we can come up with user friendly error messages.

500 - Sorry, our server is having issues. Please come back later
400 - Bad Request, possibly some useful information on what's wrong with the request.
401 - You're not authorized to access the app

@Mira-Alf @johnjacobkenny @proful

[2020-11-09 12:20] johnjacobkenny commented on #724
@sarathkumar6 so we would have one root level `tests` folder which would have multiple files testing each module? Do you think we should have a flat file structure in this `tests` folder?

[2020-11-09 12:22] johnjacobkenny commented on #717
Yeah, I think that this list looks good to start off with. In addition, we should handle any that the twitter API tells us to.

[2020-11-09 12:23] johnjacobkenny commented on #722
@PuruVJ Could you think about the flows and how we might make it easy for someone without the twitter api?

[2020-11-09 12:38] proful commented on #717
Looks good

However these are RESTful error codes. Relevant to CLI?

I don't remember any CLI throw or display these kind of errors.

As long as we use internally I am fine but we need to translate human readable error message to the CLI user.

[2020-11-09 12:54] johnjacobkenny opened #726 "Run twindle-cli and share output below"
Could everyone try to take the latest code and run twindle-cli. And please post your screenshots or any issues faced, or doubts :partying_face:

Here are couple instructions to get started,
1. Pull latest code
2. `cd` into `twindle-cli`
3. run `npm install`

then run the `index.js` file!!

BONUS: show output from Kindle mobile app (free) You can do it

[2020-11-09 13:02] proful commented on #726
Here is my output of a thread

![Screenshot_20201109_235946_com.amazon.kindle.jpg](https://user-images.githubusercontent.com/354596/98544265-dc13b180-22e7-11eb-83f8-66a928898a9a.jpg)

[2020-11-09 13:13] PuruVJ commented on #717
I'm thinking of errors like Invalid Bearer token, or unknown tweet, or something like that. The REST error codes can be answered with the NetworkError itself

[2020-11-09 13:19] johnjacobkenny commented on #717
Mira is looking into it and will share her findings

[2020-11-09 13:19] palashmon commented on #717
Maybe we can also start exploring other options also like: [winston](https://github.com/winstonjs/winston) or [morgan](https://github.com/expressjs/morgan)

[2020-11-09 13:27] EYRAM565 commented on #726
![Screenshot (64)](https://user-images.githubusercontent.com/68958520/98546909-519f6380-228f-11eb-94cf-b7a86308262b.png)

[2020-11-09 13:29] proful commented on #726
Great @EYRAM565 next try to send to Kindle mobile app

[2020-11-09 13:30] vasudeveloper001 commented on #726
![image](https://user-images.githubusercontent.com/56103269/98547105-aeb20e00-22bd-11eb-838c-a1f3fe03d5c9.png)

[2020-11-09 13:31] EYRAM565 commented on #726
okay.

[2020-11-09 13:32] proful commented on #726
@EYRAM565 can you please help @vasudeveloper001 in fixing his errors.

[2020-11-09 13:33] EYRAM565 commented on #726
@vasu001 you have to node . -i then the tweet id -o instead, fetch any id at all no matter the date.

[2020-11-09 13:34] vasudeveloper001 commented on #726
Done @EYRAM565

[2020-11-09 13:34] Mira-Alf commented on #717
## 200 response by Twitter
* Twitter sends a 200 response code in most cases when a request is successfully processed. But it also returns a 200 success response with an error message in some cases like when tweet id is for a deleted tweet
`{
"errors": [
  {
"detail": "Could not find tweet with ids: [1320717377537929217].",
"title": "Not Found Error",
"resource_type": "tweet",
"parameter": "ids",

[2020-11-09 13:35] EYRAM565 commented on #726
nice. can you try last months'?

[2020-11-09 13:39] Mira-Alf commented on #722
Switching to scraping if tweet is older is done by PR #727. Please take a look and approve it @johnjacobkenny  and @PuruVJ

[2020-11-09 13:42] vasudeveloper001 commented on #726
Wait, let me check. Meanwhile, I recommend this 279 tweets long thread maintained since last 2 years for our use case scenario. We will figure out all the shortcomings with this thread.

https://twitter.com/ARanganathan72/status/924574125938503680

[2020-11-09 13:44] vasudeveloper001 commented on #726
![image](https://user-images.githubusercontent.com/56103269/98548600-b83c7580-22bf-11eb-9b26-0d356380eb83.png)

[2020-11-09 13:44] Mira-Alf commented on #706
I was thinking about this implementation.
* Should I throw an error if the two tweet threads are not by the same author?
* How should the PDF format change for this.. Based on that my tweets object structure might change?
* Also I was planning on doing some validation checks and calling the getTweetsById function on each of the tweet ids. But @proful mentioned that we will have to make the code ef

[2020-11-09 13:46] Mira-Alf commented on #717
Nice, so these winston and morgan are logger options? Good. If someone can pick this up and set it up, then I can implement it in all the error scenarios..

[2020-11-09 13:47] proful commented on #726
@vasudeveloper001 this is mind blowing thread. I suggest create a issue and we can collect these threads, it will be great for testing 😊

[2020-11-09 13:47] PuruVJ commented on #717
@Mira-Alf Thanks. I've implemented most of these by testing the API with different paramters. Expect a PR soon.

[2020-11-09 13:49] proful commented on #726
@vasudeveloper001 add

 -p

At the end of your command and run

[2020-11-09 13:50] proful commented on #706
I want to have ability to combine multiple threads from multiple authors as well.

[2020-11-09 13:52] Mira-Alf commented on #717
Great @PuruVJ Thanks!

[2020-11-09 14:00] PuruVJ commented on #724
Yeah. We can make a twitter folder inside the tests folder, making everything more centralized. Good idea

[2020-11-09 14:01] PuruVJ commented on #706
Are we making a Twitter book publishing service? 🤣🤣

[2020-11-09 14:02] vasudeveloper001 opened #728 "Ultimate Thread for testing all our use cases"
I hereby suggest this thread with 279 tweets, maintained since last 2 years for testing all our use cases: https://twitter.com/ARanganathan72/status/924574125938503680

Some use cases I can think of:

Able to create a thread of complete tweets using any tweetid in that thread. Basically going upward to pull the first tweet and then scroll to the bottom. Something like that. This will require a new

[2020-11-09 14:05] vasudeveloper001 commented on #726
![image](https://user-images.githubusercontent.com/56103269/98550852-9b557180-22c2-11eb-8126-0b5f69c4824e.png)

Worked this time.

[2020-11-09 14:05] PuruVJ commented on #728
Holy Crap!! This is a whole book!

Our puppeteer code is simply not ready for this.

Plus, this would definitely fail on Serverless.

We'd need to test our limits.

cc @proful

[2020-11-09 14:06] vasudeveloper001 commented on #728
@PuruVJ True. You can always trust that person [Prof. Anand] to blow up any platform he goes. Lol

[2020-11-09 14:15] EYRAM565 commented on #726
![Screenshot (66)](https://user-images.githubusercontent.com/68958520/98552079-f624a400-2295-11eb-8bf9-03c9f2fa4501.png)

[2020-11-09 14:25] Mira-Alf commented on #728
I know this tweet by Anand Ranganath. Good sample tweet @vasu001. There are some more tweets in the Indian political space which we can use but I focused on tech Twitter so far. I think trueindology and saiswaroopa also have such long threads

[2020-11-09 14:27] vasudeveloper001 commented on #728
I tried finding threads with more than 100 tweets. His threads were the only one that popped up. I think it will push our code to all test limits.

[2020-11-09 14:29] tr0mbl3y commented on #728
another 100 + thread
[](https://twitter.com/SethAbramson/status/925032848582639616)

[2020-11-09 14:30] vasudeveloper001 commented on #728
This shows that only politics can bring up this much length in twitter. Lol

[2020-11-09 14:32] johnjacobkenny commented on #728
Good find @vasudeveloper001

[2020-11-09 14:33] Akshay2996 commented on #726
Hello everyone, I am facing issue👇 Don't know how/what to fill in place of tweet Id. Do we need to get access of the twitter api access to see the result? If so, then I have yet to get my twitter api access.

@johnjacobkenny @EYRAM565 Do see & help me out in this.
![image](https://user-images.githubusercontent.com/37118877/98554099-592e2f00-22c6-11eb-8bba-0b3bfc636556.png)

[2020-11-09 14:34] johnjacobkenny commented on #726
Does this run in current implementation

[2020-11-09 14:37] tr0mbl3y commented on #728
this is a long Disney thread for movies:
[long--->](https://twitter.com/disneyplus/status/1183715613266440192)

[2020-11-09 15:04] tr0mbl3y commented on #726
![Screenshot](https://user-images.githubusercontent.com/72851843/98557945-dc518400-22ca-11eb-9833-a540fa5e7eb9.png)

[2020-11-09 15:29] johnjacobkenny commented on #728
@PuruVJ do you think you could include gif in the output 😉

[2020-11-09 15:30] johnjacobkenny commented on #726
@Akshay2996 tweet id is the last set of numbers in the url when you open any tweet. But right now, yes you need to have the api key to be able to try it out

[2020-11-09 15:41] PuruVJ commented on #728
@johnjacobkenny I can't add GIF, as it simply wouldn't make sense for Kindle devices, but I'll add a GIF tag and a play button, which will open up Kindle's in built browser

[2020-11-09 15:43] PuruVJ opened #729 "Add loading spinner while the process is happening"
It would be a nice touch to add something like https://github.com/sindresorhus/ora to improve user experience.

[2020-11-09 16:02] sarathkumar6 commented on #724
@johnjacobkenny The scaffolding I visualize is as below

src code: `twindle-cli\src\`
     - twitter
     - helper
     - renderer
     - utils
test specs: `twindle-cli\tests\`
      - twitter
     - helper
     - renderer
     - utils

[2020-11-09 16:14] arthurbuhl commented on #729
This would be a really nice addition :+1:

[2020-11-09 17:11] PuruVJ commented on #724
This is perfect

[2020-11-09 18:30] Akshay2996 commented on #726
See My PDF file. Didn't expect the cli command to be simple & straight forward to use after getting twitter API access. Great work all around to the Twindle-cli Team & to everyone👏

![image](https://user-images.githubusercontent.com/37118877/98581430-7aebde00-22e7-11eb-9f4c-88ebcbb7be7d.png)

[2020-11-09 22:36] michaelcosj commented on #726
I finally got the twitter api access!!
Here are my screenshots of twindle-cli:
![twindle-cli-scrsht](https://user-images.githubusercontent.com/49528393/98604462-fe0b3500-22e3-11eb-95c8-786fece0c2fa.png)
![twindle-cli-thread-pdf1](https://user-images.githubusercontent.com/49528393/98604519-18dda980-22e4-11eb-8545-67e970bf821b.png)
![twindle-cli-thread-pdf2](https://user-images.githubusercontent.com

[2020-11-09 22:45] RafaelBatman55 commented on #726
I have some doubts as well.

1. How can I get my twitter api access?
2. What is that 'token'? How can I find?

[2020-11-09 23:12] michaelcosj commented on #729
I'd like to help implement this

[2020-11-09 23:13] michaelcosj commented on #729
sorry, closed it by accident

[2020-11-10 00:17] proful commented on #729
go ahead raise a PR @michaelcosj

[2020-11-10 02:26] johnjacobkenny opened #730 "Error in cli"
`node index.js -i 924574125938503680 -s -p` (https://twitter.com/ARanganathan72/status/924574125938503680)

**TypeError: Cannot read property 'author_id' of undefined**

I am on latest main branch.

With dev=true
![image](https://user-images.githubusercontent.com/19240564/98619911-2ddd2b80-232a-11eb-88e4-57be3b84d130.png)

And this error comes for older than 7 days tweet

[2020-11-10 02:33] johnjacobkenny commented on #724
Yes I agree

[2020-11-10 02:53] proful commented on #724
PR 😇

[2020-11-10 03:07] johnjacobkenny commented on #724
@PuruVJ you can go for this

[2020-11-10 03:09] PuruVJ commented on #730
How long is this thread??

[2020-11-10 03:12] PuruVJ commented on #728
The Twitter API limit we have now is 100, so no, I don't think we'd be able to do this. We could make it return the first 100 tweets.

[2020-11-10 03:14] proful opened #732 "CLI Embedded Tweet example"
[Exampe Thread](https://twitter.com/elamje/status/1280714011990913024)

![image](https://user-images.githubusercontent.com/354596/98623062-02c0ff00-235f-11eb-9444-62e820b11e40.png)

PDF output
![image](https://user-images.githubusercontent.com/354596/98623090-0eacc100-235f-11eb-90ac-868a54976b93.png)
`node . -i 1280714011990913024`

[2020-11-10 03:16] proful commented on #726
@twindle-co/developer someone please help @RafaelBatman55

[2020-11-10 03:25] Mira-Alf commented on #726
[Applying for developer access wiki](https://github.com/twindle-co/twindle/wiki/Applying-for-Developer-Access-from-Twitter)

[Answering questions on Twitter access application](https://github.com/twindle-co/twindle/wiki/How-to-answer-queries-when-applying-for-Developer-Access-from-Twitter)

Please read these two wiki pages for getting access from Twitter.

To understand the Twitter API and how it

[2020-11-10 03:28] RafaelBatman55 commented on #726
Thank you so much! I'll have a lot to study now!

[2020-11-10 04:15] proful opened #733 "PDF file name improvement"
now
❯ node . -i 1325822584269795331
Your tweets are saved into theSamParr-Nov-10-2020.pdf

expected
❯ node . -i 1325822584269795331 -a core-principles
Your tweets are saved into theSamParr-Nov-10-2020-core-principles.pdf

[2020-11-10 04:24] PuruVJ opened #734 "[UPDTATED WITH USAGE] ES Modules, without any build step"
Let's add ES Modules to our code!

## What?
Yes. Let's add ES Modules to our code.

## Why?
ES Modules have been the de-facto module system of the web for the last 5 years, but Node hasn't caught up yet. It still uses the old `require` method, which you can hook up with destructuring to get something like this.

[code]

And its fine, but it gets really aweful when you have something like this:
[co

[2020-11-10 04:29] PuruVJ commented on #729
@michaelcosj Are you working on it?

[2020-11-10 04:39] proful commented on #729
let @michaelcosj work at his own convenience

[2020-11-10 04:40] PuruVJ opened #735 "Move test checking to Github Actions"
Right now, tests are run when any commit is made, locally and globally. This is undesirable, as sometimes we need to switch branches to see some code. For that we need to commit the code. This code is very unstable and simply not ready. Git husky simply doesn't allow to commit these if tests are breaking(which they definitely are, cuz the code is simply not ready). This is very inconvenient.

I re

[2020-11-10 05:18] johnjacobkenny commented on #728
Sounds good, I think the issue I raised might be because of this limit. #730

[2020-11-10 06:41] johnjacobkenny commented on #735
Yeah I added an action and removed husky. See if that suits our requirement.

[2020-11-10 06:41] #735 closed

[2020-11-10 06:48] johnjacobkenny commented on #734
Today I learnt about esm from reading your article. I think that the codebase is evolving way too fast for newbies to understand. The typings are now added to all functions and I don't know how easy it is for beginners to understand it. We might as well add TS support at this stage lol :rofl:

If we are to stay true to our original idea of being beginner friendly, we should take some inputs from t

[2020-11-10 07:29] PuruVJ commented on #734
@johnjacobkenny We'll have to think when to do it and how to do it. Using these tools will add the complexity of having to keep one terminal open for watch, and the other to test. That's not much problem if the user is simply running the code. But for beginners, running `npm start`, then opening another terminal and start testing would be quite radical. We can always introduce the option to compil

[2020-11-10 07:43] SarveshKadam opened #739 "Remote design/image missing under " Who We Are " section under twindle-web"
##### Image is missing under " Who We Are"  section

There no image.png file present under images folder

[code]

![image](https://user-images.githubusercontent.com/66166738/98644286-4400e100-2356-11eb-8163-56e03a589e57.png)

[2020-11-10 08:29] johnjacobkenny commented on #595
Curious if this is working as expected?

![image](https://user-images.githubusercontent.com/19240564/98648994-03f12c80-235d-11eb-92eb-97619a3a6961.png)

[2020-11-10 08:31] johnjacobkenny commented on #600
![image](https://user-images.githubusercontent.com/19240564/98649052-1b301a00-235d-11eb-83b9-89438e7e3472.png)

Fixed it. I had emailed github support asking what the problem was. They mentioned its in `docs/articles/sync-to-main-repo.md`. I took a look and it had two `---` lines in it. I think jekyll was having trouble detecting both as front matter or something along those lines.

[2020-11-10 08:31] #600 closed

[2020-11-10 08:32] proful commented on #600
That's great @johnjacobkenny

[2020-11-10 08:34] proful commented on #595
this is also broken

[2020-11-10 08:42] EYRAM565 opened #741 "Sending pdf to my kindle email after running the command and this Error: connect ECONNREFUSED 127.0.0.1:465 occured"
![Screenshot (79)](https://user-images.githubusercontent.com/68958520/98650372-b3fc7080-2330-11eb-9638-4131c42ad582.png)

[2020-11-10 08:47] proful commented on #741
@twindle-co/developer Error message should be improved!

[2020-11-10 08:51] arthurbuhl commented on #741
This can be related to #717

[2020-11-10 10:14] johnjacobkenny commented on #739
Good spot! @vasudeveloper001 @Akshay2996 @UnevenCoder

[2020-11-10 10:14] proful opened #744 "twitter-api:token-not-passed: Please provide the token"
![image](https://user-images.githubusercontent.com/354596/98660670-aaf3b980-2399-11eb-9561-03d134c0182a.png)

@PuruVJ @tolgaerdonmez something goes wroing?

[2020-11-10 10:15] tolgaerdonmez commented on #744
It occurs when the auth token is not in the .env file

[2020-11-10 10:19] proful commented on #744
![image](https://user-images.githubusercontent.com/354596/98661185-4422d000-239a-11eb-8e11-05211331f721.png)

@tolgaerdonmez it is throwing a misleading error message. It worked for the second try with different id

[2020-11-10 10:23] PuruVJ commented on #744
@proful  set DEV=true in .env, send screenshot of those logs, and also please paste the tweet ID here

[2020-11-10 10:26] proful commented on #744
`node . -i 1280714011990913024`
![image](https://user-images.githubusercontent.com/354596/98662061-5b15f200-239b-11eb-99bf-38938414cb67.png)

[2020-11-10 10:35] proful opened #747 "CLI Empty page is generating in PDF"
`node . -i 1326033234891841536`

[2020-11-10 10:37] proful opened #748 "CLI epub the download message should be displayed on DEV=true"
![image](https://user-images.githubusercontent.com/354596/98663118-c90ee900-239c-11eb-8f7c-e0a20a8017fb.png)

[2020-11-10 10:39] PuruVJ commented on #744
cc @Mira-Alf

[2020-11-10 10:40] proful opened #749 "CLI epub Table of Content suggestions"
![image](https://user-images.githubusercontent.com/354596/98663380-20ad5480-239d-11eb-8e19-86db4017eec9.png)

Remove
1. - Table Of Contents -
2. Chapter 1

Update with (show 25-30 letter from tweets)
1.  This is also applicable for
2.  Of course, you can turn a

[2020-11-10 11:06] Mira-Alf commented on #744
That's odd. I will take a look at this

[2020-11-10 11:15] PuruVJ commented on #744
@Mira-Alf You may wanna take a look at the _renderEmbeddedTweets function in the rich-renderer.js I'm running a getTweetByID there too, so the error might have something to do  with it.

I'm already looking, but would be nice to have an extra pair of eyes

[2020-11-10 11:21] #708 closed

[2020-11-10 11:27] #744 closed

[2020-11-10 11:28] PuruVJ commented on #747
Working fine for me
![image](https://user-images.githubusercontent.com/47742487/98668484-f5fbd580-2375-11eb-875d-fba31e804e73.png)

[2020-11-10 11:44] proful commented on #747
3rd page is empty

[2020-11-10 11:49] UnevenCoder commented on #739
@teckiegeek has been working on it and testimonials section for some time now 😀, should be creating a pr hopefully tommorow

[2020-11-10 11:55] UnevenCoder commented on #629
Codes more human friendly now
https://github.com/twindle-co/twindle/pull/750

Would be great if someone could review it .

[2020-11-10 12:23] johnjacobkenny opened #752 "Twitter TOS - Scraping may be a problem"
![image](https://user-images.githubusercontent.com/19240564/98673630-a0c3c200-237d-11eb-94b5-480237c7128f.png)
https://twitter.com/en/tos

[2020-11-10 12:32] Mira-Alf commented on #752
Interesting.. We are only scraping the ids from the page - not the explicit content of Twitter and then using the Twitter API to fetch all data related to the tweets. But I guess this would still be a violation.

[2020-11-10 12:37] UnevenCoder commented on #734
I am all for it , seems pretty cool :)

[2020-11-10 13:01] Mira-Alf commented on #734
I am all for it. Coming from a statically typed language like Java background, I hate Javascript for the way it abuses its types. But one step at a time. I am fine with going ahead with this..

[2020-11-10 13:12] johnjacobkenny commented on #734
Yeah I'm sure many things looked alien. But it has its pros and cons :smiley:

[2020-11-10 13:29] tolgaerdonmez commented on #734
I learned this from your article and sounds awesome. I think we could go with this instead of using babel to compile our code.
Nice write @PuruVJ

[2020-11-10 13:31] PuruVJ commented on #734
My article?

[2020-11-10 13:40] proful commented on #734
@PuruVJ I am accepting this extra dependency as many favors it 😂

Raise PR with esm and refactored code.

[2020-11-10 14:26] shekhar10feb opened #753 "JavaScript Code"
In the link
https://github.com/twindle-co/twindle/blob/7315f9fa05ef55a2278ee73c1634392653fea635/twindle-web/team_details/team_details.js
,if someone wants to understand how the code in the last lines are working, as shown below

![wlt](https://user-images.githubusercontent.com/72906055/98683793-77aa2e00-238b-11eb-8660-44b06335f44c.JPG)

I asked about this code to @UnevenCoder. He hepled me in unde

[2020-11-10 14:27] #753 closed

[2020-11-10 14:30] johnjacobkenny commented on #753
@shekhar10feb why don't you create this into an article also :smiley:

[2020-11-10 14:33] shekhar10feb commented on #753
Yeah, I am creating

[2020-11-10 15:17] johnjacobkenny commented on #724
No problem, I have committed this change.

[2020-11-10 15:17] #724 closed

[2020-11-10 16:13] RafaelBatman55 commented on #595
I tried to keep in this list just the Google Meet's video playlist, but didn't work. 👎

Hopefully @Akshay2996 checked this problem and prepared PR #743 (already merged).

[2020-11-10 16:33] johnjacobkenny commented on #595
Yes I think so

[2020-11-11 02:25] proful opened #756 "Cli bug twitter api fetching"
![image](https://user-images.githubusercontent.com/354596/98757782-5b58d080-2421-11eb-9129-4673d5874ca2.png)
[Example thread](https://twitter.com/david_perell/status/1307811967428702208)

`node . -i 1307811967428702208`

[2020-11-11 03:04] proful opened #757 "PDF name minor issues"
![image](https://user-images.githubusercontent.com/354596/98760005-64986c00-2426-11eb-95c2-5addecd93425.png)
Remove @ from beginning of the file name

[2020-11-11 03:15] proful opened #758 "CLI Edge cases Not able to read thread properly"
https://twitter.com/b0rk/status/1326162989335064578

`node . -i 1326162989335064578`

[2020-11-11 04:37] madhusudanbabar commented on #757
I'll do it

[2020-11-11 04:38] madhusudanbabar commented on #733
I'm working on this

[2020-11-11 04:56] johnjacobkenny commented on #757
Thanks @madhusudanbabar :partying_face:

[2020-11-11 08:35] proful commented on #686
@tolgaerdonmez any updates?

[2020-11-11 09:06] #757 closed

[2020-11-11 09:35] vasudeveloper001 commented on #733
I added a little improvement for the same where it checks for appendName first to decide whether to add the hyphen (-) at the end of the file or not.

[2020-11-11 09:38] vasudeveloper001 commented on #686
@tolgaerdonmez Are you still working on it? Or is it nearly finished?

[2020-11-11 09:45] tolgaerdonmez commented on #686
I couldn't find any time to look any further to this, while dealing with other things, but I have a question on my mind?

Why do we simply make the pdf one page? It doesnt need to be paged I think.

[2020-11-11 09:48] madhusudanbabar commented on #758
I'll try this.

[2020-11-11 09:52] proful commented on #732
fixed

[2020-11-11 09:52] #732 closed

[2020-11-11 09:55] proful opened #765 "CLI PDF rendering of embedded tweets"
`node . -i 1280714011990913024`
https://twitter.com/elamje/status/1280714011990913024
![image](https://user-images.githubusercontent.com/19240564/98934205-bd8c0100-2507-11eb-9dbf-4b9fce624c60.png)

![image](https://user-images.githubusercontent.com/354596/98796895-05efe400-2460-11eb-933e-4061bf195309.png)

Please add left & right margin to tweet contents

[2020-11-11 09:58] proful commented on #765
@shekhar10feb do you want to give it a try?

[2020-11-11 09:59] #733 closed

[2020-11-11 10:23] lh536 commented on #726
This is the process step by step from the beginning.
1. First I copy the folder twindle-cli.

2. Then in a console typed `npm install`

![image](https://user-images.githubusercontent.com/37967244/98799488-2fb3f700-23dd-11eb-920b-37bce362a909.png)

3. Then `node index.js -i 1324987033039745026` and I got this message

![image](https://user-images.githubusercontent.com/37967244/98799861-ab15a880-23d

[2020-11-11 10:38] lh536 commented on #726
Thank you Mira!

One more question... If I don't misunderstood every member have to apply for developer access on twitter, right?

[2020-11-11 10:40] johnjacobkenny commented on #726
Currently, in order to run the cli the user needs to have the token

[2020-11-11 10:41] frankiefab100 commented on #765
I would like to work on this

[2020-11-11 10:43] shekhar10feb commented on #765
Yes, I will

[2020-11-11 10:45] lh536 commented on #726
Thank you Kenny! I'm apply for dev-access it right now.

[2020-11-11 10:48] proful commented on #765
@frankiefab100 I will assign another ticket for you

Let @shekhar10feb take care of it

[2020-11-11 10:50] frankiefab100 commented on #765
Alright

[2020-11-11 10:51] proful opened #766 "CLI PDF changes to profile"
![image](https://user-images.githubusercontent.com/354596/98802841-fd031080-2467-11eb-9a66-a5ccb62da6c9.png)

Move Thread created to after Number of tweets
@frankiefab100 can you start looking at it

[2020-11-11 11:21] PuruVJ commented on #686
PDfs are already paged by default. I don't think we have much say in the matter.

[2020-11-11 11:38] madhusudanbabar commented on #758
I'm facing some troubles now

I tried to create the thread manually and tested on my own thread
here is the link https://twitter.com/MadhusudanBabar/status/1326484312108249088
![Screenshot (117)](https://user-images.githubusercontent.com/28552728/98807192-4ccde180-2440-11eb-8d62-ca65f0e9a61c.png)

but I'm getting the error `TypeError: Cannot read property '0' of undefined`

can anyone confirm with

[2020-11-11 11:43] tolgaerdonmez commented on #749
Out of my research on epub-gen's doc, I could only add chapters to Table of contents by adding chapters.
Then I rendered tweet by tweet and created a seperate chaptered epub. But because of the page breaks I think it is a bit annoying.

![First page](https://user-images.githubusercontent.com/45141388/98807784-3ae24380-242c-11eb-970f-e25cd30715fc.jpeg)

[2020-11-11 12:32] proful commented on #749
Page breaks for each tweets doesn't seem good.

May be remove the contents

And add little text to chapter 1

[2020-11-11 12:33] proful commented on #758
@johnjacobkenny @PurUVJ @Mira-Alf can anyone help @madhusudanbabar

[2020-11-11 12:34] tolgaerdonmez commented on #749
If works, I'll add a custom contents page and add anchor links to navigate.

[2020-11-11 12:43] johnjacobkenny commented on #706
@proful Puru in his limited understanding might have laughed at your idea, but we might be able to charge premium to users who would like to generate books from their tweets. I can assume there are a few people who would want to get that feature. Many people write a lot on twitter. If they could have their entire history worth of tweets made into a book in one click, isn't that worth paying for ❤️

[2020-11-11 12:49] proful commented on #706
We will get tons of paying customers sooner than later 😊

[2020-11-11 12:55] PuruVJ commented on #706
Humor aside, I find this idea really good, @proful and Kenny.

[2020-11-11 12:57] PuruVJ commented on #758
These issues are happening b'coz there's a deleted tweet there. haven't tested for those yet.

[2020-11-11 13:00] proful commented on #758
@madhusudanbabar can you please check this if it is deleted tweets skip that specific tweet.

[2020-11-11 14:50] madhusudanbabar commented on #758
Just one tweet from that thread was deleted,

But when i visit with the URL this tweet is available, the IDs posted are not deleted, i deleted different one

You can verify with
twitter.com/MadhusudanBabar/status/id

[2020-11-11 15:50] tr0mbl3y opened #768 "Some edge cases and possible fixes which must be tested"
some cases that i noted:
1.  in `transformation/helper.js` file
problem: this regex---> ` /https?:\/\/twitter.com\/[a-zA-Z_]{1,20}\/status\/([0-9]*)/g `--> will give empty array when passed with url having username in digits : `https://twitter.com/9898abcxyz/status/999999999`
possible solution:
a): `/https?:\/\/twitter.com\/[a-zA-Z_0-9]{1,20}\/status\/([0-9]*)/g `-->do this
or
b) a direct method l

[2020-11-11 16:56] frankiefab100 commented on #766
Okay, I'm going to do that

[2020-11-11 17:00] frankiefab100 commented on #766
Please where can I locate this?

[2020-11-11 22:30] #722 closed

[2020-11-11 22:32] PuruVJ commented on #717
Is this issue resolved fully? Can it be closed?

[2020-11-11 22:34] PuruVJ commented on #766
It's in rendering/templates/Thread.hbs

Beware! The CSS there is extremely messy and haphazard, what with me adding rendering features like crazy!

Stay sharp.

Thanks for your contributions

[2020-11-11 22:40] #729 closed

[2020-11-11 23:17] frankiefab100 commented on #766
@PuruVJ Alright, thank you.

[2020-11-12 01:06] proful opened #771 "CLI user fetch thread created date"
![image](https://user-images.githubusercontent.com/354596/98881934-43478680-24df-11eb-8277-79d255f6152e.png)
Threadcreated:Mar14,2009
This date should be CLI run date.

`node . -u dvassallo -n 10`

@Mira-Alf you no need to fix this. Let someone new to the codebase fix this.

[2020-11-12 01:12] proful opened #772 "CLI PDF rendering twitter profile clickable link"
![image](https://user-images.githubusercontent.com/354596/98882409-42632480-24e0-11eb-8197-de80d0e34ce1.png)
`node . -u dvassallo -n 10`
Make dvassallo clickable link. https://twitter.com/dvassallo

[2020-11-12 01:15] proful opened #773 "CLI user fetching Render - Tweet published date"
![image](https://user-images.githubusercontent.com/354596/98882564-ab4a9c80-24e0-11eb-9240-36ea92227478.png)

Tweet published date is relevant when fetching tweets based on user.

`node . -u dvassallo -n 10`

[2020-11-12 01:29] PuruVJ commented on #771
What exactly is the issue here? Shouldn't we be showing the date the thread was created on, in the right place?

[2020-11-12 01:44] proful opened #775 "CLI puppeteer fetch user"
`node . -u ProfFeynman -n 100`

Only 9 returning.

puppeteer should fetch ids and pass it to twitter module

[2020-11-12 01:51] #775 closed

[2020-11-12 01:51] PuruVJ commented on #775
Why closed so soon?

[2020-11-12 01:52] proful commented on #775
:) have to think more before introducing scrapping

[2020-11-12 02:06] proful commented on #752
![image](https://user-images.githubusercontent.com/354596/98886293-e0a6b880-24e7-11eb-9f80-04b2081fb027.png)
https://twitter.com/robots.txt

[2020-11-12 02:08] proful commented on #752
https://github.com/twintproject/twint/issues/659
https://github.com/twintproject/twint/issues/313
https://github.com/twintproject/twint/issues/241

[2020-11-12 02:16] proful commented on #752
We will keep reading more about scrapping & try to avoid using itit.

[2020-11-12 05:55] #593 closed

[2020-11-12 05:55] #629 closed

[2020-11-12 06:20] Akshay2996 opened #778 "Enhancing the twindle-web Landing page"
**We are going make twindle-web look more exciting & user friendly using just Html, CSS & a little bit of JavaScript**

- Right now our initial design looks like this:

![image](https://user-images.githubusercontent.com/37118877/98902415-b6e79480-24db-11eb-9014-f2150250b854.png)
![image](https://user-images.githubusercontent.com/37118877/98902426-b9e28500-24db-11eb-9722-989d051c76c4.png)
![image](

[2020-11-12 06:33] madhusudanbabar commented on #758
this is not a proper solution but I found another way to get it, by means of the referenced tweet's id from the `expansions` and then getting the contents of that tweet id and repeating the same process until there are no referenced tweets, but this actually goes in reverse order, means we need to check for the id of the last tweet and from that, we traverse back to the first tweet.
![twindle_twee

[2020-11-12 06:42] proful commented on #758
Very good analysis @madhusudanbabar

@PuruVJ and @Mira-Alf any comments?

[2020-11-12 06:59] proful opened #780 "CLI issues"
![image](https://user-images.githubusercontent.com/354596/98906224-d5b44e00-2510-11eb-9458-cab5a181c890.png)
`node . -u ProfFeynman -n 10`
FYI @PuruVJ

[2020-11-12 07:17] #637 closed

[2020-11-12 07:20] #700 closed

[2020-11-12 07:21] #717 closed

[2020-11-12 07:22] #730 closed

[2020-11-12 07:22] PuruVJ commented on #734
Not possible with esm, as jest simply doesn't work with it. Closing

[2020-11-12 07:22] #734 closed

[2020-11-12 07:23] PuruVJ commented on #780
Reverted version should work.

[2020-11-12 07:23] #780 closed

[2020-11-12 07:24] tolgaerdonmez commented on #749
I see that epub-gen is also using anchor links, but from a reason I yet don't understand, the ids that I set to elements won't work. I created an issue to epub-gen's repository hope someone will help

[2020-11-12 08:09] proful commented on #749
@johnjacobkenny for you to help when you get a chance

[2020-11-12 08:42] vasudeveloper001 commented on #756
I am working on this issue. Others can continue to work as well as festive season started here.

[2020-11-12 08:48] johnjacobkenny commented on #734
Doesn't jest have any esm mode

[2020-11-12 10:09] proful opened #782 "Create mobi without Calibre"

[2020-11-12 10:52] johnjacobkenny commented on #686
@tolgaerdonmez are you suggesting that we might provide custom dimensions for the pdf? Can we make it a single long page? 😲

[2020-11-12 10:54] johnjacobkenny commented on #778
I can give this a try if I can have a copy of our Figma design by Joel. Could someone point me in the right direction if that is the way we want to take this?

[2020-11-12 10:58] johnjacobkenny commented on #768
@PuruVJ @Mira-Alf identify the issues, and create separate issues so someone else can pitch in. If nobody steps up in 2 or 3 days, then either of you can take it up

[2020-11-12 12:24] EYRAM565 commented on #741
The issue has been resolved, for anyone wanting to yahoo mail in sending the twitter thread to kindle app
HOST=smtp.mail.yahoo.com
PORT=465
EMAIL=
PASS=(this will not be the original password to your email but rather the password generated from the Generate app password option under account security in your account info section). In generating the password you select other app in the list of optio

[2020-11-12 12:25] proful commented on #741
Excellent @EYRAM565

[2020-11-12 12:41] johnjacobkenny commented on #741
@EYRAM565 could you try seeing if the error message is coming correctly for you now? If yes, can close this

[2020-11-12 12:42] EYRAM565 commented on #741
yes it is .

[2020-11-12 12:44] EYRAM565 commented on #741
thanks @proful

[2020-11-12 12:46] #741 closed

[2020-11-12 13:08] frankiefab100 commented on #778
The design looks good. Is this the one we are going to implement or is there any other?

[2020-11-12 13:56] SarveshKadam commented on #771
@proful Can I take this?

[2020-11-12 13:58] Akshay2996 commented on #778
@frankiefab100 We are making some modifications in the design & making it better If you feel like contributing contact me, @UnevenCoder or @vijaya-bhaskar for more information.

Just follow this issue for the same too.

[2020-11-12 14:40] PuruVJ commented on #771
Anyone is free to jump in and tweak stuff. In fact we encourage it😉

[2020-11-12 14:46] SarveshKadam commented on #772
@proful Would like to work on this

[2020-11-12 16:41] SarveshKadam commented on #771
@PuruVJ Do correct me if I'm wrong. I think this is related to hbs templates under the 'renderer' folder.
Let me know

[2020-11-12 16:57] PuruVJ commented on #771
The date generation and manipulation happens in the file I started above. You'll find a statement don't datetime formatting. It needs to be changed to the current date.

[2020-11-12 18:57] tolgaerdonmez commented on #686
Why couldn't we ?

[2020-11-12 19:30] #766 closed

[2020-11-12 20:48] tr0mbl3y commented on #771
in utils/date.js u have to do this --> `const formatTimestamp = () => format(new Date(), "MMM d, yyyy");` this will give current date.

[2020-11-12 20:57] tr0mbl3y commented on #768
## Update
issue 1 and 2 are fixed thanx @twindle-co/developer
i was completely wrong about point number- 3 it is indeed `{ media_key }`
4 points i am still searching

[2020-11-12 21:03] proful commented on #771
It should be set to today's date only when passing user ID.

No changes when reading threads

[2020-11-12 21:18] tr0mbl3y commented on #771
woops! that i didn't notice let me see

[2020-11-12 23:46] frankiefab100 commented on #772
@SarveshKadam you can go ahead

[2020-11-13 00:00] frankiefab100 commented on #706
Wow! these ideas and suggestions are wonderful

[2020-11-13 02:05] proful opened #786 "Low priority VSCODE issues"
![image](https://user-images.githubusercontent.com/354596/99019665-f03e0400-25b0-11eb-9002-91b5cfe06dbf.png)

[2020-11-13 04:24] PuruVJ commented on #771
No no! This is a common util function and should stay so. The change needs to happen in user_timeline.js only. formatTimestamp(new Date().toString()) should do it.

[2020-11-13 04:28] PuruVJ commented on #686
I think I found something https://stackoverflow.com/questions/59891836/print-one-long-page-pdf-using-puppeteer

Off course, I still think printing one single page would be suboptimal, as kindle will try to show that 1 page all at once, and will zoom out everything to the point of unreadability

[2020-11-13 04:29] proful commented on #686
Please no to single page.

[2020-11-13 04:31] PuruVJ commented on #768
I think we may fix the 3rd one by clicking using while loop but we'd also need to set a limit of 2 to 3 ( as we simply can't put in more than 100 ids for checking, even when all those IDs may not be of that thread itself.

[2020-11-13 04:40] PuruVJ commented on #686
Or we'd need to do some preprocessing while emulating the page in print mode, manually set dimensions on images and such to make them fit in one page, copy that markup, replace the page's own markup with the new one, then print it.

I'm thinking this issue is better left to the last 😶

[2020-11-13 04:41] PuruVJ commented on #786
Does restarting work?

[2020-11-13 04:42] PuruVJ commented on #786
Check this out https://github.com/motdotla/dotenv/issues/475

[2020-11-13 04:47] PuruVJ commented on #778
One recommendation from my side. I've worked with CSS variables theming, and ultimately, we're gonna introduce that sometime, so my recommendation is to add the CSS variables to the `body` element, with classes like light, dark.

Demo: My site https://puruvj.dev/hello Click on the theming button on top right to see the effect

Source: https://github.com/PuruVJ/puruvjdev2/blob/main/static/css/theme

[2020-11-13 05:24] proful commented on #709
@PuruVJ any updates?

[2020-11-13 06:04] tr0mbl3y commented on #771
i made changes in `useer-timeline-endpoint.js`
previous: ` resp.common.created_at = formatTimestamp(user.created_at);`
now: ` resp.common.created_at = formatTimestamp(new Date());`
now its working

[2020-11-13 06:06] tr0mbl3y commented on #771
yes i realised that i was changing the whole global function which would change dates everywhere

[2020-11-13 06:20] PuruVJ commented on #709
Already working on a feature/test branch

[2020-11-13 06:21] PuruVJ commented on #771
@tr0mbl3y Good work! make your PR, we'll review and merge it.

[2020-11-13 07:34] johnjacobkenny commented on #786
Had the same issue, came across the same thread, did not find a resolution.

[2020-11-13 07:38] PuruVJ commented on #786
Is it causing any issues? Or is it just a warning in the Problems tab?

[2020-11-13 08:32] vasudeveloper001 commented on #686
Let's say we have 100 tweets thread. How many pages are we talking about here in that case? 100?

[2020-11-13 08:50] PuruVJ commented on #686
Depends on how long each tweet is. This includes images, embedded tweets, line breaks, etc

[2020-11-13 09:08] tolgaerdonmez commented on #748
There is an option called `verbose` in the package, and it defaults to `false` but still it prints the logs. I tried setting it manually to`true` & `false` but always prints the logs.

[2020-11-13 09:10] tolgaerdonmez commented on #749
with the PR #787 this issue is no longer needed I suppose.

[2020-11-13 09:10] #749 closed

[2020-11-13 09:23] proful opened #788 "CLI epub embedded tweet missing"
![image](https://user-images.githubusercontent.com/354596/99056159-ff8f7280-25ed-11eb-8a9a-57c42139c81e.png)
`node . -i 1326999228636409864 -f epub`

[2020-11-13 09:46] proful opened #789 "CLI Not able to convert thread to PDF"
[Example](https://twitter.com/jackbutcher/status/1306589668352425984)
[Example](https://twitter.com/david_perell/status/1169981379620290560)

Naval one also breaking https://twitter.com/naval/status/1002103360646823936

Many threads are failing.

Only one page appearing

`node . -i 1306589668352425984`

@PuruVJ @Mira-Alf @tolgaerdonmez @johnjacobkenny

[2020-11-13 10:35] PuruVJ commented on #788
Reason for that is it uses Thread-epub.hbs, which Tolga copied and modified from the Thread.hbs file before I added in the embedded tweets

cc @tolgaerdonmez

[2020-11-13 10:38] tolgaerdonmez commented on #788
Okay then, I'll send a pr

[2020-11-13 10:44] tr0mbl3y commented on #789
no problem with latest threads its problem when getting older threads

[2020-11-13 10:47] tolgaerdonmez commented on #788
@proful I've fixed the problem, but design needs to be changed. with that I can deal on Sunday.

[2020-11-13 10:51] PuruVJ commented on #789
This could be a problem with scraping. Scraping looks for `time` tags, but because embedded tweets don't have those, it simply maynot be recognizing them.

[2020-11-13 10:58] #788 closed

[2020-11-13 11:00] proful commented on #789
Naval thread was working earlier

[2020-11-13 11:18] #789 closed

[2020-11-13 11:18] #771 closed

[2020-11-13 12:13] proful opened #792 "CLI epub profile page"
![Screenshot_20201113_231148](https://user-images.githubusercontent.com/354596/99071180-bd722b00-2605-11eb-9584-63fa817a8b05.jpg)
Image missing

[2020-11-13 12:15] proful opened #793 "CLI epub tweet issue"
![Screenshot_20201113_231324](https://user-images.githubusercontent.com/354596/99071273-e4306180-2605-11eb-8467-3fc01464bd68.jpg)

Android app: ReadEra

List item aligned little bit off.

[2020-11-13 12:17] proful opened #794 "Common handlebar templates"
Twitter data model and common template

[2020-11-13 12:29] proful opened #795 "CLI epub cover page design"
![Screenshot_20201113_232809_org readera](https://user-images.githubusercontent.com/354596/99072383-062ae380-2608-11eb-8896-397612a93eec.jpg)
Cover page needs to be improved

[2020-11-13 12:32] proful opened #796 "CLI EPUB Unicode support"
Few characters or symbols not displayed

![Screenshot_20201113_233105](https://user-images.githubusercontent.com/354596/99072598-76396980-2608-11eb-8de1-c7a610676e75.jpg)

[2020-11-13 12:33] proful commented on #796
![Screenshot_20201113_233259_org readera](https://user-images.githubusercontent.com/354596/99072690-a08b2700-2608-11eb-8778-b7a583f914f4.jpg)

[2020-11-13 13:13] PuruVJ commented on #796
That shouldn't happen. There shouldn't be any unicode characters, as all emojis are converted to images beforehand.

[2020-11-13 13:54] PuruVJ commented on #796
Apparently, it's getting the emojis-as-images, but its unable to render them, so its rendering the alt attribute instead, which is the unicode emoji. WPS reader is rendering its own weird emojis(not Windows emojis, its own emojis), and nothing is breaking for me.

This is highly irregular, as the block images are being rendered perfectly(in WPS reader at least). We need to look into it deeper

Wha

[2020-11-14 05:47] johnjacobkenny commented on #782
I took a look at the resources available for mobi format, and there seems to be very little in terms of code that we might reuse, especially in the nodejs space. One thing that I saw had potential was the software calibre. It has a mobi module written in python (https://github.com/kovidgoyal/calibre/tree/master/src/calibre/ebooks/mobi) and maybe we might need to port that functionality over to js

[2020-11-14 06:37] SarveshKadam commented on #772
@proful Is this the expected change, made the username clickable, and it navigates to the Twitter profile in PDF as shown below.

![username](https://user-images.githubusercontent.com/66166738/99141381-e7ad0280-2670-11eb-8dca-db6b4a4af484.png)

[2020-11-14 08:32] johnjacobkenny commented on #772
Yes looks good! Create a PR @SarveshKadam

[2020-11-14 09:01] tolgaerdonmez commented on #782
We could together read the code to understand, and then implement it slow in js, or we could copy the code to lambda aws and use it.

[2020-11-14 10:19] johnjacobkenny commented on #782
We need to take a call on how important .mobi is for our project and whether it is worth the effort taken to implement it by the following two options,

1. Reimplement mobi support in js. This could be done two ways, if the mobi spec is open we could look at it and implement it. Otherwise we would need to take a look at the existing implementation by calibre and figure it out.

2. Run a python lam

[2020-11-14 10:22] PuruVJ commented on #782
It can be run locally using node's version of exec, thought it would require python installed on their system, and this is just a whole new level of complexity.

Or could use puppeteer(again!) to use one of the free pdf to mobi sites to do our work. These are free and simply do not care enough about scraping, as they aren't by huge companies with huge resources

[2020-11-14 10:41] SarveshKadam commented on #772
Have created a PR @johnjacobkenny once you have time, could you please review it and link the PR to this issue.
<br>
Link to PR mentioned below

[PR Link](https://github.com/twindle-co/twindle/pull/800)

[2020-11-14 11:47] PuruVJ commented on #782
https://medium.com/swlh/run-python-script-from-node-js-and-send-data-to-browser-15677fcf199f
This above would be very hard, but doable.

[2020-11-14 11:49] PuruVJ commented on #782
I can write Python code, and I'm pretty sure there are those at Twindle who can too, but we should avoid doing it though, as it would unnecessarily introduce a dependency (Python itself).

[2020-11-14 13:21] Mira-Alf commented on #756
I tried the same tweet id and this issue seems resolved. I think this can be closed.

[2020-11-14 15:20] johnjacobkenny commented on #772
Yeah @SarveshKadam I have edited the description so that it gets linked

[2020-11-14 23:19] proful opened #803 "twindle-thread Thread Bookmark & Management"
### Technical Stack

- Backend express js with MySQL
- Frontend svelte
- code Deployed on AWS (taken are by Proful)

### Feaures
- Save a new thread
- fetch who created, like, retweets
- store in db
- display in HN ways
- better to have tags like github label
- filter/sorting based on recent, more RT, more likes, user
- no authentication
- Puru: Would need a basic admin interface to find and delet

[2020-11-14 23:35] proful opened #804 "CLI multiple thread bug"
![image](https://user-images.githubusercontent.com/354596/99159160-4be1cc00-272e-11eb-8deb-1ad3facc648b.png)
`node . -i 1307811967428702208,1169981379620290560,1323317674466775041,1309681736079597568,1321111764851920902,1259539005097426944 -o david-perell`

@Mira-Alf

- Error should also show which thread caused the issues.

- PDF should be created after ignoring the problematic tweet or thread

[2020-11-15 05:38] PuruVJ commented on #804
Can you set DEV=true and send the screenshot again with the full stack?

[2020-11-15 05:46] proful commented on #804
@PuruVJ why don't you run it?

[2020-11-15 05:49] PuruVJ commented on #804
Wasn't on my computer when I wrote. Am here now.

I have run it, getting the error. Looking into it.

[2020-11-15 06:34] PuruVJ commented on #803
This seems like a Twindle web feature. I'm all in for it.

[2020-11-15 08:52] Foxtrot-1418 opened #808 "Need to create media queries for Twindle-Web Landing page"
![image](https://user-images.githubusercontent.com/46592938/99180640-ea315a00-274d-11eb-9a4f-df60ab1abfbc.png)

[2020-11-15 08:53] #808 closed

[2020-11-15 09:09] proful opened #809 "CLI multiple threads progress bar"
![image](https://user-images.githubusercontent.com/354596/99180862-29779f00-277e-11eb-93e7-102e6491ba73.png)
`node . -i 1307811967428702208,1169981379620290560,1323317674466775041,1309681736079597568,1321111764851920902,1259539005097426944 -o david-perell`

- After each thread fetched data successfully, progress bar should say some msg saying thread xyz completed

[2020-11-15 10:05] PuruVJ opened #810 "Duplicate code removal from twitter.js and standardize everything"
After @Mira-Alf added the feature to merge multiple threads into one single PDF, there's been some duplication in the twitter.js file, which can be improved. We need to clean up stuff, and standardize one single function.

The function recently introduced, `getTweetsFromThreads` has similar logic as the `getTweetFromID`, and getting a single tweet is a special case of getting many threads, so I sa

[2020-11-15 10:36] PuruVJ commented on #810
I'm nearly done with it. It was very easy to do.

[2020-11-15 10:55] #810 closed

[2020-11-15 11:19] PuruVJ commented on #709
I'm seriously gonna need help on this. I've never done testing before. I have learned the concepts, but have no idea how to **start** on twindle. I have set up some basic tests, but dunno how to cover every case.

[2020-11-15 11:25] johnjacobkenny commented on #709
Cover what you can, others will pitch in

[2020-11-15 11:27] #809 closed

[2020-11-15 11:41] proful commented on #709
keep adding few test cases at a time.

don't close this ticket. we will close this ticket once we have good % of testing

[2020-11-15 11:51] vasudeveloper001 commented on #756
Yes, it now seems to be pulling the whole thread.

[2020-11-15 12:31] #772 closed

[2020-11-15 13:23] proful commented on #804
Data not correct

[2020-11-15 13:26] PuruVJ commented on #804
What's the issue?

[2020-11-15 13:49] tolgaerdonmez commented on #796
I see no errors about emojis, but while offline user images was not being saved, I solved the user images problem. If there's more let me know, sending a PR

[2020-11-15 13:53] PuruVJ commented on #796
I think the problem is with Proful's epub reader, as WPS reader rendered them. They were different than the OS's stock emoji library, but they were there.

[2020-11-15 13:55] tolgaerdonmez commented on #796
Yeah emojis is about that but not images.

[2020-11-15 14:02] Mira-Alf commented on #804
* 1307811967428702208 - [OK](https://twitter.com/david_perell/status/1307811967428702208)
* 1169981379620290560 - [OK](https://twitter.com/david_perell/status/1169981379620290560)
* 1323317674466775041 - [OK](https://twitter.com/david_perell/status/1323317674466775041)
* 1309681736079597568 - [OK](https://twitter.com/david_perell/status/1309681736079597568) - last tweet is deleted by the author
*

[2020-11-15 14:12] PuruVJ commented on #804
They all run well.

Maybe the problem is that Proful commented this just before he merged my recent PR fixing an issue, and was getting error.

[2020-11-15 15:37] Mira-Alf commented on #804
Maybe.. I pulled in your latest changes and tested.

[2020-11-15 17:15] PuruVJ opened #815 "Run CLI and post mock data here"
When many people are working on same codebase, things break unexpectedly. To prevent this scenario, we need to have robust tests in place. And for robust testing, we need a very high quantity of data.

We need very diverse type of data, and for that, we's need everyone's contribution.

### How can I help

It is very easy.

Run the commands as you regularly do, just add `--generate-mock`.

e.g.

Go

[2020-11-15 17:18] PuruVJ commented on #815
Here's the first one from me

Command: `node . -i 1321111764851920902,1259539005097426944 -o david-perell --generate-mock`

[code]

[2020-11-15 18:02] #796 closed

[2020-11-16 00:34] proful opened #817 "CLI tests re-organize"
![image](https://user-images.githubusercontent.com/354596/99201467-2a9ce080-27ff-11eb-9ed3-5313ba86c59f.png)

**Correct**
 PASS  tests/twitter/api.test.js
 PASS  tests/twitter/utils.test.js
**Needs correction**
 PASS  src/twitter/api/twitter-endpoints/search.unit.test.js
 PASS  src/twitter/api/twitter-endpoints/tweets.unit.test.js
 PASS  src/twitter/transformations/helpers.unit.test.js
 PASS  src/

[2020-11-16 04:04] #804 closed

[2020-11-16 04:43] proful opened #818 "Twitter API fetch tweet and reply by author"
- input: Twitter id
- output:
  User profile information
  Tweet details
       Person who ask question
       Author reply

Ignore replies where author not replied

[2020-11-16 07:42] #817 closed

[2020-11-16 11:01] #595 closed

[2020-11-16 11:01] #562 closed

[2020-11-16 11:02] #604 closed

[2020-11-16 11:02] #643 closed

[2020-11-16 11:02] #647 closed

[2020-11-16 11:03] #706 closed

[2020-11-16 11:03] #707 closed

[2020-11-16 11:04] #726 closed

[2020-11-16 11:04] #739 closed

[2020-11-16 11:05] #756 closed

[2020-11-16 11:06] #728 closed

[2020-11-16 11:07] proful commented on #765
@shekhar10feb and @frankiefab100 any update?

[2020-11-16 11:08] PuruVJ commented on #765
Actually I added the padding long ago 😅

[2020-11-16 11:08] #765 closed

[2020-11-16 11:09] proful commented on #555
@Mira-Alf @PuruVJ  any progress?

[2020-11-16 11:10] PuruVJ commented on #555
I still don't understand what this is for 😅

[2020-11-16 11:12] praveen2896 commented on #815
Here' the mine , node . -i  1327487313706774528  -o paridas --generate-mock

[code]

[2020-11-16 11:14] #555 closed

[2020-11-16 11:15] #786 closed

[2020-11-16 13:44] johnjacobkenny opened #820 "Generate cli command for bookmarked tweet threads"
We need to have some way of "bookmarking" threads that are useful and then in one click be able to generate the cli code that can be executed to fetch those articles and sync to kindle.

[2020-11-16 13:53] Mira-Alf commented on #758
I studied this issue really hard. Here is the problem explained in my words
* This thread contains the main thread(first thread followed by 7 tweets on the same thread)
* However after creating the thread, this user has added a reply to the first tweet which is also added to the same conversation and shares the conversation_id(done later not at the time of creating the thread)
* When I construct a

[2020-11-16 13:58] Mira-Alf commented on #818
Quick question proful, so in this issue, you dont want the original thread, simply the replies to which the author replied?

[2020-11-16 14:02] johnjacobkenny commented on #758
Is there a way for you to filter the first level or replies based on time? Will it work if we pick the older first reply?

[2020-11-16 16:08] Mira-Alf opened #821 "Structure for the thread that needs to be passed to the handlebars template"
* Here is a gist that contains the structure of the JSON object that the handlebars template expects:
https://gist.github.com/Mira-Alf/29262cec0252cbd72e1f93358fc28c20

## Important attributes explained

* threads array attribute containing multiple thread objects
* each thread object contains a common json object and data array containing multiple tweets
* common json object contains attributes:

[2020-11-16 18:24] proful commented on #818
Any conversation by author.

So the answer is yes we want the thread as well.

But start with simple tweet with out thread.

[2020-11-16 19:28] tolgaerdonmez commented on #803
Me too!

[2020-11-16 20:32] proful commented on #821
For this I think it should be different flow, json and templates. Just a thought.

[2020-11-17 06:49] tolgaerdonmez commented on #792
Didn't I solve this ?

[2020-11-17 07:47] proful opened #823 "CLI multiple thread bugs"
![image](https://user-images.githubusercontent.com/354596/99360771-3377da00-2905-11eb-8703-dca52cec74f2.png)
`node . -i 1307811967428702208,1169981379620290560,1323317674466775041,1309681736079597568,1321111764851920902,1259539005097426944 -o david-perell-fix -f epub`

- Error should show the specific thread where error happened

@Mira-Alf

[2020-11-17 08:07] SarveshKadam commented on #815
Here's mine
command:  `node . -i 1325041236399456257,1323861791877685248 --generate-mock`

Output
https://gist.github.com/SarveshKadam/263d3ffe6f37583ec8a84e4967272e96

[2020-11-17 08:32] proful opened #824 "CLI HackerNews integration"
https://github.com/HackerNews/API

[![tutorial](https://img.youtube.com/vi/kX4ejOw46Vg/0.jpg)](https://www.youtube.com/watch?v=kX4ejOw46Vg).

[2020-11-17 09:57] Mira-Alf commented on #815
Here is my command:
`node . -i 1328598038206615552,1328628445748879360,1328466921633710081,1328459837735362563,1328375841680658433 --generate-mock -o mira`

Here is my gist containing the json response:
[output json](https://gist.github.com/Mira-Alf/10d4ac985a16c937b5aefeddc3920cd2)

[2020-11-17 10:14] EYRAM565 commented on #815
node . -i 1328375452554178561,1328467988035473408 --generate-mock
[
  {
    "common": {
      "created_at": "Nov 16, 2020",
      "user": {
        "name": "Danny Thompson",
        "verified": false,
        "username": "@DThompsonDev",
        "pinned_tweet_id": "1320344054324920320",
        "location": "Memphis, TN",
        "description": "Changing mindsets |<br />Software Developer|<br />Mee

[2020-11-17 11:07] tolgaerdonmez commented on #824
What's the aim of this ?

[2020-11-17 15:50] nhcarrigan commented on #815
Hello~! Why did I get pinged here? 🤔

[2020-11-17 15:53] PuruVJ commented on #815
The above tweet data is from a user whose twitter handle is same as yours @nhcarrigan. Please mute it.

[2020-11-17 16:27] nhcarrigan commented on #815
Those are actually my tweets 😅

[2020-11-18 03:04] johnjacobkenny commented on #821
@Mira-Alf Correct me if I'm wrong, but the structure that you have shared has many similarities with the twitter response structure. Do we need to have all of the fields and the structure as twitter gives us?

[2020-11-18 11:22] johnjacobkenny commented on #815
@nhcarrigan hope it was a good use of your time to be brought here :heart:

[2020-11-18 11:45] Akshay2996 commented on #778
### ToDo Tasks

**Priority given to the Task in the Descending order**

For now, We need to focus on these tasks & along the way we can update the tasks accordingly

- [ ] Testimonials - (Ameen & Titi)
- [ ] Illustrations needed - (Everybody)
- [ ] Email Signup goes to Excel - (Saurabh)
- [ ] Fonts to be adjusted to be uniform - (Joel, Titi) {CSS Variables}
- [ ] Better footer section - (Vijaya &

[2020-11-18 12:40] Mira-Alf commented on #821
Hey @johnjacobkenny the structure that I have displayed here has all the elements that the pdf template needs for complex tweets rendering. So @PuruVJ  has basically picked off the elements that we will need from the twitter API response - sometimes, he has picked objects without destructuring, so it looks more complex than it needs to be.

But now I hope you understand my hesitation in cleaning t

[2020-11-19 12:36] Mira-Alf commented on #821
@PuruVJ, @johnjacobkenny and I had a call about this issue. And @PuruVJ suggested a structure like this:
`{
  "data": [
    {
      "id": "id",
      "date": "date",
      "text": "berirv",
      "type": "original"
    },
    {
      "id": "bev",
      "date": "bbf",
      "text": "bebrkv",
      "type": "question",
      "reply": {
        "id": "jbvbkvjbj",
        "date": "bekjv",
        "text

[2020-11-20 03:34] #768 closed

[2020-11-20 09:45] SarveshKadam commented on #793
@proful seems like this issue is only occurring in **ReadEra** App

The List item is looking good in other apps such as **Lithium**(Android) and **Books**(iOS)

![lithiumApp](https://user-images.githubusercontent.com/66166738/99785066-ac17aa00-2b42-11eb-9341-412412d29742.png)

[2020-11-20 10:38] shekhar10feb opened #835 "git-github-related"
Hello friends :wave:  :smiley: , when we talk about **git** and **github** then, there are lot of confusion :confused: exist in our mind. Especially, when we talk about their commands. I also encountered with the same issue and mentors helped me and motivate me to face this and gave me some suggestions in order to overcome this. And thanks to the mentors, who suggested me to write an article about

[2020-11-20 10:43] #835 closed

[2020-11-20 10:47] proful opened #836 "Technical stack addition"
- [Svelte](https://svelte.dev/examples)
- [TailwindCSS v2](https://blog.tailwindcss.com/tailwindcss-v2)

Feel free to use it. And use this issue to discuss.

[2020-11-20 10:48] johnjacobkenny commented on #821
@Mira-Alf could you please format the content so it is readable

[2020-11-21 00:12] proful opened #840 "CLI github reading MD file - fetch"
https://github.com/ryanmcdermott/clean-code-javascript/blob/master/README.md

[![tutorial](https://img.youtube.com/vi/2SyHZglZZFo/0.jpg)](https://www.youtube.com/watch?v=2SyHZglZZFo).

[2020-11-21 02:49] johnjacobkenny commented on #840
[test.pdf](https://github.com/twindle-co/twindle/files/5576903/test.pdf)

[2020-11-21 02:50] proful commented on #840
Looks awesome @johnjacobkenny

[2020-11-21 03:15] johnjacobkenny commented on #840
I don't think I will have the time to implement it correctly, here is the main code so someone else can take inspiration.

[code]

[2020-11-21 03:17] johnjacobkenny commented on #840
And here is a pdf from the link mentioned by Proful
[ryanmcdermott.pdf](https://github.com/twindle-co/twindle/files/5576920/ryanmcdermott.pdf)

[2020-11-21 07:23] PuruVJ commented on #803
I think It would be better to hit the Twitter API everytime to get likes and retweets, as these are ever changing.

[2020-11-21 07:32] proful commented on #803
@PuruVJ it not needed to be that dynamic.

We can talk more about it. Please don't call each time. It doesn't add significant value.

Later we can update daily by script but that is not necessary now.

[2020-11-21 15:26] Mira-Alf commented on #821
Does it not look formatted? It looks like that to me.

The new structure is in this updated gist:
https://gist.github.com/Mira-Alf/29262cec0252cbd72e1f93358fc28c20

Here are the key attributes:
* replies is an array on every tweet object
* every reply is a tweet object which is a tweet made by another user on one tweet of the thread with all regular tweet fields.
* every reply object has a user ob

[2020-11-21 16:14] johnjacobkenny commented on #821
Sounds good to me! 🥳

[2020-11-22 11:55] SarveshKadam commented on #840
@proful @johnjacobkenny

For the first stage, I've taken some baby steps towards this task by building a sample code locally.

In my root folder, I pass the below command

`node app.js md --f="<GitHub URL>"`

`md` is the custom action command we passed and  `--f` is the custom argument which takes the GitHub URL

For example below

`node app.js md --f="https://github.com/ryanmcdermott/clean-code-j

[2020-11-22 11:57] proful commented on #840
This looks awesome and you are in perfect direction.

[2020-11-23 06:12] johnjacobkenny commented on #840
@SarveshKadam Yess! :partying_face:

[2020-11-23 07:11] Akshay2996 commented on #778
### Important for Everyone

- Make use of **Flex** in the sections.
- Use **rem** unit in fonts, margin, padding & avoid using pixel (px) in it.
- Use CSS variables to assign a value in the :root selector to avoid repetition.

[2020-11-23 07:47] SarveshKadam commented on #840
@proful @johnjacobkenny

Added dynamic fileName for the generated HTML File

Naming convention for the file will be the `<GitHubUsername>_<RepositoryName>.html`

For example, for the below-mentioned URL

`https://github.com/ryanmcdermott/clean-code-javascript/blob/master/README.md`

The fileName will be `ryanmcdermott_clean-code-javascript.html`  as shown in the image.

The next steps will be to i

[2020-11-23 07:52] proful commented on #840
Very good progress @SarveshKadam

[2020-11-24 06:22] Akshay2996 commented on #815
Here's my `--generate-mock`

[code]

[2020-11-24 07:02] shekhar10feb commented on #726
![oliver](https://user-images.githubusercontent.com/72906055/100059468-2309b700-2e51-11eb-9ae2-e1fbdbcc0673.JPG)

[2020-11-24 07:33] shekhar10feb opened #848 "Run CLI and post mock data issue"
As I am running the command, terminal is showing that bearer token is not provided but I have provided bearer token with dev=true

![issue](https://user-images.githubusercontent.com/72906055/100062364-7251e680-2e55-11eb-834a-2c64f68477fd.JPG)

[2020-11-24 07:47] shekhar10feb commented on #848
I execute it 2-3 times

![dotenv](https://user-images.githubusercontent.com/72906055/100063547-6535f700-2e57-11eb-852f-c35c3abb9439.JPG)

[2020-11-24 12:53] SarveshKadam commented on #840
@Mira-Alf @proful

Able to produce PDF now [ryanmcdermott_clean-code-javascript.pdf](https://github.com/twindle-co/twindle/files/5589944/ryanmcdermott_clean-code-javascript.pdf)

![image](https://user-images.githubusercontent.com/66166738/100096235-c1157580-2e81-11eb-857a-f7bf6d2c0480.png)

[2020-11-24 16:06] SarveshKadam commented on #840
@proful

The PDF conversion functionality is working as expected, therefore have created PR.

However, in some readme files, there are full-screen size images as shown in this readme [Readme URL](https://github.com/twindle-co/twindle/blob/main/docs/articles/sync-to-main-repo.md)

Such kind of full-screen images broke in PDF as shown below which we need to fix

![image](https://user-images.githubus

[2020-11-24 23:47] proful opened #852 "CLI github error message"
![image](https://user-images.githubusercontent.com/354596/100164116-501aa000-2f0b-11eb-8903-c5bdb1574cb3.png)

`node . -g https://github.com/ryanmcdermott/clean-code-javascript`

This error message is perfect.

One suggestion. Remove the highlight (background color). Only use red font color for the error message.

@SarveshKadam you no need to fix. Let some beginner address this issue.

[2020-11-24 23:52] proful opened #853 "CLI twitter access broken"
![image](https://user-images.githubusercontent.com/354596/100164607-4e051100-2f0c-11eb-855b-cd528b896f1a.png)

[2020-11-24 23:55] proful opened #854 "CLI github success message should be consistent with twitter CLI"
![image](https://user-images.githubusercontent.com/354596/100164798-be139700-2f0c-11eb-8a68-a55afae9f16d.png)

[2020-11-25 00:01] proful opened #855 "CLI github output to A5 size"
- A5 size
- Larger font

[2020-11-25 02:54] SarveshKadam commented on #853
@proful Please assign it to me. I might know the root cause of this issue

[2020-11-25 03:54] proful commented on #853
@SarveshKadam go ahead

[2020-11-26 01:28] proful opened #858 "Modularize Handle bar Templates"
https://handlebarsjs.com/guide/partials.html#basic-partials
https://blog.teamtreehouse.com/handlebars-js-part-2-partials-and-helpers

Can we explore Partials?

[2020-11-26 01:28] #853 closed

[2020-11-26 12:13] shekhar10feb commented on #848
It is working now!!

[2020-11-26 12:13] #848 closed

[2020-11-29 02:54] PuruVJ commented on #858
I and @Mira-Alf looked into it and we both agreed: Bad Idea.

Partials are horribly complicated and wouldn't solve any problem, rather create new ones.

Mira partially solved the page break problem using a CSS property. It can't be completely solved without imposing some restrictions on image sizes and embedded tweet sizes or so. **Big enough entities will break.**

@tolgaerdonmez is working on re

[2020-11-29 02:58] PuruVJ commented on #858
cc @johnjacobkenny

[2020-11-29 03:00] PuruVJ commented on #855
It is A5 size already.
Larger font - That can be done. how much larger? Current font size is 108%, or `17.28px`. What do you think

[2020-11-29 03:07] #836 closed

[2020-11-29 03:08] PuruVJ commented on #668
Mira partially solved it. We need to do something about huge content, but can be discussed in an another issue

[2020-11-29 03:08] #668 closed

[2020-11-29 03:09] proful commented on #855
@PuruVJ are you talking about github md pdf?

[2020-11-29 03:09] PuruVJ commented on #686
Closing. Read https://github.com/twindle-co/twindle/issues/668#issuecomment-735322204

[2020-11-29 03:09] #686 closed

[2020-11-29 03:10] #705 closed

[2020-11-29 03:11] #747 closed

[2020-11-29 03:11] PuruVJ commented on #748
Anyone working on this @twindle-co/developer ?

[2020-11-29 03:12] #773 closed

[2020-11-29 03:13] PuruVJ commented on #792
Solved by Tolga. Correct me if I'm wrong.

[2020-11-29 03:16] PuruVJ commented on #815
Most data submitted here is irrelevant now due to the heavy structural changes. We need to find all permutations of threads and commands and document them. Then anyone can keep that data in sync by referring to that list.

[2020-11-29 03:16] #815 closed

[2020-11-29 03:19] PuruVJ commented on #782
No interactions last 15 days. Anyone in @twindle-co/developer have fresh ideas?

[2020-11-29 03:21] PuruVJ commented on #793
Seems the problem here is regarding specific Reader apps and how they interpret and epub file, not with epub itself. Closing

[2020-11-29 03:21] #793 closed

[2020-11-29 03:23] PuruVJ commented on #794
We are thinking of getting rid HBS templates and unifying epub and PDF with Svelte rendered to string. Read https://github.com/twindle-co/twindle/issues/858#issuecomment-735321254

[2020-11-29 03:23] #794 closed

[2020-11-29 03:23] PuruVJ commented on #795
@twindle-co/developer Anyone on this?

[2020-11-29 03:24] PuruVJ commented on #818
Fixed by Mira

[2020-11-29 03:24] #818 closed

[2020-11-29 03:25] PuruVJ commented on #820
I believe this is related to #803

[2020-11-29 03:25] #820 closed

[2020-11-29 03:25] PuruVJ commented on #823
Mira fixed it.

[2020-11-29 03:25] #823 closed

[2020-11-29 03:28] PuruVJ commented on #821
We have standardized on a structure (For now 🙄). See https://github.com/twindle-co/twindle/blob/main/twindle-cli/src/twitter/types/types.d.ts#L155

A little snippet here:
[code]

[2020-11-29 03:28] #821 closed

[2020-11-29 03:30] PuruVJ commented on #852
Whoever is working on it, also fix the spelling mistake (haaving) too please.

Thank you

[2020-11-29 03:34] PuruVJ commented on #855
No.

There's a github md pdf too?

Please update the title to indicate the fact it's related to Github Rendering Pipeline

[2020-11-29 04:04] PuruVJ opened #864 "Document basic Twindle Threads documentation"

[2020-11-29 05:06] SarveshKadam commented on #852
That the typo was corrected in the previous PR

[2020-11-29 05:19] PuruVJ commented on #852
OK

[2020-11-29 05:47] #864 closed

[2020-11-29 05:49] proful commented on #824
@tr0mbl3y update?

[2020-11-29 07:33] tolgaerdonmez commented on #748
The problem with this is the epub-gen module, like you've said the package is a bit broken with the option `verbose`
I'll send a issue but they're not active

[2020-11-29 07:34] tolgaerdonmez commented on #792
I think Shekhar solved it.

[2020-11-29 07:35] tolgaerdonmez commented on #792
But we can create a nice cover image by converting html canvas to image

[2020-11-29 14:12] tolgaerdonmez commented on #792
Is this for the cover ? or the part that has user info ? @proful

[2020-11-29 14:30] tr0mbl3y commented on #824
![Screenshot from 2020-11-29 19-43-45](https://user-images.githubusercontent.com/72851843/100544383-47172f00-327b-11eb-8683-26f4a9174a1b.png)

The pdf looks clean but in few places handlebars is unable to resolve the unicode  characters  and html tags in the stories comments like the pic below

![Screenshot from 2020-11-29 19-27-44](https://user-images.githubusercontent.com/72851843/100544467-d02e

[2020-11-29 20:55] proful commented on #792
This is for user profile. Some one need to confirm whether it works in offline mode

[2020-11-29 21:07] proful commented on #824
Create a pr

[2020-11-30 05:31] Mira-Alf commented on #858
I am okay with sveltejs as long as it doesnt cause any new issues and everyone is onboard with the idea. Like @PuruVJ mentioned, handlebars doesnt solve all the formatting issues - I just solved the pagebreak issue but even that some of the linkboxes still cause some issues. And newer issues might crop up for github and hackernews formats as well. If sveltejs is AWS lambda compatible then I am all

[2020-11-30 06:01] tolgaerdonmez commented on #792
I've solved offline profile page long ago, closing this  then.

[2020-11-30 06:01] #792 closed

[2020-11-30 06:02] tolgaerdonmez commented on #795
@PuruVJ I've got some ideas.

[2020-11-30 06:04] johnjacobkenny commented on #858
I'll have to catch up with these!!

[2020-11-30 06:06] tolgaerdonmez commented on #858
I also agree with @PuruVJ about handlebars to svelte transition. It would be much better to handle things in a more code splitted, more controllable with bare js logic and such. 👍👍👍

[2020-11-30 08:15] proful opened #871 "CLI Article Readability"
Convert article to PDF
Library https://github.com/mozilla/readability
Example Link to convert: https://kentcdodds.com/blog/testing-implementation-details

[2020-12-01 02:21] PuruVJ commented on #858
I suppose this can be closed as Mira has introduced Partials and we have agreed on Svelte as an experiment.

[2020-12-01 02:21] #858 closed

[2020-12-03 04:07] proful opened #879 "CLI Github multiple link to single pdf"
`node . -g input.txt`

-g should be intelligent.
Able to distinguish between a github url or a txt file

input.txt
https://github.com/kentcdodds/react-fundamentals/blob/main/src/exercise/01.md
https://github.com/kentcdodds/react-fundamentals/blob/main/src/exercise/02.md
https://github.com/kentcdodds/react-fundamentals/blob/main/src/exercise/03.md

@SarveshKadam @Mira-Alf

[2020-12-03 04:10] proful opened #880 "CLI github file name update"
❯ node . -g https://github.com/kentcdodds/react-fundamentals/blob/main/src/exercise/01.md

⠏ Loading    /Users/sanvi/all/code/github/twindle/twindle-cli/TwindleLibrary/kentcdodds-Jun-1-2019.pdf
✔ Your data saved into kentcdodds-Jun-1-2019.pdf

File name should be kentcdodds-react-fundamentals-Dec-3-2020.pdf
Dec-3-2020.pdf >> when the CLI Run

[2020-12-03 05:00] Mira-Alf commented on #748
Also I noticed some other problems with this regard - when one of the images is not available for download or there is an error while downloading, then the entire epub file gets corrupted. These are issues with the epub-gen NodeJS module

[2020-12-03 11:38] joelvinaykumar commented on #803
Hey, does this mean a user can create account to save their twindles ?

[2020-12-03 11:47] PuruVJ commented on #803
Not at the moment. We'll add that in later when traffic gets out hand

[2020-12-03 12:04] joelvinaykumar commented on #803
That would be a great feature to do something like pocket.now
But, maybe yeah...we should concentrate on stable build first

[2020-12-03 12:06] joelvinaykumar commented on #795
![CoverPage - Monochrome](https://user-images.githubusercontent.com/16177724/101015866-062a5d80-358e-11eb-8972-b32b47c8d377.png)
![CoverPage](https://user-images.githubusercontent.com/16177724/101015922-17736a00-358e-11eb-96d2-ee2b1cd911fa.png)

Let me know your opinions

[2020-12-03 12:13] PuruVJ commented on #795
It looks good.

One question. Is that logo finalized?

I'm more in favour of the current one(Or mine too 😏)

[2020-12-03 13:14] joelvinaykumar commented on #795
No, consider it a placeholder. Guess we need to finalize any one logo.

[2020-12-04 06:44] shekhar10feb commented on #880
![working](https://user-images.githubusercontent.com/72906055/101130693-f2343980-3629-11eb-803a-d1ac845fee29.JPG)

It is working!!

[2020-12-04 06:44] #880 closed

[2020-12-04 13:09] SarveshKadam opened #889 "Error on executing GitHub MD command if Twitter API AUTH Token is not provided"
**Observation:** Error on executing GitHub MD command if Twitter API AUTH Token is not provided

#### Steps to Reproduce:

1.) Prerequisite: Do not provide twitter API key or configure your `.env` file

2.) Run the command `node . -g https://github.com/kentcdodds/react-fundamentals/blob/main/src/exercise/01.md`

3.) Verify if the PDF is generated successfully

#### Expected Result:
Github action s

[2020-12-04 14:33] SarveshKadam opened #890 "Change in naming convention of file generated via GitHub MD"
Currently, we are using the naming conventions

`<GitHub Username>-<Repository Name>-<CLI Run Date>.pdf`

For eg. : `kentcdodds-react-fundamentals-Dec-5-2020.pdf`

This will give an error if you want to fetch another `.md` file from the same repository on the same day and also it will override your existing file.

Here's my suggested filename

`<GitHub Username>-<Repository Name>-<MD File name>-<C

[2020-12-05 01:35] proful opened #892 "Hacker News Formatting"
Needs to improved. Not readable.

Better to align like below..

![image](https://user-images.githubusercontent.com/354596/101229840-4d336280-36f6-11eb-9d46-8a43f062926c.png)

Next comment should start in next page or a horizontal separator

[2020-12-05 01:37] proful opened #893 "HackerNews Default Settings"
`node . -h 25301437`
Top 5 comments
For each comment 3 level deep.

[2020-12-05 01:39] proful opened #894 "HackerNews Fetching based on Parameter"
`node . -h 25301437 -n 5 -d 3`

-n 5 >> How many top-level comment to fetch
-d 3 >> How many depths (or nested comment) to go for each comment

[2020-12-05 01:56] proful opened #895 "HackerNews Article title enhancement"
![image](https://user-images.githubusercontent.com/354596/101230348-ee231d00-36f8-11eb-8d69-ad2bab36f078.png)

![image](https://user-images.githubusercontent.com/354596/101230406-422e0180-36f9-11eb-9d15-1589efcdd7d5.png)

Image can be left

[2020-12-05 07:19] SarveshKadam commented on #852
This issue is redundant now, we can close it

[2020-12-05 09:20] #852 closed

[2020-12-05 15:00] SarveshKadam commented on #854
Even this issue has been taken care of, we can close it

[2020-12-06 00:43] #854 closed

[2020-12-06 02:01] PuruVJ commented on #855
Is it resolved?

[2020-12-06 02:15] proful commented on #855
it is looking good in Kindle. Doesn't look like A4.

[2020-12-06 02:25] PuruVJ commented on #855
I still think we should at least experiment in A5 a little.

What can go wrong, only change needed of 2 letters 😁

[2020-12-06 08:15] Akshay2996 opened #902 "Need Dark Theme for twindle-web"
## Important Pointers

- Implement dark theme (shades of black)
- Use CSS variables in the **:root selector** in different CSS file or use CSS variables in body class like done by @PuruVJ  in this file https://github.com/PuruVJ/puruvjdev2/blob/main/static/css/themes.css
- Use [HappyHues](https://www.happyhues.co/) for the dark theme inspiration

**PS: Anyone up for the task can take this & inform

[2020-12-06 08:27] Akshay2996 opened #903 "Slider Presentation for Testimonials in twindle-web"
## Important Pointers

- Testimonials should be slided to another after a period of time (Use **Javascript setTimeout function** for this)
- Use inspiration from https://designmodo.com/examples-sliders-web-design/ for slider presentation
- Remove the button or remove popping out the button to divert the attention of the user to the text instead of the buttons shown in the image below 👇 which is wr

[2020-12-06 09:09] PuruVJ commented on #902
Additional note for anyone reading this:

Body mode is much more easier, as all you have to is put a different class on body, whereas for root, you need to set every single variable in JS, and chances of messing up stuff is more.

[2020-12-06 19:01] tolgaerdonmez commented on #795
I liked the design, I'm going to implement this after finished with svelte rendering.

[2020-12-07 00:48] Mira-Alf commented on #879
* The -g has been improved to recognize a single url ending with .md format or a .txt file. The txt file must be placed inside github\input folder as shown below:
![image](https://user-images.githubusercontent.com/64691316/101298317-63a30080-3853-11eb-9f76-ae11e013a35a.png)

* A sample input.txt file shown below
![image](https://user-images.githubusercontent.com/64691316/101298395-c3011080-3853-11

[2020-12-07 00:50] Mira-Alf commented on #879
I am closing this issue, if anyone faces any errors feel free to reopen it @SarveshKadam kindly review this since it incorporated your code changes #898

[2020-12-07 00:50] #879 closed

[2020-12-07 00:54] Mira-Alf commented on #889
This has been fixed in PR #904 - order of environment variable evaluation was moved around - I tested this and looks fixed. @sarvesh you can try this once to make sure it is all okay. I am closing this issue now, if you have any issues reopen this issue

[2020-12-07 00:54] #889 closed

[2020-12-07 06:58] Akshay2996 opened #907 "Banner needed for Twindle-web"
![image](https://user-images.githubusercontent.com/37118877/101317345-55b9a380-3884-11eb-86cb-2f342d394b85.png)

## Important Pointers

- Replace the Banner shown above 👆 to show something meaningful that relates to our project.
- Take inspiration from [Notion](https://www.notion.so/), [Pocket](https://getpocket.com/), [Remarkable](https://remarkable.com/) & other sites for the banner.

**For Illu

[2020-12-07 07:41] Akshay2996 opened #908 "Create a Terms & Conditions page for Twindle-web"
## Important Pointers

- This will be a separate page which will be linked to twindle-web landing page.
- **For reference:** See other sites **Terms & Conditions page** & copy, paste their content & modify it to the Twindle project's demand.

**PS: Anyone up for the task can take this & inform it here in this issue after taking the task**

[2020-12-07 08:53] #892 closed

[2020-12-07 08:53] #893 closed

[2020-12-07 08:55] PuruVJ commented on #908
I don't think this is important at this point of time, as no one has any idea what are terms and conditions, let alone the person trying to write the legalese.

I think it should be closed for now. Way too much in future.

Your call Akshay.

[2020-12-07 09:10] Akshay2996 commented on #908
You're right Puru. Had a discussion with proful & he said we can copy paste the **Terms & Conditions** from other site & modify it according to our project. And we have to do this in the future too so not a priority as of now.

[2020-12-07 09:11] PuruVJ commented on #908
Let's close it for now. It's way too much in future. We can always reopen it or create new issue

[2020-12-07 09:11] #908 closed

[2020-12-07 09:13] PuruVJ commented on #714
last interaction was 28 days ago.

Inactive issue. Prominent enough that it will resurface again.

[2020-12-07 09:13] #714 closed

[2020-12-07 09:16] PuruVJ commented on #723
This problem hasn't been solved yet. @twindle-co/developer please take a look at this.

Answer lies in rich-rendering.js, in the function `renderOutsiderLinks`. Someone fix it up to not show the box if no link is returned from twitter data

[2020-12-07 09:17] PuruVJ commented on #748
I think we need to implement our own algo to download images and replace the src attribute with `data:` path

[2020-12-07 09:20] PuruVJ commented on #803
Removing `future` tag. The Future is here.

[2020-12-07 09:22] PuruVJ commented on #803
This issue will stay open for a while, and every single PR related to Twindle Threads will be referenced here, to keep track of everything that has been happening.

When Twindle Threads initial version stabilises, we can close this, and make more focused issues

[2020-12-07 09:29] tolgaerdonmez commented on #748
After the svelte components are done, it can be easily handled by our components in svelte

[2020-12-07 15:15] shekhar10feb commented on #723
I am working on it.

[2020-12-07 15:36] Mira-Alf commented on #890
@sarvesh this was a good catch, I am now extracting the file name along with branch and repo details - so using that to compute file name as you have described it here
![image](https://user-images.githubusercontent.com/64691316/101298816-c09fb600-3855-11eb-926a-4d702c5df25c.png)

Closing this issue.

[2020-12-07 15:36] #890 closed

[2020-12-07 15:42] Mira-Alf commented on #894
The -n argument is used as numTweets in cli.js and yargs command line argument I have it specified to default to 10 tweets. I am not sure how to reuse the same argument for hackernews as for HN it should default to 5 and also validation of arguments becomes a little tricky. Currently you can run the hackernews test as follows:
`node . -h <<hackernews id>> -t <<numTopLevelComments>> -d <<depthOfNes

[2020-12-07 15:46] Mira-Alf commented on #895
The title section has been modified as follows:
![image](https://user-images.githubusercontent.com/64691316/101371931-54fb2e80-38d1-11eb-9df8-bd1f02e9ffae.png)

I am closing this issue for now. If anyone has any other interesting designs for this, feel free to reopen this issue

[2020-12-07 15:46] #895 closed

[2020-12-07 15:48] Mira-Alf commented on #840
All problems have been fixed. And now we have a fully functioning module.

[2020-12-07 15:48] #840 closed

[2020-12-07 15:50] Mira-Alf commented on #855
I dont understand this issue. The PDF is being rendered in A5 format already right?
`await page.pdf({
      path: outputPath,
      format: "A5",
      margin: {
        bottom: 52, // minimum required for footer msg to display
        left: 20,
        right: 20,
        top: 10,
      },
      printBackground: true,
      displayHeaderFooter: true,
      footerTemplate: footerMarkup(),
      hea

[2020-12-07 15:51] Mira-Alf commented on #824
We have a fully functioning module for hackernews. I am closing this issue for now.

[2020-12-07 15:51] #824 closed

[2020-12-07 16:26] #855 closed

[2020-12-08 09:00] joelvinaykumar commented on #903
Can we please try the updated the [design](https://www.figma.com/file/34YX1uk6ZVhQWVzLyjzUdG/Twindle?node-id=0%3A1)

There is no point in asking a user to see another testimonial. This should be an automatic carousel.

[2020-12-08 10:02] Akshay2996 commented on #903
That is what we are going for right now. It should automatically slides to another testimonial after a certain period of time instead of clicking it.

Looking for someone to implement it.

[2020-12-08 11:07] PuruVJ commented on #903
I say we get rid of right left buttons all together. Move the profile photo to the top, and add 3 dots to bottom

[2020-12-08 11:17] joelvinaykumar commented on #903
@PuruVJ  Your advice sounds right. But, we might lose the horizontal real estate and we need to pack everything in a line. Hence, the horizontal layout.
And, for a more realistic effect, we can do something like this : "The sentences are typed and it is paused for 5-7 seconds for user to read"

[2020-12-08 11:29] PuruVJ commented on #903
Packing everything in a single line isn't bad @joelvinaykumar. Or you could make this carousel like multiple showing at once, like Netflix or Disney+

[2020-12-08 11:45] joelvinaykumar commented on #903
![image](https://user-images.githubusercontent.com/16177724/101479932-fa1d1200-3978-11eb-8e9b-03c5c0781f9d.png)
Something like this ?

[2020-12-08 11:46] PuruVJ commented on #903
Perfectio 👌

[2020-12-08 11:52] joelvinaykumar commented on #903
In this case, we can move the active dots to bottom

[2020-12-09 07:08] Akshay2996 opened #913 "Redesign Footer for twindle-web"
![image](https://user-images.githubusercontent.com/37118877/101596188-a82cc880-3a1a-11eb-91d3-126316855c19.png)

- What type of footer we currently have 👆

## Important Pointers

- Replace the footer to make it look more appealing
- Reference some professional sites to get a better understanding of the footer

#### See links 👇 for footer designs
- https://hookagency.com/website-footers/
- https://

[2020-12-09 09:33] PuruVJ opened #915 "Modular Styling in New Svelte templates"
@tolgaerdonmez has done really good work by converting from HBS to Svelte.

However, it's still using global CSS, which completely defeats the purpose of moving to Svelte.

Someone should take on this task of putting the correct CSS in the correct components, and also modifying selectors to overall simplify the code.

[2020-12-09 09:33] PuruVJ commented on #915
All that work is happening in the `renderer-svelte` branch

[2020-12-09 11:46] Akshay2996 commented on #915
I have seen the code!! If I get the time I can work on that but don't want to give any false hope quite busy with some work. And label the Issue to design too if we have to make changes in the CSS part only.

[2020-12-09 22:05] lh536 commented on #913
@Akshay2996 great! I'll take this! Right now I'm a little busy solving some personal problems, but I think on weekend I'll work on it.

[2020-12-10 09:26] Akshay2996 commented on #913
@lh536 See the footer design of this site. It's minimal & looks great https://100daysof.codes/ Lets design somewhat of this style per say.

[2020-12-10 11:04] PuruVJ opened #922 "Handling formatting inconsistency"
See https://github.com/twindle-co/twindle/discussions/921

[2020-12-10 11:13] PuruVJ commented on #709
This issue is too broad. Should be closed and replaced with smaller and more specific issues, like Github testing, Twitter testing, HN testing, and with a solid, tangible goal in mind(Optional in beginning, and should be added). Progress should be documented there, by referencing the PRs doing this work.

[2020-12-10 11:13] #709 closed

[2020-12-10 11:17] PuruVJ opened #923 "Github Module tests"
We need to have a broad set of Jest test cases for our Github module.

Whoever are working on writing test for Github are requested to link this issue with any PR they make. It's just as easy as adding a comment on that PR with text:
[code]
and it will be linked.

It will help keep track of progress of testing when someone jumps into Github testing process.

[2020-12-10 11:20] PuruVJ opened #924 "Twitter module tests"
We need to have a broad set of Jest test cases for our Twitter module.

Whoever are working on writing test for Twitter are requested to link this issue with any PR they make. It's just as easy as adding a comment on that PR with text:
[code]
and it will be linked.

It will help keep track of progress of testing when someone jumps into Twitter testing process.

[2020-12-10 11:22] PuruVJ opened #925 "Hackernews module tests"
We need to have a broad set of Jest test cases for our Hackernews module.

Whoever are working on writing test for Hackernews are requested to link this issue with any PR they make. It's just as easy as adding a comment on that PR with text:
[code]
and it will be linked.

It will help keep track of progress of testing when someone jumps into Hackernews testing process.

[2020-12-10 13:30] PuruVJ commented on #922
Closed in #926

[2020-12-10 13:30] #922 closed

[2020-12-10 13:36] PuruVJ opened #927 "Blog Post: Setting up Prettier in VSCode, formatting, formatting on save"
Repost on my blog https://puruvj.dev.

Reference https://github.com/PuruVJ/puruvjdev2/issues/6

[2020-12-11 10:06] PuruVJ commented on #927
Closes https://github.com/PuruVJ/puruvjdev2/issues/6

[2020-12-12 14:25] PuruVJ commented on #927
Draft for it here. Whoever is reading, please read it and give your feedback.

Is it clear enough? Descriptive enough?

https://puruvjdev2-git-blog-setup-prettier-vscode.puruvj.vercel.app/blog/setup-prettier-vscode

[2020-12-12 14:54] PuruVJ opened #932 "Introduce Twindle Web to Prettier"
Twindle CII and Twindle Thread both have prettier configs in them, and devs more or less follow it. I think we should introduce Prettier in Twindle Web.

For those not familiar with prettier or how to set it up, please read https://puruvj.dev/blog/setup-prettier-vscode

What are your thoughts @twindle-co/developer ?

[2020-12-13 07:58] #927 closed

[2020-12-13 14:34] frankiefab100 commented on #932
I agree with you. I will help make the project have a consistent format.

[2020-12-13 15:21] Akshay2996 commented on #932
It's a great suggestion @PuruVJ But I think everybody working on twindle-web already have prettier installed as an extension in VSCode as far as I know & the formatting of the code is looking great for the twindle-web due to the prettier extension. Regardless, we should have a discussion on it to encourage people about this.

[2020-12-13 15:24] PuruVJ commented on #932
Good!

It's very easy to format it in the beginning, it's just one command for all files.

The problem is maintaining formatting as more code is written. We have to encourage people to format their files as they are writing the code.

The blog post I referenced above is for people who need to learn this. It can be gently enforced on the whole project. Whenever someone who does not have auto-format

[2020-12-13 15:31] PuruVJ commented on #932
I agree @Akshay2996, but the thing is that you have to press the shortcut keys to format, and you have to remember to do that. For example, a recent PR done by Devarshi Doshi has weird formatting at some places. It was formatted by hand, not by prettier. So yes, having a 5-lines long prettierrc file won't harm anyone, and it will enforce consistent styling across the 3 projects, which is quite nee

[2020-12-14 09:46] PuruVJ commented on #4
This hasn't had any activity since a month and half. Closing it now.

If anybody wants to submit new logo, we can always reopen this issue.

[2020-12-14 09:46] #4 closed

[2020-12-14 09:46] PuruVJ commented on #723
How's the progress going Shekhar?

[2020-12-14 09:50] PuruVJ commented on #748
This issue is too broad. Closing it in favour of a new issue regarding encoding images.

[2020-12-14 09:50] #748 closed

[2020-12-14 09:51] PuruVJ commented on #758
@Mira-Alf is this issue fixed?

[2020-12-14 09:52] PuruVJ commented on #782
I believe we now have green flag to go ahead and look into the calibre approach, so this issue is irrelevant now? Should be closed @proful ?

[2020-12-14 09:53] #782 closed

[2020-12-14 13:44] Mira-Alf opened #937 "Formatting differences between the main branch and the svelte branch"
This is primarily for documenting the differences:
a) A tweet with a link
[FrancescoCiull4-Dec-14-2020.pdf](https://github.com/twindle-co/twindle/files/5689098/FrancescoCiull4-Dec-14-2020.pdf)
[main_sample4.pdf](https://github.com/twindle-co/twindle/files/5689099/main_sample4.pdf)
b) A tweet with an embedded youtube link
[DThompsonDev-Dec-14-2020.pdf](https://github.com/twindle-co/twindle/files/56

[2020-12-14 17:50] PuruVJ commented on #803
Taking a brief break from Twindle Thread to work on the new svelte templates.

I'm getting a serious analysis paralysis that comes only with designing stuff. So I'm gonna indulge in plain code for now, do not worry about designing and stuff.

[2020-12-14 17:52] PuruVJ commented on #803
Would be great if somebody would continue this project in my absense.

I've been the only one since, and it's good to have more people jump in. It's foundation is set enough that people can easily contribute without anybody's personal coding styles conflicting too much.

[2020-12-15 04:22] PuruVJ commented on #932
All right, I'm gonna go ahead and introduce prettier. No harm in doing so

[2020-12-15 05:49] #932 closed

[2020-12-15 07:50] PuruVJ commented on #937
Closing, as all these are resolved now.

[2020-12-15 07:50] #937 closed

[2020-12-15 07:50] PuruVJ commented on #915
Resolved in #940

[2020-12-15 07:50] #915 closed

[2020-12-15 15:57] tolgaerdonmez commented on #782
yep I'm going to implement that using calibre-cli

[2020-12-16 08:45] joelvinaykumar commented on #913
Sure @Akshay2996  Use the 100daysof.codes design

[2020-12-17 17:15] harshulvijay opened #946 "twindle-cli runtime error"
Command used:
[code]

![image](https://user-images.githubusercontent.com/64775657/102520179-6aced780-40b9-11eb-91be-86efc3270875.png)

[2020-12-18 05:27] PuruVJ commented on #946
This is the result of my attempt to merge stuff from `renderer-svelte` to `main`

[2020-12-18 05:34] Mira-Alf commented on #946
Sure, I will take a look at this.

[2020-12-18 06:04] Mira-Alf commented on #946
This is not an issue because of the svelte changes. This is a unique error happening in a special circumstance. We need to discuss on how to handle this.
Here is the tweet id: [Tweet link](https://twitter.com/lavie_encode/status/1337875532483092480)

* The tweet is a reply to another user and consequently not the first tweet of the thread
* Code tries to locate the first tweet of the thread but th

[2020-12-18 06:06] PuruVJ commented on #946
The second part seems good enough.

Did you try some other tweet?

[2020-12-18 15:27] Mira-Alf opened #949 "Mozilla readability causes error with some urls"
The error happens with the following url:
`node . -e https://www.notion.so/guides/the-only-notion-setup-you-need-for-keeping-new-years-resolutions`
![image](https://user-images.githubusercontent.com/64691316/102631289-88f90e00-4173-11eb-9592-eb4d7b862f51.png)

[2020-12-18 15:44] Mira-Alf opened #950 "Replies section in Twitter Svelte template shows Replies heading even without any replies in them"
## Description with command
I am not sure if this is a renderer issue or the json issue - will need to check this.
Command needed to replicate this:
`node . -i 1339510645125828609 -r`

## Screenshot
![image](https://user-images.githubusercontent.com/64691316/102632919-b8a91580-4175-11eb-8317-5198043a5727.png)

[2020-12-18 15:55] Mira-Alf opened #951 "Hackernews - duplication of comments in the output PDF when there are few comments"
## Problem Description
I tried running this command:
`node . -h 25467545`

The last comment is repeated twice.

## Screenshot
![image](https://user-images.githubusercontent.com/64691316/102634103-636e0380-4177-11eb-9519-a14ba647fe22.png)
![image](https://user-images.githubusercontent.com/64691316/102634127-6963e480-4177-11eb-912e-7c72786da9d4.png)

@tr0mbl3y and I discussed something similar but t

[2020-12-18 18:55] tr0mbl3y commented on #951
![Screenshot from 2020-12-18 23-48-21](https://user-images.githubusercontent.com/72851843/102650170-76d99880-4190-11eb-85b6-5a10c3f70c48.png)
--> fixed one on right side

[2020-12-19 05:48] tr0mbl3y opened #953 "Readability issues"
1. unable to render images such as graphs
2. need to do something about handling slides in websites
3. in some case unable to render full contents from websites
![Screenshot from 2020-12-19 11-08-32](https://user-images.githubusercontent.com/72851843/102681862-f3996080-41ea-11eb-90c2-d27cd6ae4b77.png)  :case 3

![Screenshot from 2020-12-19 10-56-43](https://user-images.githubusercontent.com/728518

[2020-12-19 05:56] #951 closed

[2020-12-19 11:21] proful opened #954 "twitter cli naval profile pdf looks empty with many white spaces"
![image](https://user-images.githubusercontent.com/354596/102688077-700e5c80-4248-11eb-8241-1b35d0d69c0b.png)

`node . -i 1002103360646823936`

[2020-12-19 11:36] proful commented on #723
@all-contributors please add @shekhar10feb for twindle

[2020-12-19 11:37] proful commented on #723
@all-contributors please add @shekhar10feb for code

[2020-12-19 11:40] proful commented on #954
@all-contributors please add @proful  for code, mentoring and ideas

[2020-12-19 11:41] proful commented on #953
@all-contributors please add @tr0mbl3y  for code

[2020-12-19 11:42] proful commented on #803
@all-contributors please add @PuruVJ  for code, mentoring

[2020-12-19 11:43] proful commented on #946
@all-contributors please add @Mira-Alf  for code, mentoring

[2020-12-19 11:43] proful commented on #946
@all-contributors please add @tolgaerdonmez   for code, mentoring

[2020-12-19 11:44] proful commented on #950
@all-contributors please add @Mira-Alf  for code, mentoring

[2020-12-19 11:46] proful opened #962 "Adding contributor list to twindle"

[2020-12-19 11:46] proful commented on #962
@all-contributors please add @johnjacobkenny   for code, mentoring

[2020-12-19 11:47] proful commented on #962
@all-contributors please add @Mira-Alf  for code, mentoring

[2020-12-19 11:50] proful commented on #962
@all-contributors please add @Mira-Alf  for code, mentoring

[2020-12-19 11:51] proful commented on #962
@all-contributors please add @Akshay2996  for code, design

[2020-12-19 11:52] proful commented on #962
@all-contributors please add @shekhar10feb   for code

[2020-12-19 11:53] proful commented on #962
@all-contributors please add @shekhar10feb for code

[2020-12-19 11:54] proful commented on #962
@all-contributors please add @tolgaerdonmez  for code

[2020-12-19 11:55] proful commented on #962
@all-contributors please add @UnevenCoder  for code

[2020-12-19 11:57] proful commented on #962
@all-contributors please add @SarveshKadam  for code

[2020-12-19 13:12] Mira-Alf commented on #953
@tr0mbl3y the problem is that the Mozilla reader view renders the above websites the same way which is what we use, so our output looks exactly the same way. If we need to fix this, we need to look at their source code to fix what they are doing or use a different application underneath. If anyone else has any other ideas, we can try it out

[2020-12-19 13:33] tr0mbl3y commented on #953
@Mira-Alf alright then this is not an issue anymore! but do check  for case 3:  like in first picture i am not getting full contents

[2020-12-20 02:22] frankiefab100 commented on #902
I would like to work on this

[2020-12-20 11:58] praveen2896 commented on #913
I am working on it

[2020-12-20 20:12] simrin051 opened #977 "Jest testing of index.js from Twitter scraping folder"
Jest testing of index.js  from Twitter scraping folder

[2020-12-22 03:53] PuruVJ commented on #962
If no more contributors are to be added, can it be closed?

[2020-12-23 23:15] Mira-Alf commented on #953
@tr0mbl3y these are some interesting cases. Case 3 happened because the content is hidden behind a paywall. Cases 1 and 2 are a little strange but the Mozilla reader renders the content this way as well and they use the @mozilla-readability npm module. So there will need to be either tweaks for these kind of cases or we must use a different npm module altogether. I think we can close this issue fo

[2020-12-24 06:56] tr0mbl3y commented on #953
alright closing this then!

[2020-12-24 06:56] #953 closed

[2020-12-24 09:53] tolgaerdonmez opened #983 "EPUB: Emojis are shown full page"

[2020-12-25 00:59] Mira-Alf commented on #983
@tolgaerdonmez in which source is this happening?? An example or a screenshot will be great. We saw this during the live demo as well. Just cant remember when it happened. I am working on global styles for the svelte templates

[2020-12-25 01:00] Mira-Alf commented on #949
This bug has been fixed with an error message "Article cannot be loaded" instead of this ugly exception. This issue can be closed.

[2020-12-25 01:02] Mira-Alf opened #985 "Twitter User Timeline PDF no longer shows the date/timestamp"
The handlebars to svelte template transition has removed this. Needs to be fixed.

`node . -u naval`

Can be checked here

[2020-12-25 01:16] Mira-Alf opened #987 "Github Markdown formatting issues"
* When an image or a link was added in the MD file, originally the links didnt work because they had relative paths like './images/image-001.png' - these links for images and hrefs broke in the PDF output
* I fixed it by replacing the pattern './' with the url of the repository - all was good and it worked for most of the cases
* I observed some cases where the above pattern for links and images s

[2020-12-25 01:23] Mira-Alf opened #988 "List of pending svelte template changes"
## So far
@tolgaerdonmez  did an enormous job by starting the migration to svelte templates. We have done a few live coding sessions for this now and now svelte templates are ready for PDF generation of
* Tweet threads
* User timeline tweets
* Github markdown files
* Articles of URLs
* Hackernews comments - styling is left here

## What remains?
* The epub module continues to use handlebars for th

[2020-12-25 03:05] proful opened #989 "github author photo not rendered properly"
`node . -g https://github.com/josephsavona/rfcs/blob/server-components/text/0000-server-components.md`

![image](https://user-images.githubusercontent.com/354596/103116320-3b702a00-46ba-11eb-9d5c-8ed0dddc8ad8.png)

[2020-12-25 03:07] proful commented on #989
fixed by mira

[2020-12-25 03:07] #989 closed

[2020-12-25 05:39] tolgaerdonmez commented on #983
It occured while creating epub in the main branch, I can send samples if you want.

[2020-12-25 07:28] devarshidoshi commented on #903
Is anyone working on testimonial part??

[2020-12-30 00:52] frankiefab100 commented on #913
@Akshay2996 how do you see this footer?
![Footertwindle landing](https://user-images.githubusercontent.com/46662771/103323088-88009000-4a41-11eb-8171-22d5c80b375f.jpg)

[2020-12-30 17:17] Akshay2996 commented on #913
This looks amazing to me 🤩 Raise a PR @frankiefab100 & match the color to the whole site, try to make it uniform.

[2021-01-01 14:06] frankiefab100 commented on #913
@Akshay2996 Alright.

[2021-01-04 14:37] johnjacobkenny opened #994 "UX: Auto open generated PDF for preview"
It would be nice to have a feature to automatically open up the PDF that is generated :smiley:

[2021-01-04 14:43] johnjacobkenny commented on #987
This could be an option - https://stackoverflow.com/a/7995298/8323067

The idea is to provide an `onerror` handler which will set the image to some default image that we provide.

[2021-01-04 14:47] johnjacobkenny commented on #913
Looks awesome! @frankiefab100

[2021-01-04 14:50] johnjacobkenny commented on #988
Should I take up something from this?

[2021-01-05 04:18] Mira-Alf commented on #994
This sounds like a wonderful idea. Is it possible to do this natively in NodeJS or some dependency?

[2021-01-05 15:02] johnjacobkenny commented on #994
https://www.npmjs.com/package/open

This package works for me on linux :smile:

[2021-01-18 06:39] #723 closed

[2021-01-19 01:19] #752 closed

[2021-01-22 12:14] PuruVJ commented on #758
This is worth while, but not focusing on this for some time

[2021-01-22 12:14] #758 closed

[2021-01-22 12:18] PuruVJ commented on #778
Scrapping Twindle Web for now

[2021-01-22 12:18] #778 closed

[2021-01-22 12:18] PuruVJ commented on #795
Not needed for now

[2021-01-22 12:18] #795 closed

[2021-01-22 12:19] PuruVJ commented on #803
Scrapped for now

[2021-01-22 12:19] #803 closed

[2021-01-22 12:19] PuruVJ commented on #902
Scrapped for now

[2021-01-22 12:19] #902 closed

[2021-01-22 12:20] PuruVJ commented on #903
Scrapped for now

[2021-01-22 12:20] #903 closed

[2021-01-22 12:20] PuruVJ commented on #907
Scrapped for now

[2021-01-22 12:20] #907 closed

[2021-01-22 12:20] PuruVJ commented on #913
Scrapped for now

[2021-01-22 12:20] #913 closed

[2021-01-22 12:22] PuruVJ commented on #946
Making this another issue for now.

[2021-01-22 12:22] #946 closed

[2021-01-22 12:24] PuruVJ opened #997 "Decide what do when Tweet ID is a reply to tweet by another user"
By @Mira-Alf

Here is the tweet id: Tweet link

Code tries to locate the first tweet of the thread but the first tweet has not been made by the same user - consequently it returns undefined
Since the lookup fails - it is unable to find/search other tweets on the same thread
What should be done in this case? ThreadReader app simply states this is a reply and cannot be rolled. Should we take a simil

[2021-01-22 12:24] PuruVJ commented on #997
What do you think we should do in this scenario?

[2021-01-22 12:26] PuruVJ commented on #950
@Mira-Alf is it fixed now?

[2021-01-22 12:27] PuruVJ commented on #950
All right It's fixed. Closing this

[2021-01-22 12:27] #950 closed

[2021-01-22 12:30] PuruVJ commented on #954
I don't know what to solve in this? His description is empty. Pointers from anyone?

[2021-01-22 12:31] PuruVJ commented on #954
Wait It's fixed 😅. Closing for now.

[2021-01-22 12:31] #954 closed

[2021-01-22 12:31] #962 closed

[2021-01-22 12:32] PuruVJ commented on #977
We're deprecating puppeteer tweet fetching for now. No tests needed.
Sorry Simrin 😅

[2021-01-22 12:32] #977 closed

[2021-01-22 12:36] #985 closed

[2021-01-22 12:37] PuruVJ commented on #987
@Mira-Alf Are these solved?

[2021-01-22 12:41] PuruVJ commented on #994
Maybe we should have a flag for this, like --open or something

[2021-01-24 00:24] Mira-Alf commented on #871
This feature has been implemented using the mozilla readability module. Some issues may remain but this issue can be closed.

[2021-01-24 00:24] #871 closed

[2021-01-24 00:25] #949 closed

[2021-01-24 00:27] Mira-Alf commented on #987
I havent tried this. Leaving this issue open for now.

[2021-01-25 17:21] PuruVJ opened #1000 "Move puppeteer tweet crawling to be flag based"
We are deprecating tweet fetching with puppeteer for the time being, because of legal issues.

For now, I'll move puppeteer fetching control to the .env file, and keep it private(not documented anywhere) for now, as we might need to test on very old tweets for some specific regressions, and for jest testing too.

When twindle-cli will be launched, we'll completely remove this functionality. Code w

[2021-01-26 01:40] Mira-Alf opened #1002 "Initialize Twindle setup"
* During the discussion on Friday 22nd January it was decided that for the public launch of the Twindle app, it was decided to go ahead and use the Twitter Bearer Token which one obtains after applying for Twitter Developer account.
* Therefore when a new user tries to use Twindle, we need some kind of init setup for saving the Twitter Bearer Token and other setup details on the file system.

Clar

[2021-01-26 01:50] Mira-Alf opened #1003 "Help documentation for Twindle"
We currently use yargs for getting the command line argument values. yargs provides default help formatting and that currently looks like this:
![image](https://user-images.githubusercontent.com/64691316/105788092-cc7e3d80-5fa5-11eb-8bca-4c59af01f573.png)

* It was decided during the call that we can go with TLDR help format and that looks a little different.
* Also currently we have too many opti

[2021-01-26 02:00] #1000 closed

[2021-01-26 15:37] Mira-Alf commented on #1002
I had a brief discussion with @PuruVJ and this is the summary of what we decided:
* Get the optional Twitter API access key with instructions on how to get Twitter Developer access
* Get the kindle email address as well as the Email config setup that nodemailer will require
* Save all of the above data in a JSON file in the user's home directory
* Replace the process.env.value that we currently ha

[2021-01-29 05:34] #994 closed

[2021-01-29 15:40] PuruVJ commented on #987
@simrin051 is taking over this issue

[2021-01-29 18:35] tr0mbl3y commented on #894
we can make it consistent by making default ```numTweets/numTopLevelComments = 10``` this way we could reuse ```n```. if you agree i will take a look.

[2021-01-30 05:18] #894 closed

[2021-01-31 12:38] Mira-Alf commented on #1002
Some more changes to this feature after the call on 28th January, Thursday. Let us focus on getting the optional Twitter access token and not the kindle email, smtp host/port/sender email and password
The only environment variables that remain are Twitter access token(optional), twindle library path(optional)
Setup process can be run at the start or if access token is not configured - throw an err

[2021-01-31 12:44] Mira-Alf opened #1007 "Mock feature currently not working"
Mock feature is no longer working in the Twindle CLI application. This needs to be fixed. But here are some questions that needs clarifications:
* Originally Twitter was the only source which meant that the -m flag in the command line meant that the twitter.json file in the mock folder will get picked up for rendering the output file
* Now we have other sources like github, hackernews and other ar

[2021-02-04 04:25] tr0mbl3y commented on #1007
- whenever user type ```node -h/-g/-e``` without providing any ```id/url``` it should automatically generate the ```pdf/epub``` of default  hnews id/git url /article url
- for twitter case if no token is provided it should generate pdf of the mock json as well as if user press ```node -i/-u``` without providing anyother info default id/username should be used. doing this we will not need ```- m```

[2021-02-05 17:14] johnjacobkenny commented on #1003
How about using the command such that "twindle hn" filters arguments to those relevant to hn, "twindle GitHub" or "twindle gh" filters for GitHub, and so on?

[2021-02-08 10:31] thunder-coding opened #1008 "Using dependabot to manage dependencies"
Basically, dependabot is a bot which manages and auto-updates dependencies. In case of a dependency update, dependabot will create a PR with heading `Bump <dependency> from <current version> to <latest version>`

Settings for dependabot resides in `.github/dependabot.yml`.

For people new to dependabot, visit: https://docs.github.com/en/github/administering-a-repository/about-dependabot-version-up

[2021-02-08 11:24] thunder-coding commented on #1008
@twindle-co/developer

[2021-02-17 00:37] #925 closed

[2021-02-17 00:37] #923 closed

[2021-02-17 00:37] #924 closed

[2021-03-03 00:39] #983 closed

[2021-03-31 00:52] #988 closed

[2021-03-31 00:52] #997 closed

[2021-04-07 00:57] #987 closed

[2021-04-10 00:58] #1002 closed

[2021-04-13 01:00] #1007 closed

[2021-04-15 00:57] #1003 closed

[2021-04-18 00:58] #1008 closed