[2020-10-14 03:08] johnjacobkenny opened #4 "We need a logo!"
People! We need a logo 😃

Let out your artistic side and create away! Send your suggestions here!!! 🥳

[2020-10-14 03:14] johnjacobkenny commented on #4
e.g. add your suggestions  like this
![image](https://user-images.githubusercontent.com/19240564/95939297-5dffe000-0df9-11eb-80c6-93a78514e853.png)

And we can show whether we like it by using emojis. No need to comment that I like this or that, it will add clutter.

![image](https://user-images.githubusercontent.com/19240564/95939340-796aeb00-0df9-11eb-9156-8b9a2e0d8a25.png)

[2020-10-14 05:07] MrVoicer commented on #4
![twindle logo](https://user-images.githubusercontent.com/28817838/95946003-4a5c7580-0e09-11eb-9398-4514a1f4fbf4.png)

[2020-10-14 05:19] toocoolsachin commented on #4
Hi, I have an idea, maybe we can do is twitter bird taking a thread in her beak or something like that. I am not good at logo designing, maybe anyone here, if like this idea, can design it.

[2020-10-14 06:10] MrVoicer commented on #4
![twindle logo2](https://user-images.githubusercontent.com/28817838/95950358-01f58580-0e12-11eb-8144-33e543188403.png)

[2020-10-14 06:33] cankocman commented on #4
![twindle](https://user-images.githubusercontent.com/49498453/95952158-45df8f00-0e00-11eb-8827-5d8f3809f7e4.png)

[2020-10-14 06:40] cankocman commented on #4
![twindle2](https://user-images.githubusercontent.com/49498453/95952720-4b89a480-0e01-11eb-8678-a16c2c25defa.png)

[2020-10-14 06:55] cankocman commented on #4
![twindle3](https://user-images.githubusercontent.com/49498453/95954068-6d842680-0e03-11eb-9b27-131453b86e41.png)
Minor changes. Arrow is a bit lower than before.

[2020-10-14 07:35] kambleaa007 commented on #4
![02c853be-384e-4b9f-9b2b-640561bf5921_200x200](https://user-images.githubusercontent.com/19818679/95957823-d8425b80-0e1d-11eb-88fa-c4a2f78f329f.png)

Twindle is Here

[2020-10-14 08:00] QuiiBz commented on #4
Still WIP
![image](https://user-images.githubusercontent.com/43268759/95960481-13d02c00-0e04-11eb-8d5c-ca3954b8cea2.png)

[2020-10-14 08:05] pranavgoel29 commented on #4
![Logo mockup](https://user-images.githubusercontent.com/48860494/95960968-117cca80-0e22-11eb-808c-dee33ee5f8d4.png)

[2020-10-14 09:38] proful opened #14 "Highlevel Design"
![image](https://user-images.githubusercontent.com/354596/95971617-2d519200-0e5d-11eb-9e4b-2a77bd1ecb67.png)

[2020-10-14 09:42] niveth09 commented on #4
###
![Logo-Twindle (1)](https://user-images.githubusercontent.com/19762119/95970805-0039bb00-0e2e-11eb-823f-6b16eacbf5be.png)

[2020-10-14 10:14] MumbiGachomba04 commented on #4
![20201014_120422_0000](https://user-images.githubusercontent.com/45368931/95975748-39b6fa00-0e1f-11eb-84b8-92c8f2216032.jpg)

[2020-10-14 11:00] kambleaa007 commented on #4
can you put that bird, as dot of i

[2020-10-14 12:29] tusharkashyap63 commented on #4
![Twindle (2)](https://user-images.githubusercontent.com/65089058/95988591-bd381180-0e46-11eb-9450-e50b422fb8a6.png)

This logo is for dark backgrounds.

[2020-10-14 12:43] sammjainn commented on #4
![3](https://user-images.githubusercontent.com/46999417/95990157-c924d300-0e48-11eb-9ee4-9ae094758442.png)
![2](https://user-images.githubusercontent.com/46999417/95990237-e22d8400-0e48-11eb-8e14-bbf22321da4c.png)
![1](https://user-images.githubusercontent.com/46999417/95990209-d80b8580-0e48-11eb-8f64-486d8645ed5c.png)

[2020-10-14 12:44] sammjainn commented on #4
![3](https://user-images.githubusercontent.com/46999417/95990381-10ab5f00-0e49-11eb-84e3-3342948ead2b.png)

[2020-10-14 12:44] sammjainn commented on #4
![2](https://user-images.githubusercontent.com/46999417/95990411-199c3080-0e49-11eb-991c-0f54ff76eafb.png)

[2020-10-14 12:44] sammjainn commented on #4
![1](https://user-images.githubusercontent.com/46999417/95990426-202aa800-0e49-11eb-9c31-1724d38276a1.png)

[2020-10-14 13:05] Mira-Alf opened #33 "Twitter Developers Documentation"
There are two Twitter API versions v 1.1 and v2.0 early access - which one should we use?
https://developer.twitter.com/en/docs/api-reference-index

[2020-10-14 13:46] thunder-coding commented on #33
I think we should use v1.1 for now, untill v2 gets out of beta.

The beta build of the API will be unstable and I will not recommend it for any such huge projects as the API may change without any prior notice

[2020-10-14 13:51] piratelicorne opened #40 "FAQ"
Let's update the FAQ page. @Sheetal777

[2020-10-14 13:53] praveen2896 opened #41 "Documentation: How to sync the main repo and own repo in GitHub."
To sync the main repo and own repo,

1. pointing to the main repo and pull from it, for that create a new remote in local for pointing the main repo .
    `git remote add upstream https://github.com/twindle-co/twindle.git`
2. To download all the changes and commits from main Repo.
    `git fetch upstream`
3. The current branch will be updated to reflect the merge.
    `git merge upstream/main`
4.

[2020-10-14 13:58] johnjacobkenny commented on #41
Great, @praveen2896 thanks for documenting this! @Sheetal777 or anyone else could verify?

[2020-10-14 14:02] thunder-coding commented on #41
You have two options
- On your Git in VS Code, click on the three dot option and click push/pull
                                      OR
- In your terminal do this 'git push' or 'git pull'

Pull will get the latest changes from GitHub
And push will send your latest changes to GitHub

[2020-10-14 14:05] johnjacobkenny commented on #41
@thunder-coding Could you collaborate on making sure this is a step by step explanation so that a newbie can understand? The discussion is about how to keep the forked repo in sync before creating PRs

[2020-10-14 14:12] johnjacobkenny commented on #41
https://github.com/twindle-co/twindle/pull/8#issuecomment-708329032 may also be helpful

[2020-10-14 14:21] proful commented on #40
FAQ is very important Sheetal.

Please actively work on the FAQ. Make sure you capture the questions and don't worry about answers.

[2020-10-14 14:23] Sheetal777 commented on #40
Yes, @proful We will take care of that part. Thank you for assigning.

[2020-10-14 15:42] vijaya-bhaskar opened #57 "10 steps for creating your first pull request."
I hope the following screenshots will help with your first pull request.

Firstly create your account on github and goto twindle repository page [here](https://github.com/twindle-co/twindle)
Now you can follow the following steps.

Step 1
![1](https://user-images.githubusercontent.com/5336488/96012183-7b689480-0e61-11eb-94b9-289c30811210.png)

Step 2
![2](https://user-images.githubusercontent.com/

[2020-10-14 15:50] pranavgoel29 commented on #57
@vijaya-bhaskar can you add some different colour in the background of text then it will be more easier to read the comments you added 😄

[2020-10-14 15:56] vijaya-bhaskar commented on #57
I agree @pranavgoel29 but I cant add background color to the text now :)
But you can click on the image to open in a new window which would be clear.
Next time I will take that into consideration. Thank you.

[2020-10-14 15:58] pranavgoel29 commented on #57
@vijaya-bhaskar ok, no problem. 😄

[2020-10-14 17:19] piratelicorne commented on #57
I think it's awesome and well explained! I did a video for it too, I'll post it here [![Watch the video]()](https://drive.google.com/file/d/1JUercd6IrXbeKd2PlhNh0tD5je4WAKUy/view)

Points covered:
- Create a reverse PR (from the twindle repo to yours, so you can get the updates) via Github
- Creat a file via Github
- Create PR (from your repo to twindle)

These steps are recommended only for the f

[2020-10-14 17:47] Mar-code commented on #57
Thanks, it was very helpful

[2020-10-14 18:10] RafaelBatman55 commented on #57
Thank you so much for this kind of tutorial! It will be quite useful!

[2020-10-14 18:56] vasudeveloper001 opened #73 "Explaning First PR to beginners with video demonstration"
This is going to be added to FAQ Section explaining first PR steps with video demonstration link to beginners.

Will add by tomorrow.

[2020-10-14 18:57] vasudeveloper001 opened #74 "Explaining Git Branch to beginners with working video demo"
Will add a FAQ explaining git branch along with demo video of its working by tomorrow.

[2020-10-14 19:02] piratelicorne commented on #40
FAQs (Twindle)
------------------------------------

### General

⭐️ What is our tech stack?
- HTML, CSS & Java.
- No framework.
- No extra dependency.

⭐️ How tasks will be distributed?
- We will came up with a process to distribute tasks.
- Basically, there will be 4 parts:
A) Beginner
B) Independent
C) Active
D) Expert
- Tasks will be distributed accordingly in small groups.

⭐️ When will we st

[2020-10-14 19:06] pranavgoel29 opened #75 "Colliding issue with some files."
### I have synced the repo once again recently and their are two file which are conflicting with each other, one is ['tushar.md'](https://github.com/twindle-co/twindle/blob/main/firstpr/tushar.md) and another one is ['TUSHAR.md'](https://github.com/twindle-co/twindle/blob/main/firstpr/TUSHAR.md) below is the terminal snap to show the error.

<img width="649" alt="conflicting error" src="https://us

[2020-10-14 19:15] pranavgoel29 commented on #75
@johnjacobkenny Please check this.

[2020-10-14 19:49] teckiegeek commented on #57
This is brilliant. Thank you so much for all these! Now I will be more confident to participate.

[2020-10-14 20:09] geowen74 commented on #57
woow I love it marvelous work. it is well explained. thank you

[2020-10-14 20:29] proful commented on #57
Awesome Vijaya. Great step by step instructions.

[2020-10-14 20:43] proful commented on #75
Can you remame the upper case file and raise a PR

[2020-10-14 20:52] pranavgoel29 commented on #75
@proful I renamed the upper case file to solve this issue.

[2020-10-14 20:54] therealJimoh commented on #33
The v 1.1 is the best for now.

[2020-10-14 20:56] proful commented on #40
Excellent work!!

[2020-10-14 21:04] therealJimoh commented on #40
I think the answer to the first question is an error. We are using Javascript and not Java.

[2020-10-14 21:09] teckiegeek commented on #74
That will be great! Thank you.

[2020-10-14 21:46] pranavgoel29 commented on #75
I am closing this issue as it is solved now.

[2020-10-14 21:46] #75 closed

[2020-10-14 22:04] piratelicorne commented on #40
corrected 😅

[2020-10-14 23:08] proful commented on #40
I think wiki is not good idea.

Use https://github.com/twindle-co/twindle/blob/main/docs/FAQ.md

Send me PR

[2020-10-15 01:52] aesthytik commented on #4
![twindle-logo](https://user-images.githubusercontent.com/26917061/96067207-dd071e00-0eb6-11eb-94fe-88ab68b51046.png)

(For lighter backgrounds)

We can have twindle text beneath with some brandguidelines if provided.
I have used #14AFBC as primary color

[2020-10-15 02:02] Abiolagbode commented on #57
this was really helpful, keep up with the good work team

[2020-10-15 02:24] thunder-coding commented on #33
But as soon our project will complete I think the Twitter API v2 will get out of beta. So, we should use that only. Also after coming out of beta, Twitter will only allow us to use v2, v1.1 will no longer we available.

[2020-10-15 02:27] Mira-Alf commented on #33
V1.1 had oauth 2 and other features missing for a long time. So in my opinion V2 is definitely better.

[2020-10-15 02:31] thunder-coding commented on #33
As beginners will not be able to handle such hard tasks like API calls. We can manage that. No need to worry about it, we can discuss what version will be used. :)

[2020-10-15 02:59] johnjacobkenny commented on #57
@vijaya-bhaskar 💯❤️

[2020-10-15 03:03] johnjacobkenny commented on #75
Thanks @pranavgoel29 for helping out. I'm guessing that you are on windows. Windows treats files with the same characters as one file. It is not case sensitive. However on *nix machines these are two separate files. That is what happened here.

@piratelicorne Could add this example for our FAQ 🙂

[2020-10-15 03:05] pranavgoel29 commented on #75
@johnjacobkenny It happened for Mac users too.

[2020-10-15 03:07] johnjacobkenny commented on #75
Oh, then I must be wrong about the reason. 😂 If anyone else knows what happened, please comment so that it's documented.

[2020-10-15 03:10] pranavgoel29 commented on #75
The reason is right but Windows and Mac both do that because they both are case insensitive.

[2020-10-15 03:28] piratelicorne commented on #75
I thought it was a Windows issue too, but when I clone it in a Mac, the message of "files collided" appeared, I honestly don't know why. 🧐 it's true that in a Mac you can have 2 different files with the same name but with a difference of upper and lower case, but for some reason when it's downloaded from github, it doesn't recognize as 2 diff files 🤷🏽‍♀️
So it's better to avoid it.

[2020-10-15 03:33] johnjacobkenny commented on #33
I think it is fine that we use the current stable version. It would give everyone an opportunity to learn how to upgrade APIs. And they won't throw away the current stable one as soon as the new one is out. We will have enough time 🙂

[2020-10-15 03:58] johnjacobkenny opened #99 "Daily Call Meeting notes"
## 14-Oct-2020

About 45/60 joined.

* Walkthrough of Github repository/organization
* Domain `twindle.co` purchased by @proful
* Collaborate using twitter, gh, sketchnotes - keep low number of tools to use, maybe consider other options if we grow a lot
* FAQ page will be created. [It was created here](https://github.com/twindle-co/twindle/blob/main/docs/FAQ.md)
* Split teams into
   * Beginner (b

[2020-10-15 04:02] arthurbuhl opened #100 "Adding a code of conduct to your project"
A _code of conduct_ defines standards for how to engage in a community. It signals an inclusive environment that respects all contributions. It also outlines procedures for addressing problems between members of your project's community. For more information on why a code of conduct defines standards and expectations for how to engage in a community, see [github docs](https://docs.github.com/en/fr

[2020-10-15 04:06] arthurbuhl opened #101 "Add Issue and pull request templates"
Issue and pull request templates customize and standardize the information you'd like contributors to include when they open issues and pull requests in your repository. For more information, see "[About issue and pull request templates](https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/about-issue-and-pull-request-templates)"

[2020-10-15 04:21] arthurbuhl commented on #41
An important step is missed here.

Before you can [sync your fork](https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/syncing-a-fork) with an upstream repository, you must configure a remote that points to the upstream repository in Git.

Here are the steps: [Configuring a remote for a fork](https://docs.github.com/en/free-pro-team@latest/github/coll

[2020-10-15 04:55] arthurbuhl opened #103 "Add a EditorConfig file to the project"
**EditorConfig** helps maintain consistent coding styles for multiple developers working on the same project across various editors and IDEs. The **EditorConfig** project consists of a file format for defining coding styles and a collection of text editor plugins that enable editors to read the file format and adhere to defined styles. **EditorConfig** files are easily readable and they work nicel

[2020-10-15 05:03] proful commented on #103
That will complicate for beginners. Will definitely add in future.

[2020-10-15 08:09] cankocman opened #114 "Problem with local desktop PR"
warn: No match for commit 84690c850e986d19789c415009e5ce3177dfa16d found at https://github.com/twindle-co/twindle.git
warn: Are you sure you pushed 'HEAD' there?

Hİ, when i try to do my second PR i get these errors i've checked on stackoverflow and they say i have to push first. But when i try to push permission is denied remotely. Can anyone help ?
![resim_2020-10-15_110927](https://user-images.

[2020-10-15 08:54] kambleaa007 opened #117 "visitor count increases with each refresh"
for same ip it shoudnt increase more than once
#107 not working as expected

[2020-10-15 08:55] proful opened #118 "Add Youtube, twitter Link in readme with icon"
Someone take the task and update the readme file with icon

Github: https://github.com/twindle-co/twindle
Twindle YT:		https://www.youtube.com/channel/UCKxUmbHq5P5pd5IyUiZ8MHA
Daily Standup Playlist:
https://www.youtube.com/watch?v=mveHORtiKx8&list=PLJ6Y8JfXAV--l82_UnUi4w7WEaYJhJFRQ

Twitter: https://twitter.com/twindleco

[2020-10-15 08:56] UnevenCoder opened #119 "Anyone is working on a banner for the yt channel ?"

[2020-10-15 08:58] UnevenCoder commented on #119
You can make it responsive by following this template
![image](https://user-images.githubusercontent.com/49345531/96101029-b0b2c800-0edd-11eb-85bc-7e379f94a707.png)

[2020-10-15 08:59] UnevenCoder commented on #118
so u want img to go to the link ?

[2020-10-15 09:09] proful commented on #119
Thanks for creating this issue.

YT banner is needed.

[2020-10-15 09:09] proful commented on #118
yes

[2020-10-15 09:09] pranavgoel29 commented on #119
I can make one.

[2020-10-15 09:12] pranavgoel29 commented on #101
I am making one it will be updated time to time.

[2020-10-15 09:31] UnevenCoder commented on #118
You can assign it to me
done

[2020-10-15 09:32] UnevenCoder commented on #119
cool go ahead after making the banner forward it here for feedback :)

[2020-10-15 10:06] proful commented on #118
Go ahead and do it and send a pr

[2020-10-15 10:33] arthurbuhl commented on #114
As mentioned in the [Documentation](https://github.com/twindle-co/twindle/issues/41), you needed to do sync your `forked` repo first with the `main` repo before making your local changes, like:

[code]

Then make your local changes and then do git add, commit and then finally do git push.

[2020-10-15 10:49] mrsidverse commented on #118
I have added the links and have created a PR sir.

[2020-10-15 10:56] UnevenCoder commented on #118
already done @mrsidverse

[2020-10-15 10:59] mrsidverse commented on #117
Yeah, that's how it works.
This is counter of profile views (page hits), not a counter of unique visitors. There is no way to get the username, browser user agent or IP address of the visitor because GitHub proxies all image URLs through the GitHub Camo service. In other words, we can only increment the counter for each request from the GitHub proxy server, we don't know who initiated it.
So we ha

[2020-10-15 11:19] kambleaa007 commented on #117
we can do get IP address,

`http://ip-api.com/json?callback=?`

[code]

[2020-10-15 11:29] pranavgoel29 commented on #119
Ok

[2020-10-15 12:54] kambleaa007 commented on #117
Lets close this issue if this problem not worth solving or time wasting

[2020-10-15 13:13] RafaelBatman55 commented on #4
Good one! But maybe will be better if you remove the first line. Can you try?

[2020-10-15 13:19] SwatiRaoDataEnthusiast commented on #41
AzureAD+SwatiAnandRao@LAPTOP-MJRBVINQ MINGW64 ~/Desktop/GIT/twindle (main)
$ git push origin main
****remote: Permission to twindle-co/twindle.git denied to SwatiRaoDataEnthusiast.
fatal: unable to access 'https://github.com/twindle-co/twindle/': The requested
URL returned error: 403****
I am getting above error when I am trying to push into origin?

[2020-10-15 13:22] tolgaerdonmez commented on #114
I'm facing the same problem. I synced the local with upstream, than made my changes, but same problem goes.
<img width="796" alt="image" src="https://user-images.githubusercontent.com/45141388/96132026-92ab8e80-0f02-11eb-97c5-c4cf484bec9e.png">

I cannot create a pull request from commit **f9f8bc7408841a3669b415e360f72ead11f8b918** to upstream

[2020-10-15 13:35] aesthytik commented on #4
Sure !!! will send an updated version with first line removed in some time:)

[2020-10-15 13:41] #118 closed

[2020-10-15 13:42] aesthytik commented on #4
@RafaelBatman55 updated 😄. Looks better now though

![twindle](https://user-images.githubusercontent.com/26917061/96137344-2c326a80-0f1a-11eb-946c-0cc511e5338e.png)

[2020-10-15 13:45] jahidhasanlinix opened #144 "Anyone facing push issue while using GitKraken client"
![Screenshot from 2020-10-15 19-44-55](https://user-images.githubusercontent.com/36171973/96137825-f04dd400-0f1e-11eb-9483-d61acc30013a.png)

[2020-10-15 14:01] Rakesh-4 commented on #144
You can push to the repo directly as you don't have the access. So create a pull request and someone will review ur changes and if it goes well it will merged

[2020-10-15 14:03] jahidhasanlinix commented on #144
Yes, I did a pull request for new changes so after that, it will merge once it accepted, right

[2020-10-15 14:07] Rakesh-4 commented on #114
Hey, can you pls check whether ur local and remote repo is in sync via this command  `git status -uno  `.

[2020-10-15 14:08] Rakesh-4 commented on #144
Yup

[2020-10-15 14:09] tolgaerdonmez commented on #114
It prints
`Your branch is up to date with 'origin/main'`

[2020-10-15 14:13] pranavgoel29 commented on #41
You are making a commit directly to main repo. You have to first commit to your forked repo then you can make a PR from Github.

I have attached some snaps below.

Here you can see my origin is my forked repo link. You can check your's by running `git remote -v`.

![image](https://user-images.githubusercontent.com/48860494/96140210-5174a800-0f1d-11eb-839b-21e9444130fd.png)

Then after making chang

[2020-10-15 14:14] Rakesh-4 commented on #114
Nice. Then try to create a pull request via a web interface(If you had made any new changes). Are you still getting an error while doing that? If so pls let me know the error message

[2020-10-15 14:21] tolgaerdonmez commented on #114
I did successfully by using the github's website, but I'm wondering why it is not working from terminal. We'll see in future PR's, how will it go. @Rakesh-4 Thank you anyway

[2020-10-15 14:23] Rakesh-4 commented on #114
Nice. Post me that error let me have a look.

[2020-10-15 14:25] tolgaerdonmez commented on #114
That was the error I was getting from terminal, but none occurred using GitHub's website

[2020-10-15 14:26] tolgaerdonmez commented on #114
<img width="784" alt="image" src="https://user-images.githubusercontent.com/45141388/96143216-90016700-0f0b-11eb-9ff6-28cad74d018d.png">

I was having this error, but none occurred in GitHub's website

[2020-10-15 14:34] johnjacobkenny opened #152 "Link not working in readme"
![image](https://user-images.githubusercontent.com/19240564/96144134-7834dd80-0f21-11eb-9f50-b286d0c0c635.png)
This middle link in the readme, I'm not sure is working. Does anyone want to take this task?

[2020-10-15 14:36] arthurbuhl commented on #114
As of February 2020, you can now use [GitHub CLI](https://github.blog/2020-02-12-supercharge-your-command-line-experience-github-cli-is-now-in-beta/) and then easily Create a pull request from command line like:

![](https://i.stack.imgur.com/X17nW.png)

[2020-10-15 14:36] Rakesh-4 commented on #114
It's not an error just a warning saying the changes you made isn't for remote server as it won't be available for others to pull your changes so you need to push you changes to the remote server first and the warning will go away.

[2020-10-15 14:38] tolgaerdonmez commented on #114
Thanks guys, I'll try a dummy PR to solve this problem, as soon as I can.

[2020-10-15 14:40] tolgaerdonmez commented on #152
I'm gonna take a look

[2020-10-15 14:43] michaelcosj commented on #152
I created a pull request with a fix
There was a typo in the '<a>' tag href

[2020-10-15 14:45] tolgaerdonmez commented on #152
It is also available in my pull request #150

[2020-10-15 14:47] johnjacobkenny commented on #152
Okay @michaelcosj next time please take the task and then work on it, so that we don't have a duplication of work. I have to go with @tolgaerdonmez since he took the task first. Could you help review his PR?

I have another similar task that I will create in sometime, I will assign you @michaelcosj is that fine :smiley:

[2020-10-15 14:48] tusharkandpal opened #156 "Documentation: Path to follow for Second Pull Request"
For a Second Pull Request, I used a  **Fork & Branch Workflow** mentioned below:

## Step 1: Fork the Repository
As you're making your 2nd PR, you already would have so you can skip this step.
For the sake of mentioning here is how you can do that:
Click on the **Fork** in the top right corner (below your profile icon) on https://github.com/twindle-co/twindle.

## Step 2: Make a Local Clone
- Open

[2020-10-15 14:49] michaelcosj commented on #152
Yhh, Thanks!

[2020-10-15 14:53] johnjacobkenny opened #157 "Refactor Readme.md to have links in markdown format instead of html"
Here is a sample snippet of the code in the readme file. HTML is valid for Markdown files, but there is a syntax in Markdown to achieve the same result. @michaelcosj is being assigned. Please figure that out and create a PR.

![image](https://user-images.githubusercontent.com/19240564/96146510-fabe9c80-0f23-11eb-95ff-a1ccf3ae0b6e.png)

[2020-10-15 14:53] johnjacobkenny commented on #157
Please add a comment if you are working on this @michaelcosj

[2020-10-15 14:56] johnjacobkenny commented on #152
@tolgaerdonmez once we learn more about branching, we will know how to create separate PR for different tasks. That is the best way to do PR.

[2020-10-15 14:56] pranavgoel29 commented on #156
There's a type in step 7 last line
it should be `git push origin --delete feature`

Good Work 🎉

[2020-10-15 14:57] #152 closed

[2020-10-15 14:57] johnjacobkenny commented on #152
Thanks @tolgaerdonmez @michaelcosj

[2020-10-15 14:58] tusharkandpal commented on #156
Thanks, fixed it! 👍

[2020-10-15 15:00] johnjacobkenny commented on #156
Great walkthrough @tusharkandpal :partying_face:

[2020-10-15 15:03] tusharkandpal commented on #156
Thanks, @johnjacobkenny 😃

[2020-10-15 15:04] johnjacobkenny commented on #117
Interesting! Does this refresh for all the forks too?

[2020-10-15 15:06] johnjacobkenny commented on #99
@Sheetal777 you may move this and the upcoming meeting notes to a page on the wiki called "Meeting Notes". This can be a single page with the latest meeting note for each day coming at the top, i.e. reverse chronological order

[2020-10-15 15:07] tolgaerdonmez commented on #152
Yeah, I agree so. It would be nice to decide a way of creating branches for PR's.. But it would be better after some amount of people become comfortable with sending regular ones.

[2020-10-15 15:09] arthurbuhl commented on #117
@johnjacobkenny Yes, it refreshes in forks too.

I also noticed, it refreshes in comments also. Just keep reloading this page w/ https://github.com/twindle-co/twindle/pull/107#issuecomment-708979715 to see the effect.

[2020-10-15 15:13] EYRAM565 commented on #156
good

[2020-10-15 15:16] johnjacobkenny commented on #117
Haha :rofl:

[2020-10-15 15:17] johnjacobkenny commented on #117
I guess if anyone has a better idea to do it, maybe continue this issue, else we can close it :smile:

[2020-10-15 15:17] tolgaerdonmez commented on #156
Awesome, good work!

[2020-10-15 15:22] johnjacobkenny commented on #157
Once you learn, just make an issue explaining how and why if you have time. Then we can add to docs

[2020-10-15 15:51] naveenkala opened #163 "Guide for 2nd pull request using git bash"
First Install git to your machine[DOWNLOAD HERE](https://git-scm.com/downloads)<h1>
![step0](https://user-images.githubusercontent.com/65217331/96152021-ae765b00-0f29-11eb-8bfb-cccb1778d614.jpg)

STEP 1:
![step1](https://user-images.githubusercontent.com/65217331/96152124-d239a100-0f29-11eb-95b0-e93c503da818.jpg)

STEP 2:
![step2](https://user-images.githubusercontent.com/65217331/96152198-e9788e8

[2020-10-15 15:55] vasudeveloper001 commented on #74
I am updating the FAQ with these lines:

**What is git branching in git?**
* Git branches are alternative working directory system within git repository.
* In essence, they are the backbone of version control and code management feature provided by git.
* Here's a video explaining the git branch in short:

This is the file that must be uploaded on Twindle YouTube Channel and linked inside FAQ
[Twi

[2020-10-15 16:06] vasudeveloper001 commented on #74
@johnjacobkenny See above. I am unable to pull request as one of mine is already present for second PR. Who is uploading the YouTube Video in the channel?

[2020-10-15 16:09] viraj-patil commented on #156
Great work !

[2020-10-15 16:10] johnjacobkenny commented on #74
@proful or @piratelicorne please help with the youtube video

Regarding FAQ, please go through @piratelicorne

[2020-10-15 16:21] KKhosla7 commented on #163
If anyone like the video version

[[Watch the video](https://youtu.be/7ls6wDZk29g)]

[2020-10-15 16:31] #117 closed

[2020-10-15 16:31] jahidhasanlinix commented on #156
Great !

[2020-10-15 16:44] johnjacobkenny opened #167 "Docs: GitHub tip"
Here is a small trick. If you use a supported keyword in the pull request's description like:

[code]

**Example**: Closes #118

Then the linked issue will be auto closed when you merge the commit into the default branch.

For more info:

- [Linking a pull request to an issue](https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue).
-

[2020-10-15 16:47] johnjacobkenny commented on #163
Thanks @naveenkala this is a very useful documentation 🥳

[2020-10-15 16:49] UnevenCoder opened #168 "team.md styling better"
Let's create a fixed format for people to follow

Name can be a link to github too , country , years of experience , and some special fact 👍

lemme know what u think

[2020-10-15 16:50] johnjacobkenny commented on #168
Great suggestion. 👌

[2020-10-15 16:51] UnevenCoder commented on #168
and can be in a list form too .. to keep stuff uniform and looking good

[2020-10-15 16:52] johnjacobkenny commented on #168
Share a sample and let others comment too

[2020-10-15 16:53] RafaelBatman55 commented on #168
Sounds good! This way will be more organized.

[2020-10-15 16:55] mrsidverse commented on #144
Try Github desktop mate if you're facing such problems with Gitkraken. I didn't try with Gitkraken but it's working fine with Github Desktop.

[2020-10-15 17:07] UnevenCoder commented on #168
![image](https://user-images.githubusercontent.com/49345531/96162940-dc57a180-0f21-11eb-9bf2-0af7bc087978.png)

Something similar to this

We can maybe change the first one in Intermediate by the permission of the author to match the scheme

[2020-10-15 17:13] UnevenCoder commented on #168
To understand the changes showing the current state
![image](https://user-images.githubusercontent.com/49345531/96163678-dca46c80-0f22-11eb-9299-e9f853783fab.png)

[2020-10-15 17:19] tolgaerdonmez commented on #168
It's okay, I'll match the scheme :), good suggestion btw.

[2020-10-15 17:30] UnevenCoder commented on #168
Created the PR , will wait for further feedback and will imply the changes later today or tomorrow :)

[2020-10-15 17:33] arthurbuhl commented on #167
## Proof Of Concept

### PR

A new PR (#169) has been created where description is like: `close #168`

### Linked Issue

The issue (#168) has now been linked to this PR and will be closed automatically once the PR is merged.

[2020-10-15 17:41] arthurbuhl opened #171 "Enabling required reviews for pull requests"
## Enabling required reviews for pull requests

### Overview

Repository administrators can enforce required reviews so that pull requests must have a specific number of approving reviews before they are merged. This will help in better coordination and making sure only valid reviewed PRs are only merged.

For more info: [Enabling required reviews for pull requests](https://docs.github.com/en/free

[2020-10-15 19:35] therealJimoh commented on #33
v.1.1 it is.

[2020-10-15 19:41] nishanknavelkar opened #177 "Documentation: Your Second Pull request using Github Desktop"
PROCESS OF DOING YOUR SECOND PULL REQUEST USING GITHUB DESKTOP

STEPS
1.	Download and install Github Desktop , the instructions to set it up can be found here https://docs.github.com/en/free-pro-team@latest/desktop/installing-and-configuring-github-desktop/installing-github-desktop
2.	Once you authorize it by signing in it should show you your forked repositories.
![image](https://user-images.gith

[2020-10-15 20:14] ThulaneMakofane commented on #33
the latest version is still a beta , i think it is safe to use the stable version

[2020-10-15 20:33] Sheetal777 commented on #99
### Week-1 Day-2
### 15-Oct-20200
About 50 joined.

- Talks about initial success of Twindle.
- Overwhelming responses received: 100+ PRs, 90+ PRs merged.
- Appreciation to all the team members who have contributed.

#### First Experience with Github
- Detailed discussions on PRs
- 5/6 participants talked about their first PR experience (wonderful).
- Touched base on being a 'Contributor' is more

[2020-10-15 20:35] Sheetal777 commented on #99
@johnjacobkenny Okay, its noted. That would be a clearer option.

[2020-10-16 00:45] piratelicorne commented on #74
Ok, I will!

[2020-10-16 02:39] johnjacobkenny commented on #99
This is moved to wiki [Meeting Notes](../wiki/Meeting-Notes)

[2020-10-16 02:39] #99 closed

[2020-10-16 02:41] johnjacobkenny commented on #157
This is closed by #162

[2020-10-16 02:41] #157 closed

[2020-10-16 02:59] KiranDon commented on #177
Clearly explained.... Thanks

[2020-10-16 03:14] johnjacobkenny commented on #171
Sounds good! @proful @proful

[2020-10-16 03:15] proful commented on #171
Can you @johnjacobkenny enforce 2 reviewer please?

[2020-10-16 03:19] johnjacobkenny commented on #171
@proful I can't see the option mentioned in the link. Maybe access is restricted. Please take a look

[2020-10-16 03:25] sarathkumar6 opened #184 "Explore Figma and do initial design of twindle homepage"
As a designer, I want to explore the high-level features of Figma and design the twindle home page mock up

![image1](https://user-images.githubusercontent.com/354596/96359749-09929280-1162-11eb-8424-005ab1b6bd24.png)

![image0](https://user-images.githubusercontent.com/354596/96359748-0697a200-1162-11eb-89d8-d52e2deabce1.png)

[My thoughts Youtube Link](https://youtu.be/7cJIYNB2pNo)

[Great start

[2020-10-16 03:28] sarathkumar6 commented on #184
@vasudeveloper001 Here is the issue to look into figma and come up with intial design of twindle UI page.

For awareness @proful @johnjacobkenny

[2020-10-16 04:53] proful opened #186 "Add discord link to readme file"
discord image + link

https://discord.gg/jBj2zMR

[2020-10-16 04:55] proful opened #187 "Create Youtube Thumbnail"
Figure out which resolution needed.

[2020-10-16 04:55] proful opened #188 "Create twindleco twitter banner"
Use correct resolution

[2020-10-16 05:44] Harsha-Ambati commented on #187
1280 x 720  would be best..

[2020-10-16 05:54] arthurbuhl commented on #187
Google recommend for custom thumbnails:

- Have a resolution of 1280x720 (with minimum width of 640 pixels).
- Be uploaded in image formats such as JPG, GIF, or PNG.
- Remain under the 2MB limit.
- Try to use a 16:9 aspect ratio as it's the most used in YouTube players and previews.

For more info: [Add video thumbnails](https://support.google.com/youtube/answer/72431?hl=en)

[2020-10-16 05:56] tusharkandpal commented on #188
I can give it a try🙋🏻‍♂️

[2020-10-16 06:00] johnjacobkenny commented on #184
There is a suggestion to consider color scheme, etc before jumping into this

[2020-10-16 06:09] sammjainn commented on #184
Yes, how about let's finalise the logo or the color scheme before designing homepage, banners and thumbnail etc.

[2020-10-16 06:09] piratelicorne commented on #57
This was referenced in the FAQ document and updated in the PR #89  ✅

[2020-10-16 06:12] proful commented on #184
Let's discuss this on call today

[2020-10-16 06:23] niveth09 commented on #4
![image (11)](https://user-images.githubusercontent.com/19762119/96220305-1e2a2b80-0fa6-11eb-84c2-06445c6a0ac3.png)

[2020-10-16 06:23] proful commented on #187
Any one wants to create something?

[2020-10-16 06:24] johnjacobkenny commented on #57
Please close this issue if completed

[2020-10-16 06:29] proful commented on #171
I have enforced reviews @johnjacobkenny @arthurbuhl

Watch out for any issues

[2020-10-16 06:31] teckiegeek commented on #184
I would to suggest that we novice get paired up based on our availability to watch those the experts as you work via a video call. It's the fastest way to learn for me.

[2020-10-16 06:41] proful commented on #184
Discord is better for that purpose. Keep encouraging others to have a call.

[2020-10-16 06:51] proful commented on #168
Very good idea

[2020-10-16 06:54] proful commented on #163
@naveenkala very good video. Please upload in the twindle channel.

[2020-10-16 06:57] proful commented on #156
Awesome @tusharkandpal 👍

[2020-10-16 07:00] johnjacobkenny commented on #171
Yes it is working @proful. The reviewers though are only the people with write access. Might be a bottleneck with just us 3.

[2020-10-16 07:01] proful commented on #171
I thought anyone. Not?

Can you ask someone else to check

[2020-10-16 07:20] arthurbuhl commented on #171
This doesn't seem to be working properly. Me & @PrasoonPratham approved #190, but its still saying

[code]

[2020-10-16 07:27] naveenkala commented on #163
Sorry, I only clicked photos of the process. But many of our members have already uploaded video tutorials 😊
From next time I will make sure.

[2020-10-16 07:28] proful commented on #171
![image](https://user-images.githubusercontent.com/354596/96225761-4aad6a00-0fdd-11eb-860e-c1496d25e473.png)

Yes any solution?

[2020-10-16 07:40] #186 closed

[2020-10-16 07:42] proful commented on #163
@KKhosla7  Please upload your video on YT channel. DM me your email to add into Twindle channel.

[2020-10-16 08:07] arthurbuhl commented on #171
I think we need to look into [Repository permission levels for an organization](https://help.github.jp/enterprise/2.11/user/articles/repository-permission-levels-for-an-organization/) and upgrade few members to Team Maintainer or Collaborators roles.

[2020-10-16 08:20] johnjacobkenny commented on #171
@proful please take a look

[2020-10-16 08:32] thunder-coding opened #199 "Remove GitHub icon from README.md"
I think it is just a unnecessary icon crowding the README.md file.

If it was some other platform then it was necessary. No need for GitHub icon on GitHub repository :)

[2020-10-16 08:33] proful commented on #171
Thanks @arthurbuhl I read the organization. Looks good I will try it.

[2020-10-16 08:33] proful commented on #199
Agree

[2020-10-16 08:34] johnjacobkenny commented on #199
Hehe yes agreed

[2020-10-16 08:35] thunder-coding commented on #199
I am doing a PR..

[2020-10-16 08:37] thunder-coding commented on #199
https://github.com/twindle-co/twindle/pull/200#issue-504683155

Look at this PR and approve the changes

[2020-10-16 08:50] johnjacobkenny commented on #188
Go for it!

[2020-10-16 08:53] piratelicorne commented on #74
This was referenced in the FAQ document and updated in the PR #201  ✅

[2020-10-16 08:53] piratelicorne commented on #177
This was referenced in the FAQ document and updated in the PR #201  ✅

[2020-10-16 08:53] piratelicorne commented on #167
This was referenced in the FAQ document and updated in the PR #201  ✅

[2020-10-16 08:54] piratelicorne commented on #163
This was referenced in the FAQ document and updated in the PR #201  ✅

[2020-10-16 08:54] piratelicorne commented on #156
This was referenced in the FAQ document and updated in the PR #201  ✅

[2020-10-16 09:01] naveenkala commented on #163
Nevermind I have created a video by attaching my screenshots.
https://youtu.be/cBigFcoAXZg

[2020-10-16 09:22] tusharkandpal commented on #188
![Website Launch Rocketship Twitter Header](https://user-images.githubusercontent.com/66052835/96240734-e8de0780-0fbe-11eb-96df-b948a69737e6.png)

Any feedback is appreciated. 😄

[2020-10-16 09:29] proful commented on #40
Question: I joined today what shall I do?

- First PR
- Second PR
- Third PR

some more detailed steps helpful for new joining. Onboarding instructions.

[2020-10-16 09:30] naveenkala opened #209 "Video tutorial for second pull request"
[![](http://img.youtube.com/vi/cBigFcoAXZg/0.jpg)](http://www.youtube.com/watch?v=cBigFcoAXZg "")
How to do Second PR with git bash

[2020-10-16 09:34] johnjacobkenny commented on #188
Logo could be bigger? Just my thought 🙂

[2020-10-16 09:42] KKhosla7 commented on #163
@proful I've already uploaded the video in the YouTube channel.

https://youtu.be/7ls6wDZk29g. Sharing my email id in DM.

[2020-10-16 09:42] tusharkandpal commented on #188
![Website Launch Rocketship Twitter Header (1)](https://user-images.githubusercontent.com/66052835/96243110-e9c46880-0fc1-11eb-8723-af54d133c6fe.png)

Fixed it!

[2020-10-16 09:44] sammjainn opened #211 "videos for 2nd & 3rd PR"
Refer these video tutorials:

Second PR from Git Bash : https://www.youtube.com/watch?v=MUGhso65ub8&t=262s&ab_channel=SamriddhiJain

Third PR from VS Code : https://www.youtube.com/watch?v=DGKGgXnP8Po&ab_channel=SamriddhiJain

[2020-10-16 10:18] johnjacobkenny commented on #188
Ask for feedback by sharing this link with the group :smiley:

[2020-10-16 10:22] tusharkandpal commented on #188
ok 😄

[2020-10-16 10:27] johnjacobkenny commented on #209
@naveenkala make sure someone else adds to the resources list, or if nobody is volunteering, you can create a PR today or tomorrow

[2020-10-16 10:33] teckiegeek commented on #188
Great job!

[2020-10-16 11:11] UnevenCoder commented on #168
Should I add a comment in team.md to let new people know the format

[2020-10-16 11:17] UnevenCoder commented on #188
Thats beautiful good job !

[2020-10-16 11:20] UnevenCoder commented on #184
As @sarathkumar6  has told previously -

- Discussing the brand colors before hand
- Maybe get some basic illustrations down
- Discuss what all stuff should be on the site
- Amount of pages built specific (about ,payment etc...)

Directly jumping into design is not a good idea

[2020-10-16 11:23] UnevenCoder commented on #187
Sure who ever is making can keep the 16:9 ratio in mind & make it so such that a simple thing can be changed for each vid like day - number gap

Don't you think we should a branding folder with all the banner logo etc so anybody working on something like this will be a + .. will create an issue

[2020-10-16 11:24] proful opened #218 "Add google meet link in readme"
Time 5 PM IST
https://meet.google.com/gna-hvym-tfj

[2020-10-16 11:27] UnevenCoder opened #219 "Creating a branding_design folder"
Well for all brand designs be it :
- logo
- thumbnail
- banner
- brand colors
- all the ui design
- illustrations

Benifits :
- easy to access to make any design
- easy to work on new design (previously made designs can be made use as inspiration)
- professional look to the repo too.

Looking forward to some feedback on this issue

[2020-10-16 11:41] RafaelBatman55 commented on #218
I will do this task, @proful!

[2020-10-16 13:23] sammjainn commented on #4
![image](https://user-images.githubusercontent.com/46999417/96263533-bcd37e00-0fe0-11eb-97f7-107e57b37367.png)
changed bird to ball of yarn. any other thing can be placed in the centre as well (like book)

[2020-10-16 13:31] UnevenCoder commented on #218
Wanna trim the link to
bit.ly/twindle

[2020-10-16 13:31] niveth09 commented on #188
Great work!

[2020-10-16 13:32] RafaelBatman55 commented on #218
Done! This one is included in this PR: https://github.com/twindle-co/twindle/pull/185

[2020-10-16 13:32] UnevenCoder commented on #218
👍

[2020-10-16 13:37] niveth09 commented on #188
I want to give it a try. May I know the correct resolution?

[2020-10-16 13:55] michaelcosj opened #226 "Tutorial For Third Pull Request"
How I made my Third PR Using Git CLI

Note that I have already forked the twindle project and cloned it to my local machine and I already have git installed, steps on getting all of this set up have already been discussed on other issues.

- Step 1, Navigate to local twindle project folder
![img1](https://user-images.githubusercontent.com/49528393/96284699-da4f1a80-0fd5-11eb-900a-2fcd132dcbe2.png)

[2020-10-16 14:04] nishanknavelkar commented on #226
Screenshots not visible.

[2020-10-16 14:20] johnjacobkenny commented on #168
@Rakesh-4 has this suggestion

![image](https://user-images.githubusercontent.com/19240564/96270049-c82aa780-0fe8-11eb-8a6f-efd950e98b6f.png)

[2020-10-16 14:21] tusharkandpal commented on #188
Recommended dimensions are usually 1500 x 500 pixels @niveth09

[2020-10-16 14:29] proful commented on #188
See your banner in action

https://mobile.twitter.com/twindleco

[2020-10-16 14:33] UnevenCoder commented on #168
isn't table kind of over kill .. whats ur opinion ?

[2020-10-16 14:36] tusharkandpal commented on #188
Looks Cool!! 😄 😄

[2020-10-16 14:44] tusharkandpal commented on #218
This issue can be closed now. @proful

[2020-10-16 14:49] michaelcosj commented on #226
All of them?
They work when I try

[2020-10-16 14:51] #218 closed

[2020-10-16 14:58] nishanknavelkar commented on #226
This is what I see,
![image](https://user-images.githubusercontent.com/48888656/96274439-1d1cec80-0fee-11eb-93d4-209a2a395170.png)

[2020-10-16 15:01] Rakesh-4 commented on #168
Just a quick suggestion am happy with anything and have no issues. Many ppl are already updating and creating PR(on team.md) so it would be better to come to the conclusion.

I won't be available till tomorrow can't reply. Thanks.

[2020-10-16 15:04] michaelcosj commented on #226
Oh!! You have to click on the image links to see it
Because the images are a bit big I didn't want it to take too much space so I hosted them on imgshare.io

[2020-10-16 15:09] nishanknavelkar commented on #226
Oh, ok 👍. See if there is a way where you could downsize the images, It would become a much better tutorial.

[2020-10-16 15:11] michaelcosj commented on #226
I'll look into it now
Thank you!!

[2020-10-16 15:14] tusharkandpal commented on #199
This issue is also done. ready to be closed 👍

[2020-10-16 15:17] #199 closed

[2020-10-16 15:20] johnjacobkenny commented on #199
Next time when you create the PR, in the description just add "Closes #abc" with the issue number instead of abc. It will auto close the issue when PR is merged

[2020-10-16 15:23] thunder-coding commented on #199
WOW!! Heard of such thing for the first time

[2020-10-16 15:25] tusharkandpal opened #229 "use tips to automatically close an issue"
Please use `close <issue-no.>` in the description of PR to automatically close an issue related to it otherwise it's just cluttering around.
You can go into details about it in Issue #167

[2020-10-16 15:27] johnjacobkenny commented on #168
Table is fine, point is that it should be easy to read through. Anything is fine

[2020-10-16 15:27] UnevenCoder commented on #168
Yup lets maybe take vote .. which ever you[all of the ppl reading this] prefer write it down below :)

I have no issues with any

[2020-10-16 15:31] UnevenCoder commented on #168
Cool so lets go with it .. anyone else wants to add anything to the discussion

What ever you [all of the ppl reading ] think give ur thoughts below

[2020-10-16 15:33] johnjacobkenny commented on #219
I think we can wait till we decide on the final files. Right now we have not taken the vote on which ones we are using, or have we?

[2020-10-16 15:35] tusharkandpal commented on #168
you can add a section **Place** assuming that everyone is mentioning their place

[2020-10-16 15:39] johnjacobkenny commented on #187
I could do it, but I want to let someone else step up and take the responsibility. One way to do it would be to create an svg file in Inkscape with the design and some sample text added. This could then be added to the repo as @UnevenCoder suggested. From there anyone could reuse it for videos.

[2020-10-16 15:41] UnevenCoder commented on #219
True we can still keep the yt banners , thumbnails , twitter-banners etc in one place :)

[2020-10-16 15:47] UnevenCoder commented on #187
I think I will do it since noone took it up yet

I will prepare it in canva and save to .svg :)

[2020-10-16 15:47] SunnyDev7 commented on #187
yeah i would like to do it, btw i haven't done it before but will give my best!!!

[2020-10-16 15:49] SunnyDev7 commented on #187
i guess we can do it together what you say @UnevenCoder

[2020-10-16 15:50] UnevenCoder commented on #100
Anyone taken this task up yet ?

[2020-10-16 15:51] UnevenCoder commented on #187
Sure you on discord ? If so .. my id is Ameen#0112

Lets chat there :)

[2020-10-16 15:56] UnevenCoder commented on #99
@johnjacobkenny  why is this issue still pinned ?

[2020-10-16 15:57] tusharkandpal commented on #187
I can also contribute.. if needed 🙂

[2020-10-16 16:02] UnevenCoder commented on #187
Cool let's talk on discord what say .. your username ?

[2020-10-16 16:04] SunnyDev7 commented on #187
i sent u a request @UnevenCoder. And yeah sure @tusharkandpal.

[2020-10-16 16:06] tusharkandpal commented on #187
Discord id Tushar#7450

[2020-10-16 16:12] UnevenCoder commented on #187
Accepted & sent Tushar

[2020-10-16 16:53] michaelcosj commented on #226
I've scaled the images and updated it.
Thanks for the suggestion!

[2020-10-16 16:57] nishanknavelkar commented on #226
looks great 👍

[2020-10-16 17:01] johnjacobkenny opened #233 "Readme image sizes on GitHub mobile"
![Screenshot_20201016-223004.jpg](https://user-images.githubusercontent.com/19240564/96287219-3712fb00-0fff-11eb-8d08-dd57e03f321a.jpg)

Something is wrong here!

[2020-10-16 17:04] niveth09 commented on #188
![Untitled design (1)](https://user-images.githubusercontent.com/19762119/96287408-82c5a480-0fff-11eb-8383-37a9371a242a.png)

[2020-10-16 17:07] Akshay2996 commented on #187
Just a Suggestion!

If you want to create a **Youtube Thumnail** try out **[Canva](https://www.canva.com/)**

It has many templates for Youtube Thumnail which we can leverage ourselves with.

Cheers🍻

[2020-10-16 17:22] nishanknavelkar commented on #226
@piratelicorne @johnjacobkenny , how can we add this to FAQ and Documentation?

[2020-10-16 19:44] tolgaerdonmez commented on #233
I'll try to handle it

[2020-10-16 21:45] ad3rinto commented on #187
first attempt.

![twindle](https://user-images.githubusercontent.com/46092157/96311317-1e0b4980-1001-11eb-8a80-1289abeca49d.png)!

[2020-10-16 21:49] tolgaerdonmez commented on #233
I tried [in my own fork](https://github.com/tolgaerdonmez/twindle/blob/fix/readme-mobile-images/README.md) some adjustments but I couldn't get it to work on GitHub's application :(

[code]
these just won't work on mobile

[2020-10-16 21:55] manohar52 commented on #184
I came across a website : [https://threadreaderapp.com/](url).
We could look to it for reference.

[2020-10-16 23:32] UnevenCoder commented on #184
True that's a great idea

[2020-10-17 00:32] madhusudanbabar commented on #233
Has somebody fixed it??

![Screenshot_20201017-055919416](https://user-images.githubusercontent.com/28552728/96324174-08684500-103e-11eb-9036-e91b0eac138c.jpg)
This is how it looks now.

[2020-10-17 00:35] proful opened #242 "ONBOARDING.md"
Create a onboarding docs

What to do next after joining?

Step by step instruction

1. follow twitter
2. sub YT
3. join discord
4. fork github
5. first pr
6. second pr
7. third pr

@piratelicorne

[2020-10-17 00:48] proful opened #243 "Discord Usage"
## Initial Discord thoughts

[JOIN DISCORD](https://discord.com/invite/jBj2zMR)

During the initial time, we will use the #general channel for all related discussions.

Also, use #general voice channels for all project-related discussions.

Avoid creating small groups for calls. This will reduce visibility for new members who want to participate.

We will slowly optimize the process.

Now knowing

[2020-10-17 01:15] proful commented on #233
Someone fixed it I think.

Looks good.

@johnjacobkenny can confirm and close it

[2020-10-17 01:16] piratelicorne commented on #242
I'm on it

[2020-10-17 01:19] proful commented on #226
Please update your experience with fixing merge conflicts.

That is the objective of this 3rd pr

[2020-10-17 01:33] #242 closed

[2020-10-17 01:38] proful commented on #242
- update in README
- open links in new tab

[2020-10-17 01:40] proful opened #244 "ONBOARDING Review Comments"
- update in README
- open links in new tab

[2020-10-17 01:50] proful opened #245 "OBS how to add voice of other participants for daily call recording"
- need suggestions on how to do it?

[2020-10-17 02:19] proful opened #246 "For impatient George who want to code"
https://github.com/twindle-co/twindle/graphs/contributors

- Write Node js program to fetch github contributor infor
github user name & other details

These are help utility. No restriction to use anything

Few ex:-
https://github.com/mgechev/github-contributors-list

This is side track work. Not going to merge into twindle repo now.

[2020-10-17 03:15] manohar52 commented on #245
![image](https://user-images.githubusercontent.com/46411996/96327179-f3b78d00-0ffc-11eb-8c93-922f23a760aa.png)
I created a new scene called "online meetings"; added audio output, input and display sources. I tested it and it worked. I could hear the other persons voice as well, in the recording.

[2020-10-17 04:32] johnjacobkenny commented on #99
Just so people who used to look for it in the issues section can easily get it. May be worth adding the same link in the Readme and then unpinning once people are used to it.

[2020-10-17 04:38] Rakesh-4 commented on #168
@johnjacobkenny if you guys have decided on what format to go with. please let me know because am gonna pull the latest changes and will update the team.md according to that so my PR can be closed. Thanks

[2020-10-17 04:40] johnjacobkenny commented on #233
This is still open, on GitHub mobile app I'm having this issue.

[2020-10-17 04:41] johnjacobkenny commented on #168
I think we have a few yes votes, you can go for it @Rakesh-4

[2020-10-17 04:44] proful commented on #246
@johnjacobkenny https://github.com/twindle-co/twindle-scripts

already done it!

[2020-10-17 04:44] Rakesh-4 commented on #168
So should I update other changes into table format?

[2020-10-17 04:45] johnjacobkenny commented on #226
@piratelicorne @Sheetal777 🙂

[2020-10-17 04:46] johnjacobkenny commented on #168
Yep! If you're doing it now, I'll merge quickly. Should create conflicts for everyone else in the PR queue 🥳

[2020-10-17 04:47] johnjacobkenny commented on #246
Haha 😁

[2020-10-17 04:47] Rakesh-4 commented on #168
Ok.

[2020-10-17 04:57] johnjacobkenny commented on #229
Is this post for awareness or any action required from someone?

[2020-10-17 04:57] Rakesh-4 commented on #168
@johnjacobkenny pls check now hope I didn't miss out any info

[2020-10-17 04:59] johnjacobkenny commented on #100
Go for it @UnevenCoder

[2020-10-17 05:02] johnjacobkenny commented on #187
@UnevenCoder please coordinate among the volunteers and take this forward

[2020-10-17 05:03] ad3rinto commented on #243
Thanks @proful , this is a good way to start.

[2020-10-17 05:04] tusharkandpal commented on #229
for awareness @johnjacobkenny

[2020-10-17 05:05] johnjacobkenny commented on #168
I can't find the pr

[2020-10-17 05:08] Rakesh-4 commented on #168
#221

[2020-10-17 05:12] ad3rinto commented on #114
@johnjacobkenny can this be closed now since it is fixed? 😁

[2020-10-17 05:24] johnjacobkenny commented on #114
Sure, please close if it's fixed!

[2020-10-17 05:26] johnjacobkenny commented on #168
Okay done! Next time in the pr just mention in the description "closes #abc" with abc being issue number

[2020-10-17 05:26] #168 closed

[2020-10-17 05:27] johnjacobkenny commented on #229
Could you please find the FAQ section and share the info in the twitter group too so others may see

[2020-10-17 05:29] johnjacobkenny commented on #242
Super fast response and awesome docs @piratelicorne 🥳

[2020-10-17 07:01] Rakesh-4 commented on #168
I forgot to do that my bad

[2020-10-17 07:25] johnjacobkenny opened #252 "Fix a stray file called "secondpr""
There is a stray file, can someone make it into correct section.

[2020-10-17 07:26] johnjacobkenny opened #253 "docs/onboarding content may be moved to readme file?"
Please comment on your thoughts, right now that is the only "homepage" we have. Beginners who are new to the project should be reading that and deciding to join!

[2020-10-17 07:28] johnjacobkenny commented on #244
Is this same intention as #253

[2020-10-17 07:35] arthurbuhl commented on #252
Added my comments here: https://github.com/twindle-co/twindle/pull/217#discussion_r506852002

[2020-10-17 07:36] tusharkandpal commented on #253
Can it be pinned to the homepage by anyway?

[2020-10-17 07:42] pranavgoel29 commented on #252
Where to move it any suggestion?

[2020-10-17 07:46] pranavgoel29 commented on #253
I think that's a good idea to include the content in ONBOARDING.md file to readme file instead, then who is just checking Twindle for the first time or a beginner can get to know how they can start right away.

[2020-10-17 07:47] tusharkandpal commented on #244
I think he is asking to make changes in README.md regarding Onboarding file
Secondly, he wants all links in those files to open in a new tab.
Am I right? @proful

[2020-10-17 07:52] proful commented on #244
yes

[2020-10-17 07:58] tusharkandpal commented on #253
We can add a link to ONBOARDING.md as mentioned by proful in Issue #244
This way if they find the project interesting they can jump onto the next steps.

[2020-10-17 08:03] arthurbuhl commented on #100
F.Y.I. This can be easily implemented using the template here:

https://github.com/twindle-co/twindle/community/code-of-conduct/new

[2020-10-17 08:08] johnjacobkenny commented on #252
If it needs to go into faq or somewhere else please contact relevant people to ask

[2020-10-17 08:09] johnjacobkenny commented on #253
I strongly feel this should be the first thing anyone sees when they open the repository on github. Same thought process goes for the website content once it is ready

[2020-10-17 08:12] johnjacobkenny commented on #100
Then I'll leave this to @proful

[2020-10-17 08:15] pranavgoel29 commented on #41
@johnjacobkenny Please pin this issue, as it is hard to find it now.

[2020-10-17 08:16] pranavgoel29 commented on #252
I will contact them when I get free time.

[2020-10-17 08:17] johnjacobkenny commented on #41
Could someone follow up on getting this into FAQ on a priority

[2020-10-17 08:20] johnjacobkenny commented on #252
@pranavgoel29 go ahead and raise a pr deleting it?

[2020-10-17 08:21] pranavgoel29 commented on #252
ok I am doing that

[2020-10-17 08:27] #252 closed

[2020-10-17 08:32] johnjacobkenny commented on #188
Thanks @niveth09 for the contribution it looks good too!

[2020-10-17 08:33] johnjacobkenny commented on #144
If this is fixed please close

[2020-10-17 08:35] tusharkandpal commented on #188
Amazing work!! 👍 @niveth09

[2020-10-17 09:26] niveth09 commented on #188
Thanks @tusharkandpal

[2020-10-17 09:39] MumbiGachomba04 commented on #41
Just to add onto what @pranavgoel29  has said, you can change the path for origin using
`git remote set-url origin _your forked repo url here_`

[2020-10-17 09:44] johnjacobkenny commented on #41
@MumbiGachomba04 next time you can use the "Quote reply" option in the menu for any comment

[2020-10-17 10:08] proful commented on #253
OK @johnjacobkenny fine with me

[2020-10-17 10:20] nishanknavelkar opened #263 "Resolving Your Merge Conflicts"
This is how I resolved my merge conflicts
1. Pull the changes from the orignal repo to your forked repo
2. Check for changes (VS code also provides a promt to resolve the conflict)
3. After solving the conflict, save and push the changes
4. Ask for review by reaching out on discord or twitter.

P.S: This is how I did it, fellow experts might add on to this.

[2020-10-17 10:22] thunder-coding commented on #263
A very simple explanation of the very complex merge conflict solving
 👍👍

Must add to Wikis section

[2020-10-17 10:24] thunder-coding commented on #263
Adding to Wikis, then you can close the issue

[2020-10-17 10:33] thunder-coding commented on #263
https://github.com/twindle-co/twindle/wiki/Resolving-merge-conflicts

Any suggestions for improvements on this Wiki are most welcome

[2020-10-17 10:58] tusharkandpal commented on #263
To be specific, main is the branch, you can replace word with "original" :)

[2020-10-17 10:58] johnjacobkenny commented on #253
Yeah no problem with duplication

[2020-10-17 11:01] tusharkandpal opened #267 "Rename firstpr/Layomi.md"
Rename it to `layomi.md`

Also please write "closes #267" in description of PR to automatically close this issue

[2020-10-17 11:31] pranavgoel29 commented on #263
Good and simple instructions 😄

[2020-10-17 11:32] Akshay2996 commented on #263
Great for the beginners to understand merge conflicts @nishanknavelkar 👍

[2020-10-17 11:55] Akshay2996 commented on #263
Hi everyone👋
Suggestion for improvement!!

Getting stuck with merge conflict

**Solve your merge conflict**

1. Clone your repository
2. Open in VSCode & Write the below command in git bash/terminal
- `git remote add upstream https//:url of the twindle repo/`
- `git fetch upstream`
- `git rebase upstream/main`

This will automatically update your repository if any new changes are made to the Twind

[2020-10-17 12:18] Mira-Alf commented on #33
I think in the second meeting @proful said that even though Twitter 2 is still in beta, because we are learning, it is stable enough for us to use the latest version.  If we can come to a conclusion, we can close this issue.

[2020-10-17 12:37] Akshay2996 opened #271 "Creating a Teams page"
I would like to create a Teams Page for our Twindle Team

[2020-10-17 12:51] proful opened #272 "Twindleco website playground"
Created file naming conventions

https://github.com/twindle-co/twindle/tree/main/playground/twindleco

![image](https://user-images.githubusercontent.com/354596/96356001-6bd49e80-1134-11eb-8a50-f47252074e56.png)

This is a prototype.

Doesn't tell you which color style to use etc.

[2020-10-17 12:54] sammjainn opened #273 "Solving merge conflicts"
## Merge Conflicts

- Merge conflicts occur when competing changes are made to the same line of a file, or when one person edits a file and another person deletes the same file.
- A merge can enter a conflicted state at two separate points. When starting and during a merge process.

## Solving merge conflicts
- The only correct way to solve conflicts is to pull new changes, create a new commit and

[2020-10-17 12:56] sammjainn opened #274 "Design: header for website"
Share your ideas/designs and have discussions here for creating header for website

[2020-10-17 12:57] sammjainn opened #275 "Design: footer for website"
This space is for discussing designs for website footer

[2020-10-17 14:07] tusharkandpal commented on #233
@tolgaerdonmez are these fixed? Do tell if your need help

[2020-10-17 14:09] johnjacobkenny opened #281 "Figure out recording of discord calls"
@UnevenCoder could you please take this

[2020-10-17 14:10] tolgaerdonmez commented on #233
I couldn't fix, some help will be nice :)

[2020-10-17 14:15] teckiegeek commented on #271
That will be great. It will help newbies and beginners identify where to pitch their tents and learn by getting their hands dirty.

[2020-10-17 14:20] EYRAM565 commented on #4
![Twindle-logo](https://user-images.githubusercontent.com/68958520/96339377-42603800-108c-11eb-9456-01b29a1f65c5.jpg)

[2020-10-17 14:23] tusharkandpal commented on #233
Ok i will look into it.

[2020-10-17 14:23] johnjacobkenny commented on #271
Is this for the website

[2020-10-17 14:43] proful opened #286 "Code Review Checklist"
https://github.com/twindle-co/twindle/blob/main/docs/CODE-REVIEW-CHECKLIST.MD

Fill which ever you are suggesting to others

@arthurbuhl

[2020-10-17 14:48] tusharkandpal commented on #286
Sure!! 🙂

[2020-10-17 14:50] michaelcosj commented on #281
I think there's a discord bot that can help with recording the calls

[2020-10-17 15:00] #229 closed

[2020-10-17 15:01] proful commented on #245
Tomorrow ping me when you are free we can have discord call

[2020-10-17 15:08] proful commented on #33
Use v2 beta.

[2020-10-17 15:09] proful opened #287 "Apply for Twitter API"
Can someone try to apply for Twitter api and document the process of applying.

[2020-10-17 15:10] codeprm commented on #281
I don't think discord has a feature to do that.
https://support.discord.com/hc/en-us/community/posts/360047224131-Record-video-audio-calls

There are some work around ideas like this one -
https://www.howtogeek.com/677198/how-to-record-discord-audio/

We should take consent/have a notice issued before recording with the bot.

[2020-10-17 15:12] proful opened #288 "Twindle CLI"
This is a very simple start

[code]

What are options we have?

node twindle thread-id -o pdf

Other options
epub
mobi

Can someone start writing one program to accept parameters and display some messages into console?

**DON'T WORRY ABOUT PDF, TWITTER etc**

https://github.com/twindle-co/twindle/tree/main/playground/cli

[2020-10-17 15:30] sarathkumar6 commented on #287
@proful I'll look into this task.

[2020-10-17 15:31] nishanknavelkar commented on #273
Looks Great, you can update the wiki with this information.
https://github.com/twindle-co/twindle/wiki/Resolving-merge-conflicts

[2020-10-17 15:33] nishanknavelkar commented on #272
Can we create a gh-pages branch and maybe experiment with the website design ?

[2020-10-17 15:34] johnjacobkenny commented on #272
I think we can focus on publishing later? Once it comes to a maturity

[2020-10-17 15:35] nishanknavelkar commented on #263
Any further techniques for resolving merge issues can be updated at the wiki
https://github.com/twindle-co/twindle/wiki/Resolving-merge-conflicts

Closing this issue. ✌

[2020-10-17 15:35] #263 closed

[2020-10-17 15:36] sarathkumar6 commented on #272
@nishanknavelkar As posted in the discord, the actual design discussion will happen after the daily meeting tomorrow. Let's keep the playground version and the actual design separate.... To practice, Dribble is a wonderful place to look for some inspiration as @proful  mentioned in the meeting.

[2020-10-17 15:38] nishanknavelkar commented on #272
ok 👍

[2020-10-17 15:39] johnjacobkenny commented on #33
@Mira-Alf you may create a page on wiki for technical implementation integration details or something along those lines. Can say that we concluded on beta and just add link to this issue there

[2020-10-17 16:18] shekhar10feb commented on #267
closes #267

[2020-10-17 16:18] vijaya-bhaskar commented on #287
@sarathkumar6 Please ping me if you need any assistance.

[2020-10-17 16:34] nishanknavelkar commented on #274
Idea 1:
![image](https://user-images.githubusercontent.com/48888656/96348192-a4d52a80-10c4-11eb-9583-fc2e7be586fd.png)

[https://dribbble.com/shots/14405499-Frubits](url)

[2020-10-17 17:21] SwatiRaoDataEnthusiast commented on #274
This design header was suggested by Proful in the call

https://dribbble.com/shots/14403641-Comparrot

[2020-10-17 17:22] SwatiRaoDataEnthusiast commented on #274
![image](https://user-images.githubusercontent.com/53012491/96349163-6000c200-10cb-11eb-883c-1d899be3f428.png)

[2020-10-17 17:31] UnevenCoder commented on #288
how do you want pdf to be made ?

[2020-10-17 17:32] UnevenCoder commented on #287
I got rejected 😢

[2020-10-17 17:35] UnevenCoder commented on #281
Bot idea is the best or we can use OBS

[2020-10-17 17:42] Mira-Alf commented on #33
Will do it first thing tomorrow. Thanks @johnjacobkenny

[2020-10-17 17:48] michaelcosj commented on #233
I think I've fixed it at my [fork](https://github.com/michaelcosj/twindle/blob/main/README.md) by replacing the icons with icons from [icons8](https://icons8.com) but attribution is needed for use

[2020-10-17 17:54] tusharkandpal commented on #233
What kind of attributes you mean?

[2020-10-17 17:59] michaelcosj commented on #233
Oh not attributes, attribution like to link to their site

https://icons8.com/license

[2020-10-17 18:06] johnjacobkenny commented on #233
Can't we just resize the images

[2020-10-17 18:18] Akshay2996 commented on #271
Yes @johnjacobkenny I'm thinking of creating a static page of our Twindle Team

[2020-10-17 18:31] michaelcosj commented on #233
I looked into it and markdown doesn't have a way to resize the images and I think the GitHub app ignores the img height and width attributes.

I think we can just resize the image files and host it somewhere or create a images folder in the projectand put the images there.

[2020-10-17 18:54] Akshay2996 opened #296 "Resolve merging conflict from your terminal"
To sync the Main repo and your Own repo, Follow the steps below:

1. Pointing to the main repo and pull from it. Create a new remote in local for pointing the main repo.
`git remote add upstream https://github.com/twindle-co/twindle.git`

2. To download all the changes and commits from main Repo.
`git fetch upstream`

3. The current branch will be updated to reflect the merge.
`git merge upstream/

[2020-10-17 19:05] Akshay2996 commented on #296
We can also merge **Step 2 & Step 3** by writing:
`git pull upstream main`

[2020-10-17 20:58] proful commented on #288
That is another task.

This is to create program to parse options and show help information.

[2020-10-17 20:59] UnevenCoder commented on #100
Cool all the bets @proful

[2020-10-17 21:00] UnevenCoder commented on #187
Doing it 😃

[2020-10-17 21:37] proful opened #299 "Create mock JSON file"
https://twitter.com/naval/status/1002103360646823936?s=20

Create a JSON file manually. twit_thread.json

It should be an array.

Each element should contain

Twitter handle
Twitter name
Tweet
Date

[code]

[2020-10-17 21:44] proful opened #301 "Hello World pdf"
Write a program that generates hello world message in pdf.

Use any approach you like.

[2020-10-17 21:46] proful opened #302 "Hello world message for epub."
Write a program that generates hello world message in epub.

Use any approach you like.

[2020-10-17 21:46] proful opened #303 "Hello world message for mobi"
Write a program that generates hello world message in mobi.

Use any approach you like.

[2020-10-17 21:47] proful opened #304 "Hello world message for markdown"
Write a program that generates hello world message in markdown.

Use any approach you like.

[2020-10-17 21:58] piratelicorne commented on #40
done in #242

[2020-10-17 21:59] piratelicorne commented on #287
is this for twitter developer? I applied last year, but I don't have record of that :/

[2020-10-17 22:13] piratelicorne commented on #211
Hi, I referenced the third PR's video from Twindle channel in this #201 (it's in the ONBOARDING.md)

[2020-10-17 22:31] piratelicorne commented on #226
Added in the ONBOARDING.md -> #306

[2020-10-17 22:31] piratelicorne commented on #211
Added in the ONBOARDING.md -> #306

[2020-10-17 22:34] piratelicorne commented on #199
yes, that was added :)

[2020-10-17 22:37] piratelicorne commented on #74
@vasudeveloper001  I think this issue can be closed.

[2020-10-17 23:20] proful commented on #287
Yes can you please explain how you did that. So that other can try?

[2020-10-17 23:51] proful opened #308 "Write a program to READ from json file"
Once file created by the below issue
https://github.com/twindle-co/twindle/issues/299

- Write a node js program
- Read from the above json file
- Print the output in the console

[2020-10-17 23:53] proful commented on #274
Can someone implement first design
header1.html
header1.css

Can someone implement the second design
header2.html
header2.css

[2020-10-18 00:06] proful commented on #219
@UnevenCoder Raise a PR

[2020-10-18 01:21] michaelcosj commented on #301
This is probably not what you meant but I wanted to challenge myself so I spent all night writing this [node js application](https://github.com/michaelcosj/text2pdf) that generates a pdf document from given text.

I used a couple of npm packages though to make it.

[2020-10-18 02:10] codeprm commented on #233
How does this one look - [https://github.com/twindle-co/twindle/pull/309](https://github.com/twindle-co/twindle/pull/309) ?

[2020-10-18 02:19] #267 closed

[2020-10-18 02:24] johnjacobkenny commented on #301
This is interesting @michaelcosj! @proful could you take a look at the approach if it's how you meant

[2020-10-18 02:27] johnjacobkenny commented on #287
I think @piratelicorne meant she has access. I too had applied and got access a few months ago 🙂 But I didn't do documentation of the process

[2020-10-18 02:28] proful commented on #287
Can you find json files? And upload it..

so that it can be used for mocking..

[2020-10-18 02:37] johnjacobkenny commented on #287
@proful yeah 👍

[2020-10-18 03:38] thunder-coding commented on #233
This is due to a bug in GitHub Mobile. I am also facing the same issue, not only on Twindle repository but all repositories

[2020-10-18 03:43] thunder-coding commented on #233
You are talking about GitHub web on mobile not on GitHub app for mobile

[2020-10-18 03:44] thunder-coding commented on #233
You are talking about GitHub website on mobile not GitHub app for Android

[2020-10-18 03:54] tusharkandpal commented on #274
@proful are you talking about above two images ?

[2020-10-18 03:55] thunder-coding commented on #246
I think we should close this issue now :)

[2020-10-18 04:00] thunder-coding commented on #287
https://developer.twitter.com/en/apply/user.html

We can apply for Twitter API from this website. But the process is very complicated, we need to write them the reason why we are applying for the API. Don't know why @twitter has kept this process so complicated

[2020-10-18 04:04] thunder-coding commented on #301
The code is bit complicated, we should try to make it as simple to understand as we can

[2020-10-18 05:07] proful commented on #274
Yes. pick anyone & proceed.

[2020-10-18 05:31] SwatiRaoDataEnthusiast commented on #274
okay I will try @proful the second design

[2020-10-18 05:40] proful commented on #274
Go ahead @SwatiRaoDataEnthusiast

[2020-10-18 06:11] proful commented on #275
![image1](https://user-images.githubusercontent.com/354596/96360039-e2899000-1164-11eb-82cc-9bb76361eecd.png)

[2020-10-18 06:22] thisisarsa commented on #288
Can this be assigned to me?

[2020-10-18 06:24] princehaybee commented on #275
I will work on the footer section.

[2020-10-18 06:44] niveth09 commented on #288
@proful I want to contribute 🙋

[2020-10-18 06:45] Mira-Alf commented on #33
A wiki was created that documents this issue and the decision to go with Version 2.
https://github.com/twindle-co/twindle/wiki/Twitter-Developers-Documentation
Closing out this issue. @johnjacobkenny letting you know..

[2020-10-18 06:49] satyaki07 commented on #301
A bit unclear on the 3rd line.

[2020-10-18 07:02] proful commented on #288
go ahead @niveth09 u also work on it

[2020-10-18 07:03] proful commented on #301
@satyaki07 can u explain?

[2020-10-18 07:07] tusharkandpal commented on #274
@nishanknavelkar please share the first link to me in twitter or discord, if you have. This is not working

[2020-10-18 07:27] johnjacobkenny commented on #33
Thanks @Mira-Alf the wiki looks very exhaustive! ❤️

[2020-10-18 07:38] praveen2896 commented on #308
I am going to try @proful

[2020-10-18 07:51] proful commented on #272
@Sheetal777 work on testimonials section. come up with ur own design

[2020-10-18 07:53] Sheetal777 commented on #272
@proful okay I will try to figure that out through resources. 👍

[2020-10-18 08:17] UnevenCoder commented on #299
hey

[2020-10-18 09:22] michaelcosj commented on #301
Oh, I'm sorry about that
I've added comments to better explain the code.

[2020-10-18 09:29] SwatiRaoDataEnthusiast commented on #274
#317

[2020-10-18 09:43] johnjacobkenny commented on #246
Yes this is available in `twindle-scripts` repo

[2020-10-18 09:43] #246 closed

[2020-10-18 09:55] johnjacobkenny commented on #33
Hi people,

I took a look at the twitter v2 docs, and here is what I understood.
We can obtain the first tweet ID by looking at the URL for that tweet
![image](https://user-images.githubusercontent.com/19240564/96363904-bbc35d80-1154-11eb-8f53-7b91cc8d5ca7.png)

Once we get that, we can make a call to the API `https://api.twitter.com/2/tweets/1287729624068132866?tweet.fields=author_id,created_at,e

[2020-10-18 09:57] madhusudanbabar commented on #233
yes but I believe it's the application issue, anyways resized images will solve this.

[2020-10-18 10:04] proful commented on #245
No device is appearing.

![image](https://user-images.githubusercontent.com/354596/96364220-6c495580-1185-11eb-8f6d-334a740a00b3.png)

[2020-10-18 10:14] #304 closed

[2020-10-18 11:55] sarathkumar6 commented on #33
I'm intrigued to get started with interacting with the API see the response and play around and create mappers to transform data; poor me got my hands in UI design now

[2020-10-18 13:02] tusharkandpal commented on #274
![header](https://user-images.githubusercontent.com/66052835/96368181-203fe600-1170-11eb-825f-6a8157ef4e31.JPG)

made using flex

[2020-10-18 13:07] proful commented on #301
@michaelcosj howz your progress on pdf?

I want to see first pdf soon😊

[2020-10-18 13:09] proful commented on #274
@tusharkandpal Great work 👍

[2020-10-18 13:12] tusharkandpal commented on #274
@proful should i name header1 & css1 for mine ?

[2020-10-18 13:13] proful commented on #274
Yes

Keep this issue open. Let others commit.

You implement other stuff.

[2020-10-18 13:14] tusharkandpal commented on #274
Ok. Fine

[2020-10-18 13:15] proful commented on #286
Please consolidate your comments into this.

No need to format.

No need for approval.

Please keep adding to one file.

[2020-10-18 13:18] michaelcosj commented on #301
Its going fine. I already made a cli application that creates a pdf from given text and hosted it [in my own repo](https://github.com/michaelcosj/text2pdf/) because I wasn't sure it was what you wanted. I'm currently trying out different solutions like was suggested in the meeting, before I send a PR.

[2020-10-18 13:27] madhusudanbabar opened #328 "Create folder for resources"
**Create a folder for resources**
it'll be easier to work on the UI part of the site if we have resources like logo images and banner for the background

[2020-10-18 13:28] madhusudanbabar commented on #328
yes, I agree that we have not finalized the logo yet but temporary resources will also work

[2020-10-18 13:31] proful commented on #328
Agree

Raise a PR

[2020-10-18 13:33] proful commented on #301
What ever you have raise a PR

Create a Folder inside cli

It should be simple

[2020-10-18 13:34] ad3rinto commented on #328
And I can create an "src" folder for all resources once the PR is created. Is that okay @proful ?

[2020-10-18 13:38] arthurbuhl commented on #286
### Initial CR Checklist

- For your first PR, please use all lower case for the file name.
- Please use `firstname.md` as file name. Replace `firstname` with your actual first name.
- In case there is already a file with same name, then use `firstname_lastname.md`.
- Using `.md` file extension is a must.
- Please add some basic bio about yourself in the first PR.
- For the second PR, you can upda

[2020-10-18 13:46] proful commented on #286
This is great can you please raise a PR?

[2020-10-18 13:48] proful commented on #328
Feel free to create whatever you want. I will organize later.

[2020-10-18 13:49] arthurbuhl commented on #286
Sure. I am on it.

[2020-10-18 13:54] proful opened #330 "NAMING-CONVENTIONS.md"
Need more work.

Lots of files we are currently creating and we need some guidance.

@arthurbuhl

[2020-10-18 14:01] proful commented on #286
Let this issue be open always.

It is to continuously improve this doc as we discover more and more issues.

@EYRAM565 make sure you put @arthurbuhl as mandatory approval for any changes to this document

[2020-10-18 14:14] EYRAM565 commented on #286
ok.

[2020-10-18 14:20] arthurbuhl commented on #330
We can look into

- [Git Naming Convention](https://github.com/naming-convention/naming-convention-guides/tree/master/git)
- [JavaScript Name and Coding Conventions](https://github.com/ktaranov/naming-convention/blob/master/JavaScript%20Name%20and%20Coding%20Conventions.md)
- [Coding Style Guide for node.js apps](https://stackoverflow.com/questions/5495984/coding-style-guide-for-node-js-apps)
- [A

[2020-10-18 14:32] proful commented on #330
Summarize in this document.

Only put what is relevant.

Less is more.

[2020-10-18 14:56] satyaki07 commented on #274
![2020-10-18 (4)](https://user-images.githubusercontent.com/25426670/96371623-263dc300-1180-11eb-922f-5be9198c2b1a.png)

I have used Flexbox for the layout.

[2020-10-18 15:27] satyaki07 commented on #330
https://github.com/twindle-co/twindle/pull/335#issue-505486561

check this and review.

[2020-10-18 15:49] michaelcosj commented on #301
I just sent in a PR #336
Thank you!

[2020-10-18 15:55] tusharkandpal commented on #274
Good work @satyaki07 😀👍

[2020-10-18 15:59] satyaki07 commented on #274
I have submitted a PR for this.

[2020-10-18 16:30] billgufran commented on #303
It is okay to use library right? I'd like to work on this one

[2020-10-18 17:00] arthurbuhl opened #338 "[Documentation] GitHub keyboard shortcuts"
If you have started using GitHub a lot more these days, then here are some keyboard shortcuts to perform actions faster. Nearly every page on GitHub has a keyboard shortcut.

Here are the [Keyboard shortcuts](https://docs.github.com/en/free-pro-team@latest/github/getting-started-with-github/keyboard-shortcuts).

[2020-10-18 17:28] UnevenCoder commented on #303
Any thing will work @billgufran

[2020-10-18 18:43] tr0mbl3y commented on #308
i have also written a code for it is it still open?

[2020-10-18 18:51] sammjainn commented on #301
Please check PR #340

[2020-10-18 19:13] tr0mbl3y commented on #308
anyways just linking https://github.com/tr0mbl3y/reading_JSON_file_using_node

[2020-10-18 19:13] billgufran commented on #303
I haven't found a way to generate mobi file without having to generate epub first. So I guess I will work on #302 first.

[2020-10-18 19:41] piratelicorne commented on #287
I remember I wrote "its a school project to write tweets from CLI" , they gave me access but took a week, at the end I didn't need it.

[2020-10-19 02:18] #74 closed

[2020-10-19 03:40] proful opened #343 "Task Allocation Guidance"
# Youtube Videos by me @proful

- [Twindle Co Website](https://www.youtube.com/watch?v=7cJIYNB2pNo)
- [Run other developer code](https://youtu.be/BStPJrqOaEk)
- [Discussion with Praveen](https://www.youtube.com/watch?v=vVjZLkUgAGQ)

[2020-10-19 04:12] UnevenCoder commented on #308
You can raise a pr .. we will see to it also to help and not ruin someone else's work please use the js to pdf scripts that have already been merged , we don't want someone to loose their work and even we don't want you to start coding it from ground up 😅

Just make it that it fetches data and converts the data into pdf 😃

[2020-10-19 04:14] proful commented on #308
Use different file names.

[2020-10-19 04:19] Pa1sathvik commented on #287
How about http://twitter4j.org/en/ library ?

[2020-10-19 04:37] PrasoonPratham opened #345 "Incorrect naming of the .gitignore file"
![image](https://user-images.githubusercontent.com/42303128/96402075-a13fc180-11f2-11eb-924f-b874b7729778.png)
Should be just .gitignore

[2020-10-19 05:49] thunder-coding commented on #287
This is written in Java we need in JavaScript

[2020-10-19 06:01] Pa1sathvik commented on #287
@thunder-coding Why we need in Javascript specifically?

[2020-10-19 06:11] UnevenCoder commented on #287
We are keeping our stack limited to js so we need api to be fetch able in js or its of no use to us 😅

[2020-10-19 06:12] UnevenCoder commented on #343
I didn't get the idea of this issue , car to explain ?

[2020-10-19 06:31] piratelicorne commented on #33
Wow Kenny, I think it's awesome what you already discovered and made. was reading it and it says

_"Soon, we plan to release a full-archive version which will make the entire archive of public Tweets available. The recent and full-archive search endpoints will share common design and features and are part of the Search Tweets group of endpoints."_

<img width="911" alt="Screen Shot 2020-10-19 at 0

[2020-10-19 06:47] tolgaerdonmez opened #351 "Creating PDF's from html using Puppeteer"
We can use puppeteer to render pdf from html, should I create an example ?

[2020-10-19 06:48] tolgaerdonmez commented on #351
Also It would be easy to create a design, using html & css for pdfs.

[2020-10-19 06:50] tolgaerdonmez commented on #233
I believe so, does including the images in the repository a problem. I wanted to avoid that.

[2020-10-19 06:53] PrasoonPratham commented on #351
I like this idea.

[2020-10-19 06:57] proful commented on #351
i like puppeteer. go ahead @tolgaerdonmez

[2020-10-19 06:58] tolgaerdonmez commented on #351
All right, lets give it a try :)

[2020-10-19 07:04] tolgaerdonmez opened #352 "Using ES6+ for nodejs"
I think we could use es6 syntax, by adding babel.
I know that it is complicated for beginners but the ones who are experienced with it could set it up for general use.
The es6 syntax is more readable I believe.
I have myself created a cli for these kind of things it could be used to initialize es6 projects :)
my cli -> [link](https://www.npmjs.com/package/project-chef)
I'm not trying to promote an

[2020-10-19 07:25] johnjacobkenny commented on #351
Sounds good :smiley:

Just to add my 2 cents, in the past I have used https://www.npmjs.com/package/html5-to-pdf along with mustache template library to generate pdf reports.

[2020-10-19 07:27] johnjacobkenny opened #354 "Move markdown folder into playground/cli"
![image](https://user-images.githubusercontent.com/19240564/96414336-9bee7100-120a-11eb-8360-4a212d06aee6.png)

[2020-10-19 07:28] tolgaerdonmez commented on #351
That's also good, we can start with bare puppeteer than switch to that if we're going to use this approach.
I've also used handlebars to setup a main template for the pdf.

[2020-10-19 07:33] johnjacobkenny commented on #343
@madhusudanbabar excellent work! :clap:

[2020-10-19 07:35] johnjacobkenny commented on #351
We will need handlebars or something, but if you can just keep a static html version of the same template so that we can show others what is happening and what handebars is doing.

[2020-10-19 07:38] tolgaerdonmez commented on #351
That's a good idea, I'll do that, thanks.

[2020-10-19 08:15] Pa1sathvik commented on #287
@UnevenCoder Why we are limiting our Stack , if we are limiting our  stack then we will be not able to achieve what we planned for . We need language like Java , Scala which gives very good multi threading performance when compared to JS or python.

[2020-10-19 08:49] #211 closed

[2020-10-19 08:49] #226 closed

[2020-10-19 09:01] tolgaerdonmez opened #357 "Changing mock twit-thread properties createAt to createdAt"
I think we should change createAt to createdAt, twitter itself calls it probably createdAt.

[2020-10-19 09:34] tolgaerdonmez commented on #351
I created the pull request, could you review it [pull request](https://github.com/twindle-co/twindle/pull/359)

[2020-10-19 09:46] #328 closed

[2020-10-19 10:11] johnjacobkenny commented on #33
@piratelicorne I think that @Mira-Alf has taken a look at both APIs and will share some ideas during the call today. Please pitch in with your thoughts too.

[2020-10-19 10:12] johnjacobkenny commented on #233
@tolgaerdonmez I don't think it's a problem unless there's any copyright related issue?

[2020-10-19 10:13] tolgaerdonmez commented on #233
Yeah probably

[2020-10-19 10:13] johnjacobkenny commented on #233
Could you let me know more about this?

[2020-10-19 10:18] johnjacobkenny commented on #287
@Pa1sathvik you can raise this concern during the meeting today 🙂

[2020-10-19 10:19] johnjacobkenny commented on #287
Also just a heads up, the plan is to try and include as many people to contribute and learn. We might need to sacrifice a little initially and stick with a smaller stack, and eventually we might include some other stack as per requirement. @Pa1sathvik

[2020-10-19 11:30] pranavgoel29 commented on #286
- [x]  Approve PR carefully as they may not show any merge conflict but still there can be some error.

- [x] Check for repeated names too as I can see in some PR the same names are getting repeated 1-2 times

[2020-10-19 11:48] pranavgoel29 commented on #286
Should we pin this issue so it become more visible and they can add more point to check.

[2020-10-19 13:04] #299 closed

[2020-10-19 13:06] pranavgoel29 commented on #286
Should I add these through a PR ?

[2020-10-19 13:08] proful commented on #286
@pranavgoel29 yes of course

[2020-10-19 13:17] #345 closed

[2020-10-19 13:20] johnjacobkenny commented on #303
@billgufran please comment there too

[2020-10-19 13:22] johnjacobkenny opened #362 "Separation of concern and splitting into multiple repos"
_Originally posted by @arthurbuhl in https://github.com/twindle-co/twindle/pull/336#issuecomment-711247789_

I think we should have separation of concern and keep things simple. So, basically we should have like:

- `twindle-co/twindle` repo as our core app.
	- _Already implemented_ :heavy_check_mark:
- `twindle-co/twindle-cli` repo as our CLI app
	- The CLI app done in this PR :heavy_check_mark:

[2020-10-19 13:41] billgufran commented on #303
Sure @johnjacobkenny 👍

[2020-10-19 13:47] billgufran commented on #302
This is my first attempt for this issue #341. Please kindly check the PR.
Thanks.

[2020-10-19 14:19] pranavgoel29 opened #365 "Table is broken in TEAM.md file."
## Please check the TEAM.md file  and solve the table issue

Also there are some dublicate lines in the beginner section in TEAM.md file.
Remove them too.

To close this issue automatically when your PR get merged you can write, `closes #365` in comment of your pull request.

I have attached a screenshot of current TEAM.md file.

![image](https://user-images.githubusercontent.com/48860494/96463206

[2020-10-19 15:19] Harsha-Ambati commented on #365
I have made changes!!

[2020-10-19 15:23] ad3rinto commented on #287
I have also applied for the twitter dev account, application is currently under review.
I was hoping it would be immediate.
@piratelicorne how long does it usually take?

[2020-10-19 16:02] #365 closed

[2020-10-19 16:42] EYRAM565 commented on #362
I feel we should maintain the process we are used to until we are all (beginners) conversant with the process before any other change.

[2020-10-19 18:11] manohar52 commented on #245
Oh Somehow didnt see these comments.
I will ping you on discord

[2020-10-19 18:33] PuruVJ commented on #4
Is the logo finalized? Is there chance for change?

[2020-10-19 18:34] UnevenCoder commented on #4
no not yet

[2020-10-19 18:48] PuruVJ commented on #4
Here's one from me. Inspired from Microsoft's FLuent Design(a bit)

![twindle logo from Puru Vijay](https://i.imgur.com/iPgIzEq.png)

[2020-10-19 19:00] shekhar10feb commented on #4
Good work

[2020-10-19 20:13] tolgaerdonmez commented on #362
@johnjacobkenny I totaly agree. I think it would be an ease to everyone if we split it.

[2020-10-19 20:19] proful commented on #4
@PuruVJ good work. Your logo working great

[2020-10-19 21:55] therealJimoh commented on #274
I want to implement the second design: header2 html and header2 css, can I?

[2020-10-19 23:27] piratelicorne commented on #287
I remember between 7 and 10 days, but If im not mistaken they can approve within the next 15 days.

[2020-10-20 02:49] sarathkumar6 commented on #286
- [ ] Offer any suggestions to improve the code in constructive manner

[2020-10-20 02:56] sarathkumar6 commented on #275
Please ensure to grab the right links of twindle online presence i.e., Twitter handle, Youtube channel, and GitHub repo
@princehaybee

[2020-10-20 02:56] shekhar10feb commented on #286
Can we add 3rd PR in Initial CR Checklist??

[2020-10-20 02:59] sarathkumar6 commented on #271
@UnevenCoder and @johnjacobkenny worked on fetching the contributors info through Giit API I guess.
What info are you planning to have on the team's page? @Akshay2996

[2020-10-20 03:24] johnjacobkenny commented on #271
Just a heads up, the script I implemented was not specifically for the teams page (but can be repurposed for it).

[2020-10-20 03:27] johnjacobkenny commented on #362
This will be picked up in some time, may not be done immediately though

[2020-10-20 04:01] tusharkandpal commented on #286
1. See 'file changed' section to review the summed up code. (Don't go into individual commits)

2. You can comment on a specific line/part of the code which needs improvement by selecting it.

[2020-10-20 06:43] vasudeveloper001 commented on #352
Why can't we simply write in ES6 format without the need for Babel? We should target new browsers [most now support ES6 - ECMA 2015 nowadays anyways].

I don't see the need for Babel here. Care to explain?

[2020-10-20 06:45] vasudeveloper001 commented on #362
I think this should be done by this week's end. So that beginners can continue to work here, but those who simply want to go ahead with development can work on other repos directly without much baggage. This will help track the issues and pull requests in a better manner.

[2020-10-20 06:50] vasudeveloper001 commented on #357
I agree.

[2020-10-20 06:50] vasudeveloper001 commented on #354
I think this is already done. Markdown is now under playground -> cli

[2020-10-20 07:11] proful commented on #357
Please fix it and raise a PR

[2020-10-20 07:12] proful commented on #362
Agree @vasudeveloper001

[2020-10-20 07:13] proful commented on #352
@tolgaerdonmez this is very helpful

[2020-10-20 07:38] tolgaerdonmez commented on #352
As far as I know, nodejs doesnt support es6 format itself.

[2020-10-20 07:38] tolgaerdonmez commented on #352
thanks

[2020-10-20 07:47] pranavgoel29 commented on #4
@tusharkashyap63 Please add your twitter handle

[2020-10-20 07:50] tolgaerdonmez commented on #357
I solved this issue in my PR #359

[2020-10-20 07:50] tusharkashyap63 commented on #4
https://twitter.com/tusharkashyap63?s=09

[2020-10-20 07:51] pranavgoel29 commented on #4
@PuruVJ @EYRAM565 @sammjainn @niveth09 @aesthytik @kambleaa007 @MumbiGachomba04 @QuiiBz @cankocman @MrVoicer

Everyone please add your twitter handle below your logo.

[2020-10-20 07:52] #357 closed

[2020-10-20 07:52] tolgaerdonmez commented on #351
Should we close this now ?

[2020-10-20 08:00] niveth09 commented on #4
![New Project (6)](https://user-images.githubusercontent.com/19762119/96409363-c805f400-1202-11eb-989b-e5501051b08c.png)
![Untitled design (9)](https://user-images.githubusercontent.com/19762119/96442725-352c8000-1229-11eb-90b9-fc98b4bb6940.png)

@Nivetharathnav2

[2020-10-20 08:18] aesthytik commented on #4
add it as a link pls

[2020-10-20 08:19] proful opened #390 "Sending mail using AWS SES"
Prerequisites:

- JavaScript (intermediate)

AWS - not needed. I will guide

Let me know who wants to take this task?

interested to send email to list of ppl

Request:-
[code]

REST Endpoint => Lambda => SES

[2020-10-20 08:33] JoelVinayKumar commented on #4
![twindle_logo](https://user-images.githubusercontent.com/16177724/96561132-cad51780-12dc-11eb-9ef8-75653e60f358.png)

The idea is that tweet bird delivered file through cloud. The logo is just different shapes together. Can suffice plenty of color combinations and as it is small, can be accommodated in any area on a web page, printed document.

https://twitter.com/JoelVinayKumar

[2020-10-20 09:13] vasudeveloper001 commented on #390
I want to know about it. Intermediate JavaScript means what level exactly because I am interested in AWS?

[2020-10-20 09:33] vasudeveloper001 commented on #352
@tolgaerdonmez Ah right! I totally forgot. My bad!

[2020-10-20 09:36] tolgaerdonmez commented on #390
I've used AWS nodejs sdk before, what are you willing to do ?

[2020-10-20 09:37] PuruVJ commented on #352
Or supports as far as es8 minus the imports. Wet don't transpiler for node

[2020-10-20 09:58] proful commented on #390
interested to send email to list of ppl

[2020-10-20 10:00] tolgaerdonmez commented on #390
Are we going to create a lambda function or is there an existing service for it

[2020-10-20 10:03] tolgaerdonmez commented on #390
I believe this could solve the problem [source](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/ses-examples-sending-email.html)

[code]

[2020-10-20 10:21] pranavgoel29 commented on #4
## Logo with different type style

![image](https://user-images.githubusercontent.com/48860494/96573613-0d522080-12ec-11eb-9ad3-66237fc05ae2.png)

https://twitter.com/Pranavgoel_29

[2020-10-20 10:44] tusharkashyap63 commented on #274
Yeah what is the progress with header 2? I would also like to try my hand at it.

[2020-10-20 10:49] tolgaerdonmez commented on #351
I explained the code [here](https://youtu.be/llkkwRABN-s)

[2020-10-20 11:06] johnjacobkenny commented on #286
3. Just to add, you can select a range of lines by clicking and dragging

[2020-10-20 11:09] tr0mbl3y commented on #4
![twindlelogo](https://user-images.githubusercontent.com/72851843/96578402-c287d700-12f2-11eb-922b-e835c13aa3ad.png)
by:@tr0mbley_

[2020-10-20 11:11] johnjacobkenny commented on #351
Awesome 🔥

[2020-10-20 11:12] johnjacobkenny commented on #354
Thanks @vasudeveloper001

[2020-10-20 11:12] #354 closed

[2020-10-20 11:13] johnjacobkenny commented on #287
@proful

[2020-10-20 11:35] vijaya-bhaskar commented on #287
@Pa1sathvik
In my opinion, as Proful mentioned previously too in meetings, the intention to include more people to learn and introduce to open-source community is equally as important as the project objective is.
We can use the tools/languages you mentioned and complete this project in a day or two but that's not the whole aim here.
By having the stack minimum we are keeping the objective open to

[2020-10-20 12:14] teckiegeek commented on #4
Have a look at my design.
![twindle (1)](https://user-images.githubusercontent.com/36566559/96584453-2354e680-12d6-11eb-9cf1-b37773bd3c28.png)

[2020-10-20 12:17] teckiegeek commented on #4
Have a look at my design.
![twindlelogo](https://user-images.githubusercontent.com/36566559/96584759-965e5d00-12d6-11eb-96be-195f3ab237aa.png)

[2020-10-20 12:19] piratelicorne commented on #4
well.. this will be mine :) ![twindle](https://user-images.githubusercontent.com/52439373/96584997-9ba2b400-12a4-11eb-971a-a8a4ace73f16.png)

[2020-10-20 12:35] Sheetal777 commented on #287
Hey, quick question, does every member need to apply for the Twitter API access?

[2020-10-20 12:38] johnjacobkenny commented on #287
Nope, you can skip if you're not interested

[2020-10-20 13:04] cankocman commented on #4
@proful my twitter is @TheRam05

[2020-10-20 13:18] proful commented on #390
Raise a PR https://github.com/twindle-co/twindle-scripts

Clean it up a bit.

I have lots of features surrounding this SES. This is extremely important.

If you are interested I can give some guidance on AWS if you haven't used it.

[2020-10-20 16:14] praveen2896 commented on #390
Hi @proful i am also interested in this task

[2020-10-20 16:22] tr0mbl3y commented on #390
i too would like to learn AWS

[2020-10-20 17:02] PuruVJ commented on #4
I'm probably spamming with so many logos, but here's another iteration 😁
![](https://i.imgur.com/6EgaovP.png)

[2020-10-20 17:49] teckiegeek commented on #4
Another one from me @iamtolopade

![twindle-logo](https://user-images.githubusercontent.com/36566559/96624723-084d9b00-1305-11eb-9104-453d8b8dab75.png)

[2020-10-20 17:50] teckiegeek commented on #4
Another one from me @iamtolopade

![twin-dle](https://user-images.githubusercontent.com/36566559/96624778-21564c00-1305-11eb-944b-351edceb6330.png)

[2020-10-20 19:39] tolgaerdonmez opened #400 "Creating a HTML to PDF conversion in AWS Lambda"
@proful like we discussed puppeteer could be heavy for lambda functions, I believe phantomjs would be heavy to, hence it is also using headless browser in the background.
I saw a package in @praveen2896's pull request #365 he uses a package called [html-to-pdf](https://www.npmjs.com/package/html-to-pdf) which is a wrapper around a java library called Flyingsaucer. Perhaps it can be more lightweigh

[2020-10-20 19:45] tolgaerdonmez commented on #390
@proful
Yeah, it would be good. I've just used a minor part of the AWS. I'm still a stranger to it. Guidance would be helpful.
I could send a PR but can you then test the code, whether it sends the emails or not.

[2020-10-20 19:49] tolgaerdonmez opened #401 "Creating a CLI in nodejs, which libraries to use, let's discuss!"
I want to learn more about CLIs in nodejs.
Before I've created a CLI using inquirer you can see it [https://github.com/tolgaerdonmez/project-chef](here)
But this uses a prompt style so.

I want to use things such as args, flags. Which lib to use for simple CLIs.
Let's discuss and learn. 😁

[2020-10-20 20:41] teckiegeek commented on #4
A warmer logo from me @iamtolopade
![twindle-logo](https://user-images.githubusercontent.com/36566559/96641678-faa40f80-131c-11eb-97d5-4ac7405486f1.png)

[2020-10-20 20:55] tolgaerdonmez commented on #390
@proful I sent a PR to twindle-scripts

[2020-10-20 22:12] proful commented on #390
If you can try using your account it would be great.

[2020-10-20 22:16] tolgaerdonmez commented on #390
I try if possible :)

[2020-10-20 22:25] tolgaerdonmez commented on #400
Actually it is also possible to just create the html page of the twit thread and the user itself can print the page to pdf in the browser or a button that saves the page in the front-end. Just an idea.

[2020-10-20 22:31] tolgaerdonmez commented on #400
We could use web assembly maybe, also an idea

[2020-10-20 23:40] frankiefab100 commented on #272
Please who is handling the interface design?

[2020-10-20 23:41] frankiefab100 commented on #188
I will work on this tomorrow 👍

[2020-10-20 23:50] frankiefab100 opened #403 "Move franklinulrich.md to firstpr directory"
The file franklinulrich.md is not in  firstpr directory

![screenshot of the repo](https://user-images.githubusercontent.com/46662771/96656227-495ea300-1337-11eb-916f-16dcc9df2872.jpg)

[2020-10-21 00:03] frankiefab100 commented on #219
@UnevenCoder I agree with you.
I will suggest we discuss this or may be get inspiration from Twitter & Kindle style guide them implement on it.

[2020-10-21 00:59] princehaybee commented on #275
@sarathkumar6 thanks. I am on the youtube channel now.

[2020-10-21 01:01] proful commented on #400
Give it a try various approaches.

For phase 1 we will go npm route, so puppeteer is great.

Keep exploring different options. Raise a PR if you get any break through. Having the relevant source code in repo helps to iterate.

[2020-10-21 01:07] proful commented on #401
Ours is very simple and less options.

I am open to any suggestions. Raise PR😊

[2020-10-21 01:42] michaelcosj commented on #401
I think we should go with [yargs](http://yargs.js.org/), it has a lot of features that I believe would be very useful.
I've made a small node app that showcases some of the features at PR #336

[2020-10-21 02:32] proful opened #406 "Auto assign merge conflict label"
- "merge conflict" label should be auto-assigned

- PR should be assigned back to the original author

- mention the author
`"@proful please fix the merge conflict"`

[2020-10-21 02:36] proful opened #407 "Auto assign merging required label"
- If PR has two approval

- "merging required" label should be auto-assigned

- PR should be assigned back to the contributor team

- mention the author
`"@proful @johnjacobkenny @sarathkumar6 please merge"`

[2020-10-21 02:54] proful opened #408 "Run the below programs and reply screenshot of output"
## Instructions

- Sync the project to get the latest copy
- Run below projects
- In the comment below put the screenshot of your output
- **ONE USER ONLY ONE COMMENT.** Edit your entry to update.

[![**YOUTUBE** Run other developer code](https://img.youtube.com/vi/BStPJrqOaEk/0.jpg)](https://youtu.be/BStPJrqOaEk)

## JavaScript/Node.js

[CLI to generate epub](https://github.com/twindle-co/twindle

[2020-10-21 03:03] proful opened #409 "Organize into proper folder"
![image](https://user-images.githubusercontent.com/354596/96668086-24554900-13a6-11eb-81bd-8855f1d69e64.png)

## Folder

- header
- footer
- banner
- classification
- email
- team
- product

![image](https://user-images.githubusercontent.com/354596/96668758-92e6d680-13a7-11eb-9ea8-f8951aacf46e.png)

[2020-10-21 03:06] madhusudanbabar commented on #286
also see if there's any new file added to the root of the repo by checking their branch, as it doesn't comes to notice easily from `files changed` tab

[2020-10-21 03:12] sarathkumar6 commented on #272
@frankiefab100
Myself and  @tusharkandpal are working on the UI design. We've come up with the basic UI design
https://tusharkandpal.github.io/twindle-site/ and trying to improve the design. Please feel free to share your feedback with us. You can connect us through discord or twitter

@proful  Do you mind sending @frankiefab100  discord invite? Thanks.

[2020-10-21 03:13] lh536 commented on #403
I did it... waiting for PR review.

[2020-10-21 03:19] sarathkumar6 commented on #272
@frankiefab100 Here is the discord server invite
https://discord.gg/Rc2PMN Please feel free to join and ping me to talk about the design. Thanks

[2020-10-21 03:44] lh536 commented on #409
I think I did it... #410 Waiting for PR review.

[2020-10-21 04:13] arthurbuhl commented on #406
We can also look into this GitHub action which checks all open Pull Requests for merge conflicts and marks them with a Github label. Also, once a conflict is resolved the label is automatically removed.

https://github.com/marketplace/actions/auto-label-merge-conflicts

[2020-10-21 04:14] proful commented on #301
We did good progress here and closing this issue.

[2020-10-21 04:14] #301 closed

[2020-10-21 05:07] johnjacobkenny commented on #408
## /playground/cli/cli-epub
![image](https://user-images.githubusercontent.com/19240564/96675510-a3d41f80-1388-11eb-85a7-06b73f5bdd98.png)
![image](https://user-images.githubusercontent.com/19240564/96675550-bc443a00-1388-11eb-9ac4-d97d6822f463.png)

## /playground/cli/jsonToPDF
this isn't working for me, I don't have java installed
![image](https://user-images.githubusercontent.com/19240564/96675

[2020-10-21 05:29] proful commented on #408
![image](https://user-images.githubusercontent.com/354596/96677100-9cc60500-13ba-11eb-9ce9-3ec84108299a.png)

[2020-10-21 05:51] naveenkala commented on #408
# /playground/cli/cli-epub
![play1](https://user-images.githubusercontent.com/65217331/96678055-886c1300-138e-11eb-8fed-6d8a437eebba.jpg)

# /playground/cli/jsonToPDF
![play2](https://user-images.githubusercontent.com/65217331/96678418-45f70600-138f-11eb-8227-cf12bdf5e798.jpg)

# Will update for remaining

[2020-10-21 05:56] wgaurav commented on #408
![IMG_20201021_112442](https://user-images.githubusercontent.com/67326005/96678874-33310100-1390-11eb-8a2d-27bc3b2aaaab.jpg)

[2020-10-21 06:25] johnjacobkenny opened #414 "Google meet link?"
Yesterday before our discord meeting I had made a change to https://github.com/twindle-co/twindle/tree/main/docs

![image](https://user-images.githubusercontent.com/19240564/96681027-34642d00-1394-11eb-817a-397dbc9357e6.png)

But during the discord call we had some limitations. If we are continuing with google meet, could some one take up editing it back to have the meet link.

@proful please shar

[2020-10-21 06:27] Akshay2996 commented on #296
Hi @proful @sarathkumar6 & @johnjacobkenny Please some post this issue in the Resolving merge conflict wiki page so that it is easier for people having trouble with the merge conflict

[2020-10-21 06:28] johnjacobkenny commented on #401
I have seen this library called [React Ink](https://github.com/vadimdemedes/ink). Haven't used it at all but may be interesting to some even though we don't take it up

[2020-10-21 06:28] praveen2896 commented on #408
/playground/cli/twindle_hello_world_pdf
![img2](https://user-images.githubusercontent.com/20437146/96680595-6d4fd200-1393-11eb-853b-c279707d1b2e.JPG)
![img1](https://user-images.githubusercontent.com/20437146/96680600-6f199580-1393-11eb-9b2d-5743bcce76ee.JPG)
/playground/cli/pdf-from-html-cli
![output](https://user-images.githubusercontent.com/20437146/96681263-99b81e00-1394-11eb-8b84-4bd11e98a97f

[2020-10-21 06:31] proful commented on #296
@Akshay2996 go ahead and edit wiki page and share the link with others

[2020-10-21 06:44] EYRAM565 commented on #408
playground/cli/jsonToPDF/output.html

![Screenshot (11)](https://user-images.githubusercontent.com/68958520/96682605-f73a7380-1370-11eb-9c63-6e8138e9762f.png)
![Screenshot (12)](https://user-images.githubusercontent.com/68958520/96682612-f86ba080-1370-11eb-8780-7ff5403e8ea3.png)
![Screenshot (13)](https://user-images.githubusercontent.com/68958520/96682614-f9043700-1370-11eb-9ca2-0b2f79aedcdc.png)

[2020-10-21 06:48] tolgaerdonmez commented on #408
# I get an error when running /playground/cli/cli-epub

<img width="998" alt="image" src="https://user-images.githubusercontent.com/45141388/96681208-851d5b00-137f-11eb-9496-ffa104464d82.png">

# /playground/cli/jsonToPDF

<img width="796" alt="image" src="https://user-images.githubusercontent.com/45141388/96681535-18ef2700-1380-11eb-8f56-6b689748c10b.png">

#  /playground/cli/markdown

<img width

[2020-10-21 06:48] proful commented on #414
Use old one and update the docs

[2020-10-21 06:54] Akshay2996 commented on #296
I have updated the wiki page & I am closing this issue.

[2020-10-21 06:54] #296 closed

[2020-10-21 07:01] pranavgoel29 commented on #403
ok

[2020-10-21 07:02] pranavgoel29 commented on #403
Please mention someone in your PR so someone can take a look in it.

[2020-10-21 07:13] vijaya-bhaskar opened #415 "Handlebars Explained"
### **Why do we need Handlebars?**

For converting twitter threads to PDFs, we initially need to compose HTML comprising of that twitter thread with some styling and then we can consequently convert it to PDF.

To compose that HTML from twitter thread we cannot directly give tweet text to PDF because it would just look like a pile of text. So we will be using a template in which we can input this

[2020-10-21 07:20] tolgaerdonmez commented on #415
@vijaya-bhaskar man, this is awesome!
nice explanation of handlebars 👍👍👍

[2020-10-21 07:44] Harsha-Ambati commented on #4
![circle-cropped (1)](https://user-images.githubusercontent.com/47480010/96688881-4c8d7980-139f-11eb-8d72-805bf20aeadd.png)

[2020-10-21 08:17] naveenkala commented on #414
I will change it back.

[2020-10-21 08:36] naveenkala commented on #414
Done  https://github.com/twindle-co/twindle/pull/416

[2020-10-21 08:42] praveen2896 commented on #415
is this support mustache template also? @vijaya-bhaskar , this template looks like similar to mustache [template.](https://github.com/twindle-co/twindle/blob/main/playground/cli/jsonToPDF/tweet_template.mustache)

[2020-10-21 08:45] johnjacobkenny commented on #414
Closed through this

@naveenkala next time in the PR description you can write "closes #issue number" to auto close issue when pr is merged.

[2020-10-21 08:45] #414 closed

[2020-10-21 08:47] johnjacobkenny commented on #415
Yes @praveen2896 most of the templating syntax is similar, but beyond the similarities in syntax, the purpose of them is the same. And I'm not sure but I think handlebars was created from mustache, or the other way round.

[2020-10-21 08:48] vijaya-bhaskar commented on #415
@praveen2896 Yes.
Primarily Handlebars is an extension to the Mustache templating language and
the syntax of Handlebars templates is a superset of Mustache templates.

More info :point_right:  [here](https://www.npmjs.com/package/handlebars)

[2020-10-21 08:54] praveen2896 commented on #415
Thanks @johnjacobkenny @vijaya-bhaskar , Hi @vijaya-bhaskar  , actually i tried mustache template in the [json2PDF](https://github.com/twindle-co/twindle/tree/main/playground/cli/jsonToPDF) .can you please have a look and give your suggestions?

[2020-10-21 08:57] #57 closed

[2020-10-21 09:11] tr0mbl3y commented on #415
Thanks @vijaya-bhaskar  for the details

[2020-10-21 09:13] tr0mbl3y commented on #415
Thanks @vijaya-bhaskar for the details

[2020-10-21 09:48] tolgaerdonmez commented on #415
Awesome!
Actually we nearly did the same thing using handlebars, like @vijaya-bhaskar said, it is just an extension of mustache.

[2020-10-21 09:55] frankiefab100 commented on #272
@sarathkumar6 I'm in the Discord workspace, I will send you a message

[2020-10-21 10:14] proful opened #417 "PR 4 Instructions"
1.  Upload your profile image into `/docs/images/team` folder
2. Give the name same as your first pr file name & use extension jpg, jpeg or png e.g., 'proful.png'
3. Edit TEAM.md to link to your image. Someone experienced with markdown come up with an initial design (size & placement). Other follow.

**This will improve your knowledge of merging.**

[2020-10-21 10:24] proful opened #418 "Issues encountered during Run the below programs and reply screenshot of output #408"
Report all issues here for #408 .

1 post per user - keep editing & updating.

First, explain the issue.
After you resolve mention how you resolve that.

[2020-10-21 10:39] vijaya-bhaskar opened #419 "Puppeteer Explained"
### **What is Puppeteer?**

<img src="https://user-images.githubusercontent.com/5336488/96694886-a2195480-13a6-11eb-9311-29ce9a6680e4.png" alt="Puppeteer" width="174" height="253">

From the documentation

In other words, it is a Node library that we can use to control a headless Chrome instance. That means we are actually using Chrome, but programmatically using JavaScript. And "headless Chrome"

[2020-10-21 11:12] johnjacobkenny opened #420 "Video: Software Engineering is Overwhelming"
Here's a video I came across which resonates with me. This guy explains how software engineer looks complicated and confusing in the beginning, and how it is common for everyone to feel the same initially, and how to get to the stage of understanding it.

Two questions he mentions. For each tech you come across ask,
1. what is it
2. **why does it exist**

Break down big components into fundamental

[2020-10-21 11:18] tr0mbl3y commented on #400
![inpdf](https://user-images.githubusercontent.com/72851843/96712550-f0395280-13bc-11eb-8120-835eeb27ffee.png)
i added  a button so that user itself can print pdf.

[2020-10-21 11:19] teckiegeek commented on #408
![image](https://user-images.githubusercontent.com/36566559/96712555-3c719c00-1397-11eb-9489-7c9cd5898c44.png)

The section circled red needs to be responsive. I have not been able to do this because I am still learning how to make responsive websites. Can someone who is very good at making website responsive do this? Thank you.

[2020-10-21 11:20] tolgaerdonmez commented on #419
Again Awesome explanation 👍

[2020-10-21 11:56] shekhar10feb commented on #4
![Logo](https://user-images.githubusercontent.com/72906055/96716343-89b73300-13c2-11eb-99cf-a842b695cb61.png)
A logo from me @MontygSharma

[2020-10-21 12:39] Na-ilah commented on #408
![image](https://user-images.githubusercontent.com/29338040/96720582-d9860200-13a2-11eb-8c80-849e100c685e.png)

[2020-10-21 12:46] johnjacobkenny commented on #4
Logo from me https://twitter.com/johnjacobkenny @johnjacobkenny
Lol not so much a logo. Probably an illustration for the website
![twindle](https://user-images.githubusercontent.com/19240564/96721277-82475800-13c9-11eb-80c4-ce1dda6448ea.png)

[2020-10-21 13:10] tusharkandpal commented on #418
![problem1](https://user-images.githubusercontent.com/66052835/96722755-59c05d80-13cb-11eb-914a-d4479140810f.JPG)

# Problem

I guess I need to install node.js.
Can somebody guide me through the initial steps?

[2020-10-21 13:41] tolgaerdonmez opened #426 "Sending pdf, epub etc. to Kindle"
We could create a option to directly send created document to kindle.
There is a whitelist in the users amazon account, which allows from which email can kindle receive docs. There should be a guide to add twindle to users whitelist, so that we can send them the created doc.

[2020-10-21 14:08] #403 closed

[2020-10-21 14:10] johnjacobkenny commented on #418
## /playground/cli/jsonToPDF
this isn't working for me, I don't have java installed
![image](https://user-images.githubusercontent.com/19240564/96675784-50160600-1389-11eb-9b9f-ab9240ed42de.png)

I'm assuming it will work if I install java. If anyone else encounters the same, please try installing.

[2020-10-21 14:16] johnjacobkenny commented on #407
I can take this

[2020-10-21 14:20] johnjacobkenny commented on #406
I'm looking into this and #407

[2020-10-21 14:41] Mar-code commented on #418
![Screenshot (17)](https://user-images.githubusercontent.com/64645089/96735738-c7f92600-13b3-11eb-8abd-bd25ce1f47ce.png)

the epub and twitter_cli_node gave those errors

[2020-10-21 14:41] Mar-code commented on #418
i already installed the node modules from vs code

[2020-10-21 14:44] Mar-code commented on #408
![Screenshot (12)](https://user-images.githubusercontent.com/64645089/96736047-1dcdce00-13b4-11eb-8bfe-2c0485045ddf.png)
![Screenshot (13)](https://user-images.githubusercontent.com/64645089/96736107-2d4d1700-13b4-11eb-8d98-0f0aa08c2d11.png)
![Screenshot (14)](https://user-images.githubusercontent.com/64645089/96736119-30480780-13b4-11eb-9f77-9eefc22cb56e.png)
![Screenshot (15)](https://user-image

[2020-10-21 14:55] Mar-code commented on #408
![Screenshot (18)](https://user-images.githubusercontent.com/64645089/96737541-b44ebf00-13b5-11eb-8e6a-03884ceb86e0.png)
![Screenshot (19)](https://user-images.githubusercontent.com/64645089/96737548-b6188280-13b5-11eb-9d34-fc5336f2e19c.png)
![Screenshot (20)](https://user-images.githubusercontent.com/64645089/96737551-b6188280-13b5-11eb-864f-e738cb40d35b.png)
![Screenshot (21)](https://user-image

[2020-10-21 15:01] johnjacobkenny commented on #418
@Mar-code there probably isn't a `start` script mentioned in `package.json` file. Usually this can be run by using `node index.js`.

[2020-10-21 15:14] Akshay2996 opened #427 "Adding Images in TEAM.md File"
![image](https://user-images.githubusercontent.com/37118877/96740007-0c012080-13de-11eb-9988-b01c5473288e.png)

@proful Do see if this is okay to put images like this

[2020-10-21 15:16] Akshay2996 commented on #427
![image](https://user-images.githubusercontent.com/37118877/96740173-3521b100-13de-11eb-972f-136e46df3317.png)

See also this. Your image is manually done from images folder while I took the photo from my github page & posted the link there.

[2020-10-21 15:29] Akshay2996 commented on #427
This is the updated & more clear version

![image](https://user-images.githubusercontent.com/37118877/96742286-584d6000-13e0-11eb-8f1a-00e83fb4d872.png)

[2020-10-21 16:01] johnjacobkenny commented on #406
I have tried to integrate some sample actions in `/.github/workflows/`. It's not really working out.

There seems to be some limitations with the github workflow as documented here
https://github.community/t/github-actions-are-severely-limited-on-prs/18179/2

I don't know if that is the cause. Does anyone have some experience with this

[2020-10-21 16:02] pranavgoel29 commented on #408
##Getting error when running /playground/cli/cli-epub

![image](https://user-images.githubusercontent.com/48860494/96746414-c72cb800-13e4-11eb-945a-986c49fd9db2.png)

[2020-10-21 16:11] ad3rinto commented on #287
I have now received approval from twitter.

[2020-10-21 16:36] pranavgoel29 commented on #418
To start

`node index -o <file format> -n <filename>`

[2020-10-21 16:37] pranavgoel29 commented on #418
## Getting error when running /playground/cli/cli-epub

![image](https://user-images.githubusercontent.com/48860494/96746414-c72cb800-13e4-11eb-945a-986c49fd9db2.png)

# I have solved the above error by installing the yargs package
write `npm i yargs` in your Terminal to solve this error

![image](https://user-images.githubusercontent.com/48860494/96750212-51771b00-13e9-11eb-81ce-9a89bf2e37fe.png)

[2020-10-21 16:44] ni3-kdm commented on #408
## Header
- Output:
![image](https://user-images.githubusercontent.com/72256599/96743324-7f586180-13e1-11eb-9ba9-7e9bf1f4d08d.png)
![image](https://user-images.githubusercontent.com/72256599/96750666-d7936180-13e9-11eb-826c-4d17cc26d352.png)
![image](https://user-images.githubusercontent.com/72256599/96750703-e4b05080-13e9-11eb-84da-46b1103db9ab.png)
![image](https://user-images.githubusercontent.

[2020-10-21 18:05] arthurbuhl commented on #406
In PR #425 it seems to work fine.

Also, can you try updating the `yml` code like:

[code]

instead of

[code]

Docs: https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows#example-using-multiple-events-with-activity-types-or-configuration

[2020-10-21 18:45] cankocman commented on #426
Yeah good idea. We can easily do that!

[2020-10-21 20:28] pranavgoel29 commented on #427
### What about this?

![image](https://user-images.githubusercontent.com/48860494/96778920-ebe75680-1409-11eb-996c-43eaaef540e7.png)

[2020-10-21 20:38] proful commented on #427
Both look good and I am fine with any one style. Raise a PR.

[2020-10-21 20:39] pranavgoel29 commented on #427
ok

[2020-10-21 20:47] proful commented on #287
That's great @ad3rinto Update document your observations.

[2020-10-21 22:41] teckiegeek commented on #427
Well done Akshay! I like the first two styles! Great job!

[2020-10-21 22:47] teckiegeek commented on #417
Is this good to go or do we need to wait for @Akshay2996 to finish his task?

[2020-10-21 23:48] proful commented on #427
@Akshay2996 raise the PR

[2020-10-22 00:20] proful opened #434 "Youtube thumbnail for each video"
Create thumbnail for the video uploaded.

Anyone can make thumbnail for any video.

Examples of a good thumbnail.

![Screenshot_20201022_111714](https://user-images.githubusercontent.com/354596/96803570-6f2f9900-1458-11eb-8724-11988cc90b61.jpg)

Example of a bad thumbnail

![Screenshot_20201022_112002](https://user-images.githubusercontent.com/354596/96803654-9e460a80-1458-11eb-9822-e2581bce3a3a.j

[2020-10-22 02:11] johnjacobkenny commented on #434
I think @UnevenCoder was doing something on this?

[2020-10-22 02:12] johnjacobkenny opened #435 "Github how to create table markdown"
Content by @arthurbuhl

The issue is to display table we need the middle part like:

[code]

This looks like:

| Name       | Description |
| ---------- | ----------- |
| A | B |

<hr/>

But in your commit you have deleted the middle part `| ---------- | ----------- |` like:

[code]

Due to which it looks now like:

| Name       | Description |
| A | B |

<hr/>

So, just add that middle part back

[2020-10-22 02:18] johnjacobkenny commented on #418
I think all the packages are mentioned in package.json file so you just need to run mom install which will install yargs and any other dependencies

[2020-10-22 02:44] proful commented on #434
He is creating YouTube channel banner.

I need more hand for each video. So that video will look professional to new user.

[2020-10-22 04:40] aravindsivasailam commented on #352
In order to write es6 syntax such as `import from ` etc, we can either opt for installing a npm package like `esm`. This takes care of converting from es6 to regular to run the scripts.

https://www.npmjs.com/package/esm.

Once it is installed and part of package.json, we can then use it as a script in package.json as:
`"start": "node -r esm <file>.js"`

[2020-10-22 05:42] Akshay2996 commented on #427
I have decided to select @pranavgoel29 design for the markdown. It looks clean & I will be making changes & then raise a PR.

[2020-10-22 05:56] proful commented on #352
@aravindsivasailam create a PR with a example and read me file.

Create a folder inside playground/cli

[2020-10-22 06:11] arthurbuhl commented on #427
Keeping the images width & height to 40-50px would be nice I think, otherwise the `md` will fill up very fast and users might have scroll whole day to get to the bottom. Just wanted to share my views regarding this.

[2020-10-22 06:38] Akshay2996 commented on #427
Also see that my name is breaking because it's bigger & coming in two lines instead.

@pranavgoel29 if there's a workaround to this please see otherwise we should create a separate image column instead.

![image](https://user-images.githubusercontent.com/37118877/96834256-52e32a80-145f-11eb-8d62-b3b4a5715f4b.png)

[2020-10-22 06:43] pranavgoel29 commented on #427
To solve this we have to make a separate column for images

[2020-10-22 07:03] pranavgoel29 commented on #427
Have you wrote your's in markdown?

[2020-10-22 08:34] Na-ilah commented on #417
Done 1 and 2. Need help with 3

[2020-10-22 08:35] johnjacobkenny commented on #417
@Na-ilah dm me on twitter or discord

[2020-10-22 08:46] Na-ilah commented on #417
@johnjacobkenny Okay, I am on twitter now

[2020-10-22 08:49] johnjacobkenny opened #440 "Github Actions - Add documentation link"
We have a bot setup and its code is in `.github/workflows`. When there is a PR, and a conflict it will send this message currently.

![image](https://user-images.githubusercontent.com/19240564/96847832-45cf3700-1471-11eb-84f1-c99ef9e5f866.png)

Please alter the message so that it is more user friendly and also links to documentation explaining how to resolve the conflict.

[2020-10-22 08:56] johnjacobkenny opened #441 "Github Actions - change the merge conflict tag"
The code for this action is in `.github/workflows`. When there is a merge conflict this adds a tag to the PR without any human intervention.

![image](https://user-images.githubusercontent.com/19240564/96848357-f4737780-1471-11eb-984c-53b15d97ae01.png)

But it should be
![image](https://user-images.githubusercontent.com/19240564/96848698-5fbd4980-1472-11eb-88cc-0142283ac597.png)

[2020-10-22 09:16] stamenkovic-dev commented on #408
### /playground/twindleco/header/
![image](https://user-images.githubusercontent.com/72743233/96850251-e49a6a00-1456-11eb-9dfa-5548decc01bf.png)
![image](https://user-images.githubusercontent.com/72743233/96850339-fbd95780-1456-11eb-8cfa-2a61bf91be07.png)
![image](https://user-images.githubusercontent.com/72743233/96850456-21fef780-1457-11eb-923a-5dfb3518021a.png)
![image](https://user-images.gith

[2020-10-22 09:50] johnjacobkenny commented on #415
This has been added into the website at https://twindle-co.github.io/twindle/docs/articles/handlebar-explained.html and in the repo at `/docs/articles/handlebar-explained.md`.

[2020-10-22 09:50] #415 closed

[2020-10-22 09:50] johnjacobkenny commented on #419
This has been added into the website at https://twindle-co.github.io/twindle/docs/articles/puppeteer-explained.html and in the repo at `/docs/articles/puppeteer-explained.md`.

[2020-10-22 09:50] #419 closed

[2020-10-22 10:03] johnjacobkenny commented on #57
This has been added into the website at https://twindle-co.github.io/twindle/docs/articles/creating-first-pull-request.html and in the repo at `/docs/articles/creating-first-pull-request.md`.

[2020-10-22 11:34] johnjacobkenny opened #447 "PRs welcome for home page links"
![image](https://user-images.githubusercontent.com/19240564/96866004-4f17ce00-1488-11eb-8e9c-b7c691f3d9f9.png)

Please feel free to add any specific links that we are missing

[2020-10-22 11:42] Sheetal777 commented on #4
![twi(2)](https://user-images.githubusercontent.com/52107802/96866928-a8343180-1489-11eb-8b93-e1322f511c0d.png)
A logo from me! @Sheetal777

[2020-10-22 12:05] Sheetal777 commented on #4
![twi(4)](https://user-images.githubusercontent.com/52107802/96869307-ebdc6a80-148c-11eb-8eb8-14f4a1dec10d.png)
A logo from me! @Sheetal777
https://twitter.com/_sheetal_p

[2020-10-22 12:13] Sheetal777 commented on #4
![twi(5)](https://user-images.githubusercontent.com/52107802/96870089-0105c900-148e-11eb-89b1-8e1383cca849.png)
Logo #2 from @Sheetal777
https://twitter.com/_sheetal_p

[2020-10-22 12:13] vijaya-bhaskar opened #449 "Redirection issue from "twindle.co" to "www.twindle.co""
### **Twindle website "twindle.co" not redirecting to "www.twindle.co"**

Currently if you try to open twindle.co for first time in a browser it will not open.
You can type "www.twindle.co" to open the site.

And once you open the site using "www.twindle.co" then twindle.co also opens. Because your browser now knows where to go.

Hi @proful please use [this link](https://in.godaddy.com/community/M

[2020-10-22 12:17] proful commented on #449
Thank you @vijaya-bhaskar

I will try tomorrow.

[2020-10-22 12:28] johnjacobkenny opened #450 "Add article - how to sync to main repo"
Convert this into an article and link on the readme.

https://github.com/twindle-co/twindle/issues/41#issue-721481331

[2020-10-22 12:57] vasudeveloper001 commented on #417
I just added the link to my github avatar in the 3rd PR table.

[2020-10-22 13:37] johnjacobkenny commented on #434
How does this look? We can try different variants, one for the daily meetings, and others for discussions, etc.

![youtube](https://user-images.githubusercontent.com/19240564/96879525-c9048300-1499-11eb-81c2-1cd06c57acdf.png)

[2020-10-22 13:46] shekhar10feb opened #458 "How to sync to the main repo from Visual Studio Code?"
Here, I am assuming that you have already connected your **GitHub** account with the **Visual Studio Code**.

**Step 1:** First, Open the folder in **Visual Studio Code**, which is connected to your **GitHub** account.

![Screen1](https://user-images.githubusercontent.com/72906055/96881417-e1759d00-149b-11eb-932f-16e1fd2844c1.JPG)

**Ste 2:** Then, click on the **Source Control** button

![Screen2

[2020-10-22 13:49] Na-ilah commented on #434
This looks, I suggest we move "twindle logo, where beginners contribute to open source " higher and then indent the second text "discussion with Tolga" to differentiate.
Overall, great job ...

[2020-10-22 13:53] proful commented on #434
@johnjacobkenny please implement @Na-ilah suggestions.

Post that kindly apply on YouTube channel.

[2020-10-22 13:57] palashmon commented on #440
In case anyone is working on this issue, please note resolving merge conflicts docs can be found here:

- [Resolving-merge-conflicts Wiki](https://github.com/twindle-co/twindle/wiki/Resolving-merge-conflicts)
- [Twindle Docs](https://github.com/twindle-co/twindle/issues/273)

Hope it helps!

[2020-10-22 14:39] johnjacobkenny commented on #434
@Na-ilah how about now?

![youtube](https://user-images.githubusercontent.com/19240564/96887665-6ebbf000-14a2-11eb-8ab3-49acf42c0b85.png)

[2020-10-22 14:51] Na-ilah commented on #434
This is better. Do you think we should change the font style of the second text "Discussion with  Tolga" ? To make differentiation easier?

[2020-10-22 14:52] johnjacobkenny commented on #434
One problem is that the text isn't constant. Depending on the video title, it could be longer or shorter

[2020-10-22 14:54] Na-ilah commented on #434
Alright... this works anyways :-)

[2020-10-22 14:54] johnjacobkenny commented on #434
@Na-ilah I have tried to set the title for a few videos, just see how it looks. Also please ping me on twitter or discord.

[2020-10-22 14:58] johnjacobkenny commented on #458
Looks good to start with. You can also create an article in `docs/articles` and add a link in the main project readme so that it can be seen on the website.

[2020-10-22 15:03] johnjacobkenny commented on #434
I am sharing the base svg file (https://github.com/twindle-co/twindle/blob/main/assets/youtube.svg) if anyone else would like to give it a try. I am also updating the thumbnails for a few of the videos so that we can get some comments from others.

[2020-10-22 15:06] shekhar10feb commented on #458
Ok, I am doing

[2020-10-22 17:02] tolgaerdonmez commented on #426
Want to create a guide for it ?

[2020-10-23 00:16] frankiefab100 commented on #434
It's okay, submission for new logos is it till going on?

[2020-10-23 01:26] frankiefab100 commented on #4
TWINDLE logo. My entry

![Twindle](https://user-images.githubusercontent.com/46662771/96946006-16531580-14d7-11eb-98ef-2821215af0e7.png)

[2020-10-23 01:57] Yexiansen66 commented on #408
/playground/cli/cli-epub
![61600b28e5326ee71ae6cbe649bfd38](https://user-images.githubusercontent.com/58055517/96947591-2d652800-1516-11eb-8342-1a12a5141861.png)

[2020-10-23 02:38] proful commented on #426
Looking for PR on this?

[2020-10-23 02:46] wgaurav commented on #408
![IMG_20201021_112442](https://user-images.githubusercontent.com/67326005/96950505-18819800-1508-11eb-85c9-94dc6c5233a2.jpg)

[2020-10-23 02:48] johnjacobkenny commented on #406
@arthurbuhl I think the action is working. I didn't make this change yet.

[2020-10-23 02:54] frankiefab100 commented on #184
@proful @sarathkumar6
Here's a UI design I came up with. Constructive criticism and ideas are welcome for further iteration.

![Twindle Landing Page](https://user-images.githubusercontent.com/46662771/96950866-3092f080-14e3-11eb-8cc2-1ba1d401abdf.png)

[2020-10-23 02:59] johnjacobkenny commented on #184
For me it makes sense to merge the how to use and the actual usage into one section so that it is immediately clear to anyone using it. Locality of the instructions and the usage.

[2020-10-23 07:32] teckiegeek opened #466 "Forked copy not updating on website"

[2020-10-23 07:34] teckiegeek opened #467 "Forked copy not updated on website"

[2020-10-23 08:05] praveen2896 opened #469 "Help needed for Code Splitting"
# Want to split the code into small pieces

[https://github.com/twindle-co/twindle/tree/main/playground/cli/json-to-pdf](url)

[2020-10-23 09:07] proful commented on #469
@praveen2896 give more details on what you want other to do

[2020-10-23 09:12] praveen2896 commented on #469
sure  @proful

[2020-10-23 09:19] praveen2896 commented on #469
I put all things like converting tempalte to html ,html to pdf stuffs in just one file [script.js](https://github.com/twindle-co/twindle/blob/main/playground/cli/json-to-pdf/script.js) .

Need suggestions on how to split script.js into small pieces .

![snippet1](https://user-images.githubusercontent.com/20437146/96986179-ee979800-153e-11eb-99bb-64776cd7671c.JPG)

[2020-10-23 09:27] proful commented on #449
done

[2020-10-23 09:27] #449 closed

[2020-10-23 09:37] proful commented on #184
@frankiefab100 [my feedback](https://youtu.be/X2a-gftJRWM)

[2020-10-23 10:12] #466 closed

[2020-10-23 10:12] #467 closed

[2020-10-23 10:29] pranavgoel29 commented on #467
Can you give some more info about the issue.

[2020-10-23 11:25] JoelVinayKumar commented on #184
Are submissions still open ?

[2020-10-23 11:55] vijaya-bhaskar commented on #469
@praveen2896 Lets do this! Ping me in discord.

[2020-10-23 12:02] vasudeveloper001 commented on #184
Yes @JoelVinayKumar. It is still open. Take your time.

[2020-10-23 12:06] shekhar10feb opened #476 "Pull Request Issue"
At the time of PR, there are two checks occur but there is some problem now with the second check. Every time it creates error.
![Pic1](https://user-images.githubusercontent.com/72906055/97000807-ea767500-1554-11eb-9225-ad89b9349cef.JPG)

[2020-10-23 12:10] Mar-code commented on #476
I think the error is because you need 2 approval before your pull request can be accepted

[2020-10-23 12:14] #40 closed

[2020-10-23 12:15] johnjacobkenny commented on #476
This could be caused by the issue in the first interaction action. See issue here actions/first-interaction#23

[2020-10-23 12:16] piratelicorne commented on #73
Hi @vasudeveloper001 do you have a video to upload?

[2020-10-23 12:18] piratelicorne commented on #100
🤔 💭

[2020-10-23 12:21] piratelicorne commented on #114
I can close it hehe.

[2020-10-23 12:21] #114 closed

[2020-10-23 12:22] piratelicorne commented on #144
@jahidhasanlinix was it fix?

[2020-10-23 12:24] #156 closed

[2020-10-23 12:24] #163 closed

[2020-10-23 12:25] piratelicorne commented on #163
closing the issue, but it's referenced in documentation 🏆

[2020-10-23 12:27] piratelicorne commented on #171
🏆

[2020-10-23 12:27] piratelicorne commented on #177
closing the issue because it was referenced in documentation. 🏆

[2020-10-23 12:27] #177 closed

[2020-10-23 12:30] vasudeveloper001 commented on #73
No. I think you uploaded it already. So, I think it's better to close this issue. @piratelicorne

[2020-10-23 12:30] #73 closed

[2020-10-23 12:30] piratelicorne commented on #188
both are cute! 🥳

[2020-10-23 12:34] piratelicorne commented on #233
I tried on my phone, now it looks like normal size :)

[2020-10-23 12:38] johnjacobkenny commented on #233
@piratelicorne are you using the mobile app or the mobile website? For me this is on the app and I am still having it

[2020-10-23 12:40] piratelicorne commented on #253
I saw it's already moved.

[2020-10-23 12:44] piratelicorne commented on #233
I tested on the website (twindle.co) but I just checked in the GitHub mobile app ![image](https://user-images.githubusercontent.com/52439373/97004962-63e57780-1503-11eb-9cf9-29e2b5205d6b.png) and looks good, can you check also the icons in the ONBOARDING.md? Maybe we can use those ones, they are smaller sand I used them from "iconfinder"

[2020-10-23 12:45] JoelVinayKumar commented on #184
https://www.figma.com/file/34YX1uk6ZVhQWVzLyjzUdG/Twindle?node-id=0%3A1

![Home - Light Mode](https://user-images.githubusercontent.com/16177724/97005129-9fac2b80-155b-11eb-981d-fe0a072ffab5.png)
![Team](https://user-images.githubusercontent.com/16177724/97005144-a3d84900-155b-11eb-9440-cd028916485e.png)
![Home - Dark Mode](https://user-images.githubusercontent.com/16177724/97005151-a63aa300-155b-

[2020-10-23 12:47] proful commented on #184
@JoelVinayKumar please watch my feedback for Frankie and update your design on the same line.

Thanks very much for the submissions

[2020-10-23 13:00] piratelicorne commented on #273
Hi @sammjainn  I added the info into the wikipage, I didn't include the videos because they don't cover merge conflicts.

[2020-10-23 13:18] #273 closed

[2020-10-23 13:20] JoelVinayKumar opened #477 "Landing Page Inspiration"
https://www.figma.com/file/34YX1uk6ZVhQWVzLyjzUdG/Twindle?node-id=0%3A1

Team, This issue is to encourage use of figma for our design part and make a thread for landing pages of other websites which we can be inspired.

![Team](https://user-images.githubusercontent.com/16177724/97008553-9b364180-1560-11eb-9029-e735fc0cc9ac.png)
![Team - Dark Mode](https://user-images.githubusercontent.com/16177724

[2020-10-23 14:58] Akshay2996 commented on #477
Amazing work @JoelVinayKumar 🔥. Also look [Dribbble](https://dribbble.com/) for some landing page inspiration. Keep up the good work.

[2020-10-23 15:07] Akshay2996 commented on #417
Hi @techgeek16 Me & @pranavgoel29 both have completed our task in hand. Just upload your image & follow what others are doing. If you have any problem DM me on [Twitter](https://twitter.com/AkshayS2909) regarding it.

[2020-10-23 15:19] johnjacobkenny commented on #477
This is lit 🔥 I'm on board!

[2020-10-23 15:40] Akshay2996 commented on #271
Hi everyone! Sorry I'm a little late. My plan to make a dynamic teams page where the team members update a .js file with their information which I can create & guide them how to edit that file. & then after taking the data another .js file can automatically create a card containing the value of it as shown in the image.

What do you think about this idea @sarathkumar6 @johnjacobkenny @UnevenCoder

[2020-10-23 16:30] ni3-kdm opened #480 "[Documentation]: Pull Request description format"
## Description
- Most of the times issues are linked with pull request but having one line description of task/issue will give quick detailed idea to reviewer/new developer to understand.

## Technical Approach
- What technical approaches followed to implement the task/issue?

## Manual Testing
- Add all the tested scenarios.
- This will give quick overview of covered scenarios to reviewer/new dev

[2020-10-23 16:36] ni3-kdm commented on #480
**_[Note: Add/update missing points]_**

[2020-10-23 16:51] ni3-kdm commented on #271
@Akshay2996  are you planning to generating dynamic html cards from a JSON file in the current implementation?

[2020-10-23 17:09] UnevenCoder commented on #271
I created a simple script to retrieve the pfps and github name s of the
contributors .. will be creating a pr tommorow

Really sorry busy with exam prep , thanks for understanding

On Fri, 23 Oct, 2020, 7:52 PM Nitin Kadam, <notifications@github.com> wrote:

[2020-10-23 17:09] arthurbuhl commented on #480
This template can be use for #101

[2020-10-23 17:15] arthurbuhl commented on #101
@pranavgoel29 any updates related to this? In case you are not working on this, please let us know so that someone else can take it up. Thanks!

[2020-10-23 17:36] arthurbuhl opened #481 "Github action greetings.yml failing for every new PR"
It seems that GitHub action `greetings.yml` has been failing recently for every new PR.

- https://github.com/twindle-co/twindle/pull/468/checks?check_run_id=1296861443
- https://github.com/twindle-co/twindle/pull/475/checks?check_run_id=1298920223
- https://github.com/twindle-co/twindle/pull/471/checks?check_run_id=1296984147

This might be related to https://github.com/actions/first-interaction/

[2020-10-23 18:04] piratelicorne commented on #209
@naveenkala was this added?

[2020-10-23 18:05] Akshay2996 commented on #481
@johnjacobkenny see this issue because @ni3-kdm also raised this issue & I also did some research on it & found out it's the problem from the main script from which we are taking this script.

[2020-10-23 18:11] Akshay2996 commented on #271
I have created a person.js file which will contain all the information of the team in one big object just like JSON.

My plan so far -:
- Import **person.js** file to **team_details.js** file
- **team_details** will create a card based on the specification of **person.js**
- Our team members will only update **person.js** file which is just an Object file in a variable.

[2020-10-23 18:12] Akshay2996 commented on #271
PS: I have the format ready for the **person.js** file

[2020-10-23 18:17] Akshay2996 commented on #481
One solution I found is to use this greeting message bot which is available on [Github](https://github.com/kaxil/boring-cyborg)

Do see if it's working if any of you have the time?

[2020-10-23 18:21] frankiefab100 commented on #184
@proful how do you see this new design?

![Twindle Landing Short(1)](https://user-images.githubusercontent.com/46662771/97039751-d175c000-1564-11eb-81c9-85e92ebe9a58.jpg)

[2020-10-23 20:36] pranavgoel29 opened #483 "Remove Capture.PNG from the main folder"
There is a file named Capture.PNG which I think someone mistakenly added to the twindle folder.
Please remove the Capture.PNG from the main folder and close this issue after solving it.

[2020-10-23 22:56] sarathkumar6 commented on #188
@niveth09 @tusharkandpal Good job on the banner. A few things to consider when designing banner or logo are the banner or logo play a vital role in the branding of the product and helps to market it better. Here are some useful links to come up with better color creativity to apply on the thoughts. Please give it a read. @frankiefab100  Let me know your thoughts as a Visual Designer.

https://blog

[2020-10-23 22:58] sarathkumar6 commented on #469
@praveen2896 Feel free to reach out to me to file scaffolding.

[2020-10-23 23:04] frankiefab100 commented on #188
@sarathkumar6 that's definitely true. I will submit my own design soon.

[2020-10-23 23:04] sarathkumar6 commented on #420
@johnjacobkenny I concur with you. The 5 whys is a blanket rule that could be applied any a problem of varied complexity. Instead of just bandwagoning, should ask why do we want to use a particular tech and what are we trying to achieve is important.

Recently, big banking companies i.e., Bank Of America announced that they're building their db using NoSQL (MongoDB) to leverage the performance. No

[2020-10-23 23:36] Mar-code commented on #477
This is dope.  I can implement this design with React

[2020-10-24 00:31] proful commented on #481
Raise a PR to disable /remove it temporaril.

[2020-10-24 00:32] Mira-Alf opened #485 "One of the Github actions are failing - Important - Disable or remove the Github action Greeting"
I noticed that one of the action checks greeting was failing. I am not familiar with Github actions/workflow. But I was trying to look at the logs to see what changed between when it was working and failing

When actions were successful:
![image](https://user-images.githubusercontent.com/64691316/97063555-05310400-15be-11eb-9824-c8ad8244f98b.png)

When actions began failing:
![image](https://user-

[2020-10-24 00:35] Mira-Alf commented on #485
Okay now I feel foolish - even without the checks passing, PRs are being approved and being merged. So yes if it is not that critical, we can let it go. But I was curious as to why it was failing. If someone finds the solution and why the checks were not passing, please mention it as a comment on this issue. And close this issue. Thanks guys!

[2020-10-24 02:35] proful commented on #485
@Mira-Alf why can't we remove the file @johnjacobkenny

[2020-10-24 02:38] proful commented on #271
@Akshay2996 very good. I like the approach you are taking.

[2020-10-24 02:40] proful commented on #480
@ni3-kdm perfect initiative

[2020-10-24 03:00] johnjacobkenny opened #487 "Watch "GitHub Actions Tutorial - Basic Concepts and CI/CD Pipeline with Docker" on YouTube"
https://youtu.be/R8_veQiYBjI

[2020-10-24 03:14] naveenkala commented on #209
PR #488

[2020-10-24 03:54] #476 closed

[2020-10-24 03:54] #481 closed

[2020-10-24 03:54] #485 closed

[2020-10-24 03:56] #483 closed

[2020-10-24 05:14] vasudeveloper001 commented on #477
@Mar-code We are not using React or any big library. Just plain HTML, CSS, and JavaScript.

[2020-10-24 06:27] palashmon opened #492 "[Tip] Add your GitHub Profile image"
### Get your GitHub Profile image

- You can easily add your GitHub profile image without uploading any images to local `/docs/images/team`, by appending `.png` to the URL of your GitHub's profile to get redirected to your avatar. So, if your GitHub profile url is like `https://github.com/proful` for example, then you can get your avatar using `https://github.com/proful.png`, just adding `.png` at

[2020-10-24 06:40] pranavgoel29 opened #493 "Remove duplicate table from 'TEAM.md' file"
There is an duplicate table in TEAM.md file please remove it.

![image](https://user-images.githubusercontent.com/48860494/97070882-6d510b80-15f9-11eb-936c-11967e760815.png)

![image](https://user-images.githubusercontent.com/48860494/97070876-62967680-15f9-11eb-893e-864af032d66e.png)

[2020-10-24 07:04] pranavgoel29 commented on #101
I was a bit busy last week because of my college work😅, but now I am working on it.😄

[2020-10-24 07:06] niveth09 commented on #188
![We are launching](https://user-images.githubusercontent.com/19762119/97070310-f7e33c00-15f4-11eb-9715-7499c344bb4d.png)

[2020-10-24 07:10] vasudeveloper001 commented on #184
This is the pre-launch design for landing page. I have changed the background and removed the different color variation for header, footer, main section banner and other sort of design for starters. It's just one color theme layout.

The highlighted menu will be in white color. The rest in light variant of background color. The circle is there as a placeholder for logo. I think we should go with l

[2020-10-24 08:01] pranavgoel29 commented on #101
## check these and tell me is there anything else which we can add ?

![image](https://user-images.githubusercontent.com/48860494/97071308-1f3e0700-15fd-11eb-8075-7e84c04830fc.png)

[2020-10-24 08:20] arthurbuhl commented on #101
This looks good to me. Let get this rolling and we will keep updating it as needed.

[2020-10-24 08:21] pranavgoel29 commented on #101
Ok making a PR now

[2020-10-24 08:23] JoelVinayKumar commented on #188
Hi @niveth09  your first iteration looks very fabulous. Bright colours always inspire a person. My only suggestion is to stick to Blue theme so that we are close to Twitter

[2020-10-24 09:02] niveth09 commented on #188
Thank you @JoelVinayKumar  for the compliment. I have tried the blue theme.
![Untitled design (10)](https://user-images.githubusercontent.com/19762119/97077826-7a272c80-1604-11eb-864b-8bfd64193479.png)

[2020-10-24 09:47] #493 closed

[2020-10-24 11:08] frankiefab100 commented on #188
![Twindle Twitter cover](https://user-images.githubusercontent.com/46662771/97080193-9077bd00-15f1-11eb-9e77-092dbe8fd16e.jpg)

[2020-10-24 12:00] Akshay2996 commented on #492
Hi @palashmon many people don't have an Image on **Github** that is why there is an alternative approach taken.

I also think that Github images should be the way to do because we don't need to create a specific folder for the images and keep it in our repo.

What do you think about this @proful should we use this way given to us?

[2020-10-24 12:08] proful commented on #492
For team.md it is not necessary as we are adding image for learning purpose and to experience merge conflicts.

However you can use this approach to the team page you are building.

[2020-10-24 13:10] arthurbuhl commented on #492
I think this is a amazing tip to know as a beginners, as we can now use this approach as a fallback image for all the users until they can upload main image to the local or incase they don't want to upload the same image they already have in GitHub profile. Also, this tip can be used for any future projects by the beginners while they are building something related to GitHub Api/profile.

[2020-10-24 14:21] JoelVinayKumar commented on #188
Great update @niveth09

[2020-10-24 15:36] #101 closed

[2020-10-24 17:43] vasudeveloper001 commented on #184
## Modified Design with font changed to Open Sans:

### Post-Launch Design
![Post-Launch Modifed Design](https://user-images.githubusercontent.com/56103269/97088437-761ffc80-164e-11eb-8b6c-a04aebadda50.png)

### Pre-Launch Design
![Pre-Launch Modified Design](https://user-images.githubusercontent.com/56103269/97088438-77e9c000-164e-11eb-9d3b-0e34c031d6d9.png)

[2020-10-24 21:35] Mar-code commented on #477
Ohh,  alright that makes sense.

[2020-10-25 02:58] shekhar10feb commented on #188
Thank you for sharing this and these banners are looking great

[2020-10-25 04:27] niveth09 commented on #4
![download (11)](https://user-images.githubusercontent.com/19762119/97098909-56b5bd80-16a8-11eb-8e78-698d5cf2363a.png)

[2020-10-25 04:29] #209 closed

[2020-10-25 05:13] JoelVinayKumar commented on #477
This is very light-weight UI. Doesn't take much to code in HTML or CSS.

[2020-10-25 07:37] niveth09 commented on #188
![download (13)](https://user-images.githubusercontent.com/19762119/97101175-275f7a80-16c1-11eb-841e-4e46fe705eb0.png)

[2020-10-25 07:48] shekhar10feb commented on #188
![Frame 2](https://user-images.githubusercontent.com/72906055/97101550-84106480-16c4-11eb-81a4-6fbd410ddaa7.png)

[2020-10-25 09:01] shekhar10feb commented on #188
![Frame1](https://user-images.githubusercontent.com/72906055/97102816-98595f00-16ce-11eb-8c37-4abf36bcb118.JPG)

[2020-10-25 09:30] shekhar10feb commented on #188
![aBanner](https://user-images.githubusercontent.com/72906055/97103494-d8badc00-16d2-11eb-97b9-b64267d048fc.png)

[2020-10-25 09:38] shekhar10feb commented on #188
![aBanner](https://user-images.githubusercontent.com/72906055/97103665-e3c23c00-16d3-11eb-963e-b2293256c21d.png)

[2020-10-25 11:29] #458 closed

[2020-10-25 12:18] aesthytik commented on #4
good one nivetha. unique and creative 👌🏻

[2020-10-25 12:55] niveth09 commented on #4
Thanks a lot @aesthytik 😄

[2020-10-25 17:05] Na-ilah commented on #434
I tried a new design for the thumbnail please check it out and give recommendations

![youtube_thumbnail](https://user-images.githubusercontent.com/29338040/97113731-930b0d00-16ec-11eb-8c8f-eb657cb0560a.png)

[2020-10-25 17:15] chiomavera commented on #434
Arrangement are good but I think I prefer the previous color. I suggest that this current arrangement of text is use with the previous color.

[2020-10-25 17:16] chiomavera commented on #434
Arrangement are good but I think I prefer the previous color. I suggest that this current arrangement of text is use with the previous color.

[2020-10-25 17:33] Na-ilah commented on #434
@chiomavera how about now?
![youtube_thumbnail2](https://user-images.githubusercontent.com/29338040/97114379-7cff4b80-16f0-11eb-8c3f-7ff0e38f51f3.png)

[2020-10-26 02:43] sarathkumar6 commented on #184
@vasudeveloper001 Appreciate the thought  of providing the option i.e., pdf in the post-launch UI.

[2020-10-26 02:49] johnjacobkenny commented on #434
@Na-ilah try to make the text for all the types of combinations on YouTube e.g. discussion, daily meeting, etc.

And just fyi the reason I made "where" and "contribute to" in a softer and lighter font is because that is not very important in that phrase. The important part is made intentionally bigger and more prominent esp with the choice of colors.

If anyone else has thoughts on these designs p

[2020-10-26 02:53] vasudeveloper001 commented on #184
@sarathkumar6 It's something @JoelVinayKumar did in his first design. I simply applied it in mine as well.

[2020-10-26 03:46] proful opened #505 "Create twindle-cli project under playground/cli"
![image](https://user-images.githubusercontent.com/354596/97132034-d66f8500-1799-11eb-9bb2-a93fbb4e83f9.png)

- copy the pdf program here
- copy the epub program here
- copy the MD program here
- copy the CLI program here

[2020-10-26 03:48] #14 closed

[2020-10-26 03:49] proful commented on #33
@Mira-Alf @ad3rinto comments?

[2020-10-26 03:50] proful commented on #41
It should be closed?

[2020-10-26 03:50] proful commented on #119
@pranavgoel29 any update?

[2020-10-26 04:47] pranavgoel29 commented on #119
@proful will share it today today

[2020-10-26 05:48] johnjacobkenny opened #506 "Article on publishing a package to npm"
Might be interesting for anyone wanting to try out publishing to npm. Anyone can do this, just need an npm account!

https://zellwk.com/blog/publish-to-npm/

[2020-10-26 10:34] proful commented on #477
https://dribbble.com/shots/13955707-Candidate

https://dribbble.com/shots/14267126-Travel-Landing-Page-UX-UI-Design

https://dribbble.com/shots/14375856-landing-page-homepage

https://dribbble.com/shots/14359951-Fitness-Landing-Page

https://dribbble.com/shots/13934987-Ekokubki-Landing-Page

https://dribbble.com/shots/13023346-AI-Dashboard-Website-Design

https://dribbble.com/shots/14241343-market

[2020-10-26 12:00] JoelVinayKumar commented on #4
Thus can't be any better 😍

[2020-10-26 12:03] vasudeveloper001 opened #509 "Vote for Alpha Version of Design for Landing Page"
This is the issue thread where we will be voting for the alpha version of design for landing page. Post the screenshots of your design here to put it up for voting, so that we can start with front-end landing coding for demo product from next week to work on.

The aim is to start the synchronous working on single codebase from next week so must choose a bare minimum common design and proceed with

[2020-10-26 12:07] vasudeveloper001 commented on #509
**vasudeveloper001 design for pre-launch and post-launch landing page**

**Pre-Launch Landing Page**
![vasudeveloper001-pre-launch](https://user-images.githubusercontent.com/56103269/97170577-ef843000-17b1-11eb-8b39-27e7e847e107.png)

**Post-Launch Landing Page**
![vasudeveloper001-post-launch](https://user-images.githubusercontent.com/56103269/97170585-f317b700-17b1-11eb-9670-351e2137c9f7.png)

[2020-10-26 12:08] vasudeveloper001 commented on #509
**Design Submitted by @frankiefab100 **

![frankiefab100](https://user-images.githubusercontent.com/56103269/97170653-12164900-17b2-11eb-9d92-4ac92bcb1571.png)

[2020-10-26 12:09] vasudeveloper001 commented on #509
**Design by @JoelVinayKumar**

![JoelVinayKumar](https://user-images.githubusercontent.com/56103269/97170752-383be900-17b2-11eb-8642-cc9445a9f1af.jpg)

[2020-10-26 12:12] johnjacobkenny commented on #33
@Mira-Alf Could you share your thoughts about doing the same with the v1 API? I think you mentioned some limitation during our call.

[2020-10-26 12:22] niveth09 commented on #4
Thanks @JoelVinayKumar

[2020-10-26 12:27] JoelVinayKumar commented on #509
@vasudeveloper001  This is not my design. Mine is here:
https://www.figma.com/file/34YX1uk6ZVhQWVzLyjzUdG/Twindle?node-id=0%3A1

[2020-10-26 12:30] proful opened #511 "Spike Twitter api fetch tweets"
Write a hello world program for fetching tweets.

Use v1 or v2.

Try not to use any node module. Also don't commit twitter API key!!

Bonus points after the minimum implementation --> cli with arguments
1. the API key
1. the thread URL

[2020-10-26 12:33] piratelicorne commented on #417
@lorennaleon @GorettiRivera :)

[2020-10-26 12:38] proful commented on #4
Any logo with out bird symbol.

No need to inspire by Twitter.

I want the logo to based on beginner, team, collaboration, learning theme.

No text. Minimal shapes.

[2020-10-26 12:54] vasudeveloper001 commented on #509
Ok. Please paste the screenshots here or figma link is fine as well

[2020-10-26 14:37] Sheetal777 commented on #4
Find me [Sheetal](https://twitter.com/_sheetal_p)
![twi(7)](https://user-images.githubusercontent.com/52107802/97186071-d9cd3580-17c6-11eb-9290-4ad46991f1eb.png)

[2020-10-26 14:46] johnjacobkenny commented on #233
Those are slightly larger than the ones we have here, but yeah maybe we could look at something like that, or simply resize the files.

And I think this could be a GitHub android issue since you don't have the issue in iOS

[2020-10-26 14:48] johnjacobkenny commented on #41
#450 if anyone picks up can close both issues

[2020-10-26 14:53] Sheetal777 commented on #4
Logo #4 by [Sheetal](https://twitter.com/_sheetal_p)
![twi(8)](https://user-images.githubusercontent.com/52107802/97188022-10a44b00-17c9-11eb-9c1d-93a983ae0c27.png)

[2020-10-26 14:54] Sheetal777 commented on #4
Logo #4 by [Sheetal](https://twitter.com/_sheetal_p)
![twi(8)](https://user-images.githubusercontent.com/52107802/97188207-477a6100-17c9-11eb-9945-bde6f78a8966.png)

[2020-10-26 14:58] Sheetal777 commented on #4
Logo #4 by [Sheetal](https://twitter.com/_sheetal_p)
![twi new](https://user-images.githubusercontent.com/52107802/97188648-c1124f00-17c9-11eb-8b02-00eb6cf9d598.png)

[2020-10-26 15:16] piratelicorne commented on #233
What about this?

![image](https://user-images.githubusercontent.com/52439373/97190887-479c4180-1774-11eb-9087-01d530109b7a.png)

[2020-10-26 16:14] Mira-Alf commented on #33
Hey guys, sorry I missed the call today. But I have looked at both versions and here are some of my random thoughts:
V1.1
a) From User Timeline
https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=AparnaSailam&since_id=1320717265717719041
default count is 20 and max is 200 for standard account - maybe for premium it is different

b) From Search Endpoint
https://api.twitter.com/1.1/s

[2020-10-27 01:58] michaelcosj commented on #505
I'll like to take this up

[2020-10-27 04:50] madhusudanbabar commented on #233
Yeah, it's actually on android app only, i reported this issue [here](https://github.com/github/feedback/discussions/14#discussioncomment-110071), they will work on it in future but till then we can go with resized images.

[2020-10-27 06:37] johnjacobkenny commented on #511
Anyone taking this up can take a look at `https://github.com/twindle-co/twindle/tree/main/playground/mock` for some useful content

[2020-10-27 06:41] piratelicorne commented on #408
`/playground/cli/cli-epub`
<img width="1083" alt="Screen Shot 2020-10-27 at 01 35 48" src="https://user-images.githubusercontent.com/52439373/97265496-bfaa4c00-17f4-11eb-95d7-a4accdb4364a.png">

`/playground/cli/json-to-pdf-cli/` ⚠️  this route changed
<img width="1024" alt="Screen Shot 2020-10-27 at 01 41 11" src="https://user-images.githubusercontent.com/52439373/97265941-81615c80-17f5-11eb-85f8

[2020-10-27 08:06] niveth09 commented on #4
![Background](https://user-images.githubusercontent.com/19762119/97270944-f19fca80-1855-11eb-9858-7f030de23aba.png)

[2020-10-27 08:16] Na-ilah commented on #434
![How to files](https://user-images.githubusercontent.com/29338040/97274467-fbfd9c80-1834-11eb-8920-e234dc14b629.png)
![madhu](https://user-images.githubusercontent.com/29338040/97274468-fd2ec980-1834-11eb-89b0-721583797b92.png)
![daily call](https://user-images.githubusercontent.com/29338040/97274474-fe5ff680-1834-11eb-9770-8dc4f20eb739.png)
@johnjacobkenny here are some sample files for the thre

[2020-10-27 08:50] johnjacobkenny commented on #233
Great! So then I think we can use what @piratelicorne has implemented.

[2020-10-27 12:07] Mira-Alf commented on #511
Michael and i are working on this.

[2020-10-27 12:15] johnjacobkenny opened #526 "Github pages build is not working"
![image](https://user-images.githubusercontent.com/19240564/97300228-2e7eb800-187c-11eb-9303-800e825739d4.png)

[2020-10-27 13:17] proful commented on #505
@vijaya-bhaskar @johnjacobkenny this task is going to be important to encourage everyone to work together.

[2020-10-27 14:19] johnjacobkenny commented on #434
@Na-ilah Looks good!

@proful I have a silly idea, which could be added to twindle-scripts. Do you want to create any automation (maybe a cli) for generating these types of images so that you can just run the cli to generate the custom image, so that anyone who is creating the youtube video can have the consistent logo.

[2020-10-27 14:22] Na-ilah commented on #434
Thanks for the coaching @johnjacobkenny  😃

[2020-10-27 14:22] johnjacobkenny commented on #505
@proful yes I agree! :partying_face:

@michaelcosj let's get the minimum out and then we can organize and split some tasks for others

[2020-10-27 14:22] pranavgoel29 commented on #119
![Artboard – 1](https://user-images.githubusercontent.com/48860494/97314625-e799be00-188d-11eb-9165-268143e202f2.png)

How it is?

@proful @johnjacobkenny @sarathkumar6 @piratelicorne

[2020-10-27 14:25] shekhar10feb commented on #119
That's great!!

[2020-10-27 14:28] pranavgoel29 commented on #119
Thank you 😄

[2020-10-27 14:36] johnjacobkenny commented on #119
Looks good. And I suppose that once the branding is done, we would be able to finalize on the colors, but overall design is good.

[2020-10-27 14:52] pranavgoel29 commented on #119
Ok 🤗

[2020-10-27 16:14] piratelicorne opened #531 "Create Team and their tasks"
**Currently members**
- [x] Mentors selection.
- [ ] Make Teams of 15 +-  members, this will give better view for management.
- [ ] Set tasks for every teams, could be similar tasks for each team.
- [ ] Create activities as live sessions or videos according to topics.

**Newcomers**
Update the ONBOARDING with:
- [ ] Set a group of people that will be available to be contacted and give an introduct

[2020-10-27 16:15] RafaelBatman55 commented on #477
I loved your 'dark mode' icon!

[2020-10-27 17:50] arthurbuhl opened #533 "Inconsistent Image widths in TEAM.md"
## Description

Image widths and height are not consistent for everyone in **TEAM.md** file. Images are set to different sizes like 100, 60, 80px. We need to maintain some consistency here and just use one resolution for all the images.

**My vote is for**: 80x80 px (_as most images are set to this resolution_).

Please let discuss on this and come to a conclusion and then someone can make a PR to

[2020-10-27 21:52] proful commented on #434
There are 4 to 5 already have access. I don't mind to add if anyone is interested.

[2020-10-28 00:03] RafaelBatman55 commented on #533
I agree with your suggestion. 80x80px is enough to recognize our pretty faces. 🤣

I can be resposible for this PR after more people discuss here btw

[2020-10-28 00:04] proful commented on #533
Agree for 80x80 px

[2020-10-28 00:05] michaelcosj commented on #505
@johnjacobkenny
I just sent in a PR #536
I created the twindle-cli folder in playground/cli and added the folders into it

[2020-10-28 00:10] proful commented on #505
Please don't close this issue. Next step is to copy other relevant code here.

[2020-10-28 05:18] arthurbuhl commented on #533
@twindle-co/developer: Please everyone cast your vote, whenever you are free once.

@RafaelBatman55: Sure will assign the issue to you once the discussion is over.

Thanks.

[2020-10-28 05:28] johnjacobkenny commented on #533
Yes I agree too

[2020-10-28 05:34] sippeybro commented on #434
Size?

[2020-10-28 05:44] johnjacobkenny commented on #434
@sippeybro this is about the static thumbnail for youtube video. We are not yet into creating an intro sequence within the video. If you'd like to may create an issue for that :partying_face:

[2020-10-28 05:44] johnjacobkenny commented on #33
Good job @Mira-Alf :partying_face:

[2020-10-28 05:45] johnjacobkenny commented on #253
Great!

[2020-10-28 05:45] #253 closed

[2020-10-28 06:28] naveenkala commented on #533
I agree too.

[2020-10-28 06:30] johnjacobkenny commented on #188
@shekhar10feb interesting design :smiley:

[2020-10-28 06:30] johnjacobkenny commented on #144
Will close for now, @jahidhasanlinix please reopen if issue persists.

[2020-10-28 06:30] #144 closed

[2020-10-28 06:31] Neaz-Mahmood commented on #533
80 x 80 looks good

[2020-10-28 07:23] EYRAM565 commented on #533
80 x 80

[2020-10-28 10:18] ad3rinto opened #541 "Demonstration: HTML & CSS demo for newbies"
Challenge: Newbies may get lost in the amount of work that is on going and feel unable to contribute

This demonstration is an online session performed by a developer to walk beginners through the HTML and CSS codes of the agreed user interface ( or any of the options) so that beginners understand a bit more how the code translates to the visual representation.

This session will be:

1. Recorded

[2020-10-28 10:18] shekhar10feb commented on #188
Thank you :)

[2020-10-28 11:29] geowen74 commented on #541
thanks but what time is it

[2020-10-28 11:59] piratelicorne commented on #541
🙋🏽‍♀️

[2020-10-28 12:02] proful commented on #541
Shekhar Ranjan -- HTML
Melissa - CSS
tr0mbley - JavaScript
Nitin Kadam - HTML, CSS, JS, Git

[2020-10-28 12:09] piratelicorne commented on #531
We have mentors! 🥳

HTML & CSS
-------------
Sarath
Vijaya Bhaskar
Melissa

JavaScript
-------------
Kenny
Mira Alfassa
Vijaya Bhaskar

[2020-10-28 12:17] ni3-kdm opened #542 "[Feature]: Localization"
Our application will going to spread world wide, so it's better we can support for localization. It's mandatory feature in the most of the web applications.

[2020-10-28 16:54] praveen2896 commented on #506
I created one sample package in npm - lucifier-package , thanks @johnjacobkenny

[2020-10-28 21:07] teckiegeek commented on #541
I'm sorry I'm just reading this message and I'm currently on a very tight schedule. I've never done a video but I will find time to do one soon.

[2020-10-29 00:48] proful opened #546 "Copy code from playground/cli/spike/twindle-cli-node to playground/cli/twindle-cli/index.js"
- copy program & run it

`node twindle --thread-id <thread/conversation id> -o <file type>`

[2020-10-29 00:50] proful opened #547 "Copy playground/cli/spike/twitter-api/ to playground/cli/twindlle-cli/twitter"
Copy playground/cli/spike/twitter-api/ to playground/cli/twindlle-cli/twitter

[2020-10-29 00:51] proful opened #548 "Copy playground/cli/spike/cli-epub to playground/cli/twindle-cli/epub"
Copy playground/cli/spike/cli-epub to playground/cli/twindle-cli/epub

[2020-10-29 00:53] proful opened #549 "Copy playground/cli/spike/pdf-from-html-cli/ to playground/cli/twindle-cli/pdf/"
Copy playground/cli/spike/pdf-from-html-cli/ to playground/cli/twindle-cli/pdf/

[2020-10-29 01:43] proful commented on #167
@johnjacobkenny documentation related thing can be moved to appropriate file under docs & this issue can be closed.

[2020-10-29 01:43] proful commented on #41
@johnjacobkenny documentation related thing can be moved to appropriate file under docs & this issue can be closed.

[2020-10-29 01:44] Mira-Alf opened #552 "Improving Twitter API Integration Code - Handling Error Scenarios"
- Handling error scenarios -
Timeout Errors, 400/401 Authorization issues, Older than 7 days tweet issues
- Migrate to ES6 - code looks cluttered with require and module.exports syntax - would be better to use import and export keywords - how to test on node.js using the ES6 keywords? I am no JS expert
- Need to check if newer tweets are available - to update the thread?? track the tweet_id of the

[2020-10-29 01:45] proful commented on #552
@Mira-Alf please create multiple issues

[2020-10-29 01:57] johnjacobkenny commented on #41
I'll close this since there is another issue to add it to docs #450

[2020-10-29 01:57] #41 closed

[2020-10-29 02:00] praveen2896 commented on #450
I take this one @johnjacobkenny

[2020-10-29 02:16] #167 closed

[2020-10-29 02:16] johnjacobkenny commented on #167
Thanks @piratelicorne

[2020-10-29 03:22] RafaelBatman55 commented on #533
PR #553 created!

Please review! I'm not sure if Intermediate group images were all changed.

[2020-10-29 04:56] Akshay2996 commented on #531
I can also mentor people with HTML & CSS @piratelicorne

[2020-10-29 05:03] johnjacobkenny commented on #531
And I think @JoelVinayKumar also volunteered

[2020-10-29 05:43] Mira-Alf commented on #552
Possible error scenarios:

1. Timeout Errors due to connectivity issues
2. 400/401 responses - possible reasons are Authorization issue, incorrect tweet id or user handle, tweet deleted and so on.
3. Older than 7 days tweet issues - incomplete set of tweets will be returned in the thread

What should we do in each of the scenarios in the code? Code should be updated accordingly.

[2020-10-29 05:50] Mira-Alf opened #554 "Improving Twitter API Integration Code - Javascript coding standards"
### #Migrate to ES6? Necessary?
* Current code looks cluttered with require and module.exports syntax. Would it be better to use import and export keywords?
* How to test on node.js using the ES6 keywords - import and export? I am no JS expert. but arrow functions seems to work so only certain ES6 features dont work in NodeJS -
* The above point can be of low priority but we need to establish some

[2020-10-29 05:54] Mira-Alf opened #555 "Improving Twitter API Integration Code - Updating an existing thread feature?"
### Updating an existing tweet thread
We will not probably need this. But I want to cover this scenario in case a future need arises.
Easy enough to accomplish this by tracking the tweet_id and conversation_id in the custom twitter response that we create for pdf rendering.
So given a conversation_id, we need to find tweets later than a specific tweet_id. We may need to modify the twit_thread.json

[2020-10-29 06:30] vasudeveloper001 commented on #541
This will be helpful for someone like me who is new to open source

[2020-10-29 06:51] arthurbuhl commented on #554
I am not sure if we should include ES6 and the async/await calls for this project at the moment, as this is a project for the beginners and most of them might not be familiar with some of the syntax & advanced concepts. Let's work with vanilla javascript for now and try to make the code work first for now. Once done we can work on incrementally updating the code to ES6 so that everyone can underst

[2020-10-29 07:52] arthurbuhl commented on #511
We can also use [dotenv](https://www.npmjs.com/package/dotenv) package to create environment variables and hide the API keys.

Here is great [blog post](https://medium.com/@thejasonfile/using-dotenv-package-to-create-environment-variables-33da4ac4ea8f) regarding it. Thanks.

[2020-10-29 11:26] johnjacobkenny commented on #511
Nice quick blog post!

[2020-10-29 12:38] piratelicorne commented on #531
I added you :) thank you!

[2020-10-29 14:15] lh536 commented on #531
@piratelicorne how can I join a team?

[2020-10-29 16:36] Mira-Alf opened #558 "Help figuring out how to use prettier?"
If I want to enforce the coding style listed in prettierrc what steps should I follow?
* Do npm install all the eslint dependencies listed in package.json. ( 8 packages )
* How should I use the fix feature? Any examples will be appreciated. I tried looking at the documentation page:
[Documentation for prettier-eslint](https://www.npmjs.com/package/prettier-eslint)

Any small pointers will be appre

[2020-10-29 17:16] Akshay2996 commented on #558
@Mira-Alf I am unable to grasp the overall question you are conveying here but based on my understanding here is the solution.

- If you are using **VS Code** you can install the extension **Prettier** which will handle the rest for you.

Feel free to follow on regarding the issue at hand. And also post this issue in the twitter & discord channel too.

[2020-10-29 17:18] #427 closed

[2020-10-29 17:31] Akshay2996 commented on #441
@johnjacobkenny Based on my search regarding this issue I couldn't find anything but I will list some resources where we might be able to figure something out.

**Resource**
- [Github Actions Workflow Syntax](https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions)
- [Github Actions Official Docs](https://docs.github.com/en/free-pro-team@latest/actions)

[2020-10-29 17:53] arthurbuhl commented on #558
I think we will need a documentation and YouTube videos mentioning all the steps of Eslint & prettier setup using VS Code soon, otherwise it might become a difficult tool to implement for the beginners.

[2020-10-29 17:55] Akshay2996 commented on #271
Till now I have created persons.js file with the specific format. Below is the screenshot with the format that I think will be great for the card.

![image](https://user-images.githubusercontent.com/37118877/97612589-9f210280-1a3d-11eb-955b-7377348a2e3d.png)

Please do tell me if any changes are needed in the format @proful @sarathkumar6 @johnjacobkenny @ni3-kdm @UnevenCoder

PS: If any of you wou

[2020-10-29 18:06] JoelVinayKumar commented on #554
But, I recommend mentoring on adhering to some coding standards. This will be very useful to the beginners. But, I'm worried it might discourage some to withdraw if they cannot cope

[2020-10-29 20:48] pranavgoel29 commented on #477
I am late for this but here is my design. 😅

![Web 1920 – 1](https://user-images.githubusercontent.com/48860494/97630867-2b3f2400-1a56-11eb-9da7-a68c12dbdf44.png)
![Web 1920 – 2](https://user-images.githubusercontent.com/48860494/97630869-2d08e780-1a56-11eb-8b37-3751b6153c9b.png)
![Web 1920 – 3](https://user-images.githubusercontent.com/48860494/97630875-2e3a1480-1a56-11eb-846c-2844f81e95aa.png)
!

[2020-10-29 20:50] pranavgoel29 commented on #477
I am late for this but here is my design. 😅

![Web 1920 – 1](https://user-images.githubusercontent.com/48860494/97630867-2b3f2400-1a56-11eb-9da7-a68c12dbdf44.png)
![Web 1920 – 2](https://user-images.githubusercontent.com/48860494/97630869-2d08e780-1a56-11eb-8b37-3751b6153c9b.png)
![Web 1920 – 3](https://user-images.githubusercontent.com/48860494/97630875-2e3a1480-1a56-11eb-846c-2844f81e95aa.png)
!

[2020-10-30 07:18] ni3-kdm commented on #271
@Akshay2996 ping me on discord for any help.

[2020-10-30 09:53] proful commented on #271
looks good @Akshay2996

[2020-10-30 11:37] pranavgoel29 commented on #477
Updated the colours.

![Web 1920 – 1](https://user-images.githubusercontent.com/48860494/97700767-5ff0c100-1ad2-11eb-9bd7-fd4b297f031d.png)
![Web 1920 – 2](https://user-images.githubusercontent.com/48860494/97700783-64b57500-1ad2-11eb-967a-f2d0899efc08.png)
![Web 1920 – 3](https://user-images.githubusercontent.com/48860494/97700785-65e6a200-1ad2-11eb-969c-10da710f5067.png)
![Web 1920 – 4](https://

[2020-10-30 11:48] pranavgoel29 commented on #477
Updated colours

![Web 1920 – 1](https://user-images.githubusercontent.com/48860494/97701717-dc37d400-1ad3-11eb-8892-f9d6f544a3e0.png)
![Web 1920 – 2](https://user-images.githubusercontent.com/48860494/97701721-de019780-1ad3-11eb-8e0d-b89fef1bdb66.png)
![Web 1920 – 3](https://user-images.githubusercontent.com/48860494/97701723-de9a2e00-1ad3-11eb-8657-6018ba56eae4.png)
![Web 1920 – 4](https://user-

[2020-10-30 13:44] johnjacobkenny commented on #441
@Akshay2996 actually for this use case it was a text string change that was needed, which I left open to anyone else interested in giving it a try. Hence the labels `good first issue` and `help wanted`.

And I had made the change some time in between and forgot to update here! Sorry!

[2020-10-30 13:44] #441 closed

[2020-10-30 13:46] johnjacobkenny commented on #271
Good work @Akshay2996

[2020-10-30 19:20] Akshay2996 commented on #441
No problem @johnjacobkenny Atleast I got to look at what Github actions are & will definitely try to learn & understand them for the future.

[2020-10-30 19:22] Akshay2996 commented on #271
Sure @ni3-kdm Will do. Been busy with other work & personal life that is why I couldn't connect with anyone recently. But once I get back will surely do connect with you.

[2020-10-31 00:26] proful commented on #549
done

[2020-10-31 00:26] #549 closed

[2020-10-31 00:26] proful commented on #548
done

[2020-10-31 00:26] #548 closed

[2020-10-31 00:26] proful commented on #547
done

[2020-10-31 00:26] #547 closed

[2020-10-31 00:26] proful commented on #546
done

[2020-10-31 00:26] #546 closed

[2020-10-31 00:27] proful commented on #33
done

[2020-10-31 00:27] #33 closed

[2020-10-31 00:27] proful commented on #100
defferred

[2020-10-31 00:27] #100 closed

[2020-10-31 00:28] proful commented on #103
in the future, it can be re-opened.

Now cleaning up issues.

[2020-10-31 00:28] #103 closed

[2020-10-31 00:28] proful commented on #119
YT banner is good

[2020-10-31 00:28] #119 closed

[2020-10-31 00:29] proful commented on #171
The manual process is good enough

in the future, it can be re-opened.

Now cleaning up issues.

[2020-10-31 00:29] #171 closed

[2020-10-31 00:29] proful commented on #187
in the future, it can be re-opened.

Now cleaning up issues.

[2020-10-31 00:29] #187 closed

[2020-10-31 00:29] proful commented on #188
in the future, it can be re-opened.

Now cleaning up issues.

[2020-10-31 00:29] #188 closed

[2020-10-31 00:30] proful commented on #219
assets folder can be used

[2020-10-31 00:30] #219 closed

[2020-10-31 00:30] #243 closed

[2020-10-31 00:31] #244 closed

[2020-10-31 00:31] #245 closed

[2020-10-31 00:31] #272 closed

[2020-10-31 00:31] #274 closed

[2020-10-31 00:31] #275 closed

[2020-10-31 00:31] #281 closed

[2020-10-31 00:32] proful commented on #287
Refer wiki

[2020-10-31 00:32] #287 closed

[2020-10-31 00:32] #286 closed

[2020-10-31 00:32] #288 closed

[2020-10-31 00:32] #302 closed

[2020-10-31 00:32] #308 closed

[2020-10-31 00:32] #330 closed

[2020-10-31 00:33] proful commented on #435
Please move to resources section/articles

[2020-10-31 00:33] #435 closed

[2020-10-31 00:33] proful commented on #426
in the future, it can be re-opened.

Now cleaning up issues.

[2020-10-31 00:33] #426 closed

[2020-10-31 00:34] #417 closed

[2020-10-31 00:34] #343 closed

[2020-10-31 00:35] #351 closed

[2020-10-31 00:35] #362 closed

[2020-10-31 00:35] #406 closed

[2020-10-31 00:35] #407 closed

[2020-10-31 00:36] proful commented on #434
thumbnail designed bt @johnjacobkenny and @Na-ilah good enough

[2020-10-31 00:36] #434 closed

[2020-10-31 00:37] proful commented on #420
@johnjacobkenny please move to docs section

[2020-10-31 00:37] #420 closed

[2020-10-31 00:37] proful commented on #447
This will be ongoing activity

[2020-10-31 00:37] #447 closed

[2020-10-31 00:38] #408 closed

[2020-10-31 00:38] #409 closed

[2020-10-31 00:39] proful commented on #401
I am fine with yargs created by @billgufran

[2020-10-31 00:39] #401 closed

[2020-10-31 00:39] proful commented on #303
in the future, it can be re-opened.

Now cleaning up issues.

[2020-10-31 00:39] #303 closed

[2020-10-31 00:41] proful commented on #400
in the future, it can be re-opened.

Now cleaning up issues.

[2020-10-31 00:41] #400 closed

[2020-10-31 00:41] proful commented on #390
in the future, it can be re-opened.

Now cleaning up issues.

[2020-10-31 00:41] #390 closed

[2020-10-31 00:43] proful commented on #338
Can be moved to resources/docs

[2020-10-31 00:43] #338 closed

[2020-10-31 00:43] #418 closed

[2020-10-31 00:43] #469 closed

[2020-10-31 00:43] proful commented on #492
implemented

[2020-10-31 00:43] #492 closed

[2020-10-31 00:44] proful commented on #506
@johnjacobkenny please move it to resources/docs folder

[2020-10-31 00:44] #506 closed

[2020-10-31 00:44] #505 closed

[2020-10-31 00:44] #509 closed

[2020-10-31 00:45] proful commented on #542
in the future, it can be re-opened.

Now cleaning up issues.

[2020-10-31 00:45] #542 closed

[2020-10-31 00:46] #511 closed

[2020-10-31 00:46] #352 closed

[2020-10-31 01:33] proful commented on #450
Done

[2020-10-31 01:33] #450 closed

[2020-10-31 03:06] johnjacobkenny commented on #506
Done

[2020-10-31 03:07] johnjacobkenny commented on #420
Done!

[2020-10-31 03:09] johnjacobkenny commented on #441
Awesome! That was the intention :smiley:

[2020-10-31 03:13] johnjacobkenny commented on #435
@twindle-co/developer if anyone wants to take this up?

[2020-10-31 16:35] piratelicorne commented on #531
to a team? we are going to group people! or to help grouping?

[2020-11-02 01:58] proful commented on #558
For now removed dependency of prettier & eslist just to lower the barrier of entry

[2020-11-02 01:58] #558 closed

[2020-11-02 01:58] proful commented on #440
Move to docs

[2020-11-02 01:58] #440 closed

[2020-11-02 01:59] proful commented on #487
Move to docs

[2020-11-02 01:59] #487 closed

[2020-11-02 02:00] proful commented on #480
We have simple PR template good for now

[2020-11-02 02:00] #480 closed

[2020-11-02 02:01] proful commented on #477
Landing page finalized by @JoelVinayKumar

[2020-11-02 02:01] #477 closed

[2020-11-02 02:02] proful commented on #184
Initial design finalized. closing this ticket.

[2020-11-02 02:02] #184 closed

[2020-11-02 02:04] proful commented on #271
@Akshay2996 raise a PR and close this issue please

[2020-11-02 09:23] vasudeveloper001 opened #562 "Landing page enhancements needed"
**Problems**
- [x] Remove the -webkit and -mz lines from our style.css file in /twindle-web/style.css
- [ ] Enhance the banner design and put it on the web page.
- [ ] Retrieve the emails from form - form submission using JavaScript to Google Excel sheet.
- [x] Replace lorem ipsum with the real working text.

@twindle-co/html-css

[2020-11-02 13:37] Mira-Alf opened #566 "Wiki page for running the CLI Application"
The following wiki page has been created for the steps to run the CLI application:
[Running the Twindle CLI Application](https://github.com/twindle-co/twindle/wiki/Steps-for-Running-the-Twindle-CLI-Application)

The wiki assumes that NodeJS is already installed and the end user is familiar with running NodeJS applications. If anyone wants to update the wiki for how to do that, please feel free to

[2020-11-02 14:11] Akshay2996 commented on #271
I have raised a PR & is going to close this issue now.

[2020-11-02 14:11] #271 closed

[2020-11-02 14:12] proful commented on #566
Very good @Mira-Alf

npm install dotenv

No need to install one by one

npm install

Will install everything

[2020-11-02 14:14] Mira-Alf commented on #566
@proful oops, I didnt know npm install will install everything.. Thanks, will edit the wiki

[2020-11-02 14:56] johnjacobkenny commented on #566
@Mira-Alf you can use backticks to indicate code blocks. It makes it much more readable. e.g. `npm install`

[2020-11-02 15:24] Mira-Alf commented on #566
@johnjacobkenny I guess you edited the wiki. I know I am being a pain with this markdown format. Sorry.

[2020-11-02 15:32] Mira-Alf opened #571 "Older Tweets from Twitter"
Hello all, here is an interesting Github repo I came across for fetching older tweets from a user timeline.

Code written in Python - I am not familiar with Python, some one take a look and see if it can be used by us.. The code doesnt use the Twitter API for fetching the tweets:
[Github repository to fetch older tweets](https://github.com/Jefferson-Henrique/GetOldTweets-python)

@vijaya-bhaskar m

[2020-11-02 15:37] Mira-Alf commented on #552
@PuruVJ has started working on this. Once his code has been submitted, we can test the error scenarios mentioned here and close this issue.

[2020-11-02 16:09] johnjacobkenny commented on #566
@Mira-Alf I can see that you like perfection (trust me, I used to be like that) but in my personal experience perfection as a goal has only pulled me down. Now the metric I try to optimize for is progress.

All I mean is that you can improve, and we are all here to improve, and we improve by making mistakes. :smiley:  You don't have to apologize :sweat_smile:

[2020-11-02 16:29] tolgaerdonmez commented on #571
It is using something like jquery, its name is pyquery 🙂

[2020-11-02 18:16] vijaya-bhaskar commented on #571
Actually using Tweepy which is a popular twitter python library we can get the old tweet content.
I just tried with a Dec 25th 2018 tweet -- https://twitter.com/i/web/status/1077617314818912257
@Mira-Alf we can discuss on this.

![tweepy_test](https://user-images.githubusercontent.com/5336488/97903644-5c289d00-1d65-11eb-9d12-f3ce0393947d.png)

[2020-11-03 10:55] proful opened #574 "twindle-cli not working"
![image](https://user-images.githubusercontent.com/354596/97976761-39f35580-1e1f-11eb-92f0-68960dacb950.png)

@Mira-Alf @PuruVJ @tolgaerdonmez

[2020-11-03 10:59] tolgaerdonmez commented on #574
I think it is a handled error message, does there any output in the pdf?

[2020-11-03 11:06] proful opened #576 "twindle-cli unnecessary console log"
![image](https://user-images.githubusercontent.com/354596/97977714-bc304980-1e20-11eb-9d93-50eb2f4c9110.png)
@twindle-co/developer

[2020-11-03 11:07] proful commented on #574
nope!
I realized that twitter id doesn't exist. Better error message help instead of error 😀

[2020-11-03 11:08] proful opened #577 "twindle-cli image not appearing"
Example
`node . -i 1323319470731849728 -o dan1`

@twindle-co/developer

[2020-11-03 11:08] PuruVJ commented on #574
Right. I'll look into it.

[2020-11-03 11:09] proful commented on #541
Closing this. Please co-ordinate in twitter or discord group.

[2020-11-03 11:09] #541 closed

[2020-11-03 11:10] proful commented on #531
Closing this. Please co-ordinate in twitter or discord group.

[2020-11-03 11:10] #531 closed

[2020-11-03 11:10] proful commented on #233
Closing this. We can reopen in future.

[2020-11-03 11:10] #233 closed

[2020-11-03 11:11] proful commented on #533
Merged the PR by @RafaelBatman55

[2020-11-03 11:11] #533 closed

[2020-11-03 11:12] proful commented on #552
Closing this issue. This is very generic. We can be specific.

[2020-11-03 11:12] #552 closed

[2020-11-03 11:12] proful commented on #554
Not needed now.

[2020-11-03 11:12] #554 closed

[2020-11-03 11:14] proful commented on #562
@vasudeveloper001 @JoelVinayKumar please elaborate.
So that @cankocman can pick and work!

[2020-11-03 11:14] proful commented on #566
Wiki looks good!

[2020-11-03 11:14] #566 closed

[2020-11-03 11:27] PuruVJ commented on #576
That's for testing. Will be removed soon

[2020-11-03 11:32] vasudeveloper001 commented on #562
**Enhance the banner design and put it on the web page.**

This point is concerned with the main section in the code. See if you can come up with some more unique and clear design and layout for this section that doesn't feel empty. Submit for others to review and if others like it, it will be merged. Background color will remain what it is for now.

[2020-11-03 11:52] johnjacobkenny opened #578 "Refactor twindle cli to use mock data rather than using twitter API"
Currently the cli is tied to the API keys being available. This means that developers without the API access won't be able to work on any of the rendering code.

We could have some argument in the cli (say `-m` for mock mode). If this mode is enabled, then the user does not need to provide a thread id.

- You would need to add an argument in the code here https://github.com/twindle-co/twindle/blob

[2020-11-03 12:55] proful opened #579 "twindle-cli sending pdf to kindle"
Any approach is fine.

@tolgaerdonmez

[2020-11-03 14:04] shekhar10feb opened #581 "Showing Error [ERR_MODULE_NOT_FOUND]"
When I tried to execute the `index.js` code, which is in  `playground/cli/spike/cli-epub` folder to generate epub, **VS Code Terminal** showed this error as shown below,

![err](https://user-images.githubusercontent.com/72906055/97987561-8760ca00-1e01-11eb-960f-b3483a17343f.JPG)

If this error occurs then, please install epub-gen by writing `install epub-gen --save` command  in your terminal  and

[2020-11-03 14:04] #581 closed

[2020-11-03 14:12] PuruVJ opened #582 "Add error for absense of Bearer token"
Create error when Bearer token is absent.

[2020-11-03 14:22] proful opened #583 "Twindle daily call"
# 3rd November

## Task1

a couple of observation here like that

the image i think

is not yet done like for example that

image if it is appearing in the pdf file

it will be good enough

but the new line character other thing

is already addressed

## Task 2

and i don't think we need to have two

time profile image repeating

## Task 3 Initial page design
or we have to come up with some kind o

[2020-11-03 15:52] johnjacobkenny commented on #583
lol

[2020-11-03 18:35] tolgaerdonmez commented on #579
@proful

I'm not decided what to use now but, I couldn't setup the [**calibre cli**](https://manual.calibre-ebook.com/develop.html#macos-development-environment) to my path on macos, that bothered me so much, can you help me solve that ?"

[2020-11-03 18:39] #582 closed

[2020-11-03 18:53] proful commented on #579
It's early morning here. I will explore few options today after 5-6hr.

[2020-11-03 18:54] tolgaerdonmez commented on #579
Okay, thanks

[2020-11-03 19:13] tolgaerdonmez commented on #579
I sent the pdf to kindle directly using email, and shows that kindle alone supports pdfs, but really in a pdf format instead of a readible book like I sent converted it by calibre.

![image](https://user-images.githubusercontent.com/45141388/98030261-ce5eb780-1e21-11eb-8d45-5bed12db083f.png)

[2020-11-03 19:29] tr0mbl3y commented on #583
may be @proful is checking subtitles of talks :smile_cat:

[2020-11-03 20:19] tolgaerdonmez commented on #579
I solved this, I was having an issue special to my case, no need to look to this problem.

[2020-11-03 21:04] tolgaerdonmez commented on #579
I did everything, other than sending the document to kindle using nodemailer, I think we need to set the attachment contentType encoding and such suitable to kindle because the same file works when I send with gmail. Help please!

[2020-11-04 01:46] johnjacobkenny commented on #583
Yeah he did something!

[2020-11-04 01:50] proful commented on #579
@tolgaerdonmez I have configured nodemailer.config.json doesn't seems to work!

No error

[2020-11-04 02:22] Mira-Alf commented on #583
Wow. That was the whole call?

[2020-11-04 04:17] proful commented on #583
😂

[2020-11-04 05:13] tolgaerdonmez commented on #579
@proful

So you need to add calibre command line tools to path to use node-calibre,
Add this to path: `/Applications/calibre.app/Contents/MacOS`

And also I can send mail using Nodemailer but the kindle doesn't recognize the book, which sent from Nodemailer.

[2020-11-04 05:24] proful commented on #579
@tolgaerdonmez fixed that path issue and now same stage as you

[2020-11-04 06:12] tolgaerdonmez commented on #579
@proful I couldn't get smtp-client to run, either it doesn't do auth, or just waits till timeout.

[2020-11-04 06:17] tolgaerdonmez commented on #579
Now it sent, but none I receive.

![image](https://user-images.githubusercontent.com/45141388/98075969-6db19800-1e7e-11eb-9a19-36f81dbe2cd6.png)

Normally in Nodemailer I set the port to **465** but here it doesn't work unless **587**.

[2020-11-04 06:17] proful commented on #579
hmm keep trying. I will also keep experimenting.
@PuruVJ also looking
@johnjacobkenny can also help if he get time

[2020-11-04 06:19] tolgaerdonmez commented on #579
Okay, it runs.
But when I sent mail to **tolgaerdonmez@gmail.com** doesn't receive
when I sent to **tolgaerdonmez@weblendir.com** it does recieve

[2020-11-04 06:20] proful commented on #579
@tolgaerdonmez push the code. Don't overwrite node mailer code.

[2020-11-04 06:21] tolgaerdonmez commented on #579
I'm trying to add attachments, and afterwards sending it to kindle

[2020-11-04 06:31] proful opened #593 "Light mode to dark mode switcher"
![image](https://user-images.githubusercontent.com/354596/98077028-855f3f80-1ec3-11eb-8399-21b5c434b797.png)

Light mode to dark mode switcher

[2020-11-04 06:35] UnevenCoder commented on #593
cool will try this

[2020-11-04 06:44] tolgaerdonmez commented on #579
@proful  I couldn't solve any further right now, I created a pr including it. someone could solve it :)
Pr #594

[2020-11-04 06:46] proful commented on #579
no worries @tolgaerdonmez good progress :)
Merged ur PR

[2020-11-04 06:48] tolgaerdonmez commented on #579
thanks, hope we'll solve this problem. A question in my mind, can we send to kindle using AWS SES ? If it is possible I'll try it.

[2020-11-04 06:53] proful commented on #579
Sure that is possible and a great idea

[2020-11-04 09:29] #576 closed

[2020-11-04 09:30] #574 closed

[2020-11-04 09:58] JoelVinayKumar opened #595 "Automate Readme.md"
If some new contributor visits twindle, they will need to know the exact stack we're working on. This will help them decide if they want to join us or not. This is just a suggestion from me. We can market our project better through this. Refer sample image 1
We can also include one column of all our daily calls as a playlist and show like the second image.
[Readme.md](https://github.com/twindle-co

[2020-11-04 10:28] proful commented on #595
I am fine with this. We can merge the PR if any one raises it..

[2020-11-04 10:38] tolgaerdonmez commented on #579
We could upload the created pdf's the S3 buckets

[2020-11-04 13:34] johnjacobkenny commented on #579
So here is the process I went through,

Initially I sent a test email from my gmail. This worked.
Then Proful directed me on how to run the code, and I was able to send the email from my gmail id. However amazon was sending failure message for each email sent.

So I thought about taking a look at the raw email content to see if there are any differences. Using this option, I downloaded both emails

[2020-11-04 13:35] Mira-Alf commented on #579
Amazing Kenny. True brain of a debugger.

[2020-11-04 13:37] tolgaerdonmez commented on #579
@johnjacobkenny Verrrry awesome job kenny, I'm astonsihed. I also thought the mime type as thr problem but couldnt learn the truth:)
👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻

[2020-11-04 13:47] proful commented on #579
Great efforts @johnjacobkenny

I spent few hours but couldn't figure out myself.

You debugging approach is spot on.

[2020-11-04 14:04] johnjacobkenny commented on #579
Closed using PR #599

[2020-11-04 14:04] #579 closed

[2020-11-04 14:06] johnjacobkenny commented on #579
If anyone can try, please run the code

[2020-11-04 14:12] johnjacobkenny commented on #579
@proful Also just to mention if anyone who is trying has 2FA enabled for Gmail, they should generate an app password from google https://support.google.com/accounts/answer/185833?hl=en it is straightforward, they will generate a separate password which you can use instead of your usual gmail password.

[2020-11-04 14:18] johnjacobkenny opened #600 "Github pages not working"
![image](https://user-images.githubusercontent.com/19240564/98122447-a1201100-1ed6-11eb-9cc2-a5b0f2e834be.png)
![image](https://user-images.githubusercontent.com/19240564/98122461-a7ae8880-1ed6-11eb-833c-85a60af464cb.png)

[2020-11-04 14:39] johnjacobkenny opened #601 "Error running refactored cli code"
![image](https://user-images.githubusercontent.com/19240564/98124727-94e98300-1ed9-11eb-883d-00d89c34c1af.png)

I think I need to run `npm i` in the core folder as well, but would be nice if something can be done about this.

[2020-11-04 16:39] JoelVinayKumar opened #603 "Update website according to new design"
Here is the new design for our website. You can contribute to this under `twindle-web`

### Figma
Figma will help you with CSS and measurements.
https://www.figma.com/file/34YX1uk6ZVhQWVzLyjzUdG/Twindle?node-id=0%3A1

### Guidelines
* There is absolutely no need to stick to measurement
* But, please stick to:
   - alignment
   - colors
   - font
   - font weight

These are the mockups. Comment bel

[2020-11-04 16:57] JoelVinayKumar opened #604 "Change export html format"
Here is the new design for our document. You can contribute to this under twindle-cli

### Figma
Figma will help you with CSS and measurements.
https://www.figma.com/file/34YX1uk6ZVhQWVzLyjzUdG/Twindle?node-id=0%3A1

### Guidelines
* There is absolutely no need to stick to measurement
* But, please stick to:
  - alignment
  - colors
  - font
  - font weight

These are the mockups. Comment below fo

[2020-11-04 17:34] tolgaerdonmez commented on #604
This is a good idea, although for the docs, which we are sending to tidible, only need a proper font size, and spacing. Just though it was worth mentioning.
good designs 👍🏻👍🏻

[2020-11-04 18:56] tr0mbl3y commented on #601
@johnjacobkenny : like install all required  dependencies automatically would be a nice feature

[2020-11-04 19:12] pranavgoel29 commented on #119
Thank you

[2020-11-04 20:17] proful opened #607 "Important refactor please"
![Screenshot_20201105_071354.jpg](https://user-images.githubusercontent.com/354596/98163175-8c736580-1f36-11eb-8191-26755c10ac19.jpg)

Sorry I merged with out checking.

At this stage I don't want Twitter-core as separate folder.

root level there should be only one folder twitter-cli and one package.json file

Someone please fix it

@PuruVJ @Mira-Alf @johnjacobkenny @tolgaerdonmez

[2020-11-04 20:18] proful commented on #604
Agree with @tolgaerdonmez

[2020-11-04 20:34] proful commented on #601
twindle-core not needed at this stage

[2020-11-05 00:49] proful commented on #607
Restored.

Deleted twindle-core for now.

@PuruVJ we can discuss more.

[2020-11-05 01:00] #607 closed

[2020-11-05 01:11] proful commented on #526
Duplicate #600

[2020-11-05 01:11] #526 closed

[2020-11-05 01:34] johnjacobkenny commented on #601
@proful the twitter api stuff has been moved to core 😅

So it worked after I did npm install in twindle-core

[2020-11-05 01:35] johnjacobkenny commented on #601
There is something called yarn workspaces which I think solves this, but that would be getting ahead of ourselves...

[2020-11-05 01:37] proful commented on #601
Yes @PuruVJ reverted his changes. So it is working now.

[2020-11-05 01:56] johnjacobkenny commented on #601
Great!

[2020-11-05 01:56] #601 closed

[2020-11-05 02:01] PuruVJ opened #614 "Node v14 for the development stage"
If the title scared you, I implore you to keep an open mind.

I suggest that we the active devs on the coding side(primarily the CLI), for the duration of development, keep the de-facto version of Node JS to be the current LTS, which is v14.15.0

![image](https://user-images.githubusercontent.com/47742487/98186742-6ef1cc00-1f35-11eb-9e85-f5149d40a438.png)

### Why

Quite simple: **Optional Chainin